nav {
    background-color: #009688;
    height: 57px;
    line-height: 57px;
    z-index: 100;
    top:0;
    position: fixed;
}

nav img {
    vertical-align: middle;
    margin: 0 10px 0 10px
}

nav .brand-logo {
    position: absolute;
    top:0px;
    left:60px;
    font-size: 1.5rem !important;
}
nav .breadcrumbs{
    display: inline-block;
    margin: 6px 0 0 310px;
    font-size: 1.125rem;
}
.organisation{


    font-size: 1.5rem;
}

nav ul a {
    color: hsla(0,0%,100%,.75);
}
.main-logo-container{
    position: relative;
}
.main-logo-planboard{
    position: absolute;
    top:-3px;
    left: -10px;
 
}

.main-logo-frontend{
    margin: -3px -7px 0 -5px;
}
