// Materialize
@import '~materialize-css/dist/css/materialize.min.css';

@import "footer";
@import "nav";

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
