// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
@import 'variables';

// Import font-awesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Materialize
@import '~materialize-css/dist/css/materialize.min.css';
@import "~animate.css/animate.min.css";

@import "footer";
@import "nav";

main{
    padding-top: 100px;
}
.brand-logo{
    margin-top: 0 !important;
    font-size: 1.5rem;
}









