@import '~materialize-css/dist/css/materialize.min.css';
@import "footer";
@import "nav";
@import "variables";

main{
   
    height: calc(100vh - 65px);
}

.menu-buttons{
    text-align: left;
}
.menu-button{
    text-align: left;
    color:white;
    height: 50px;
    background-color: $teal;
    padding: 20px 0 20px 50px !important;
    width: 100%;
    position: relative;
    margin: 1px 0px;
    .icon{color: white;
        line-height: 30px;
        position: absolute;
        top: 10px;
        left: 20px;
       
    }
    .text{
        position: absolute;
        top:8px;
        left: 50px;
    }

}
.datepicker-container{
   
    padding:0 !important;
}
.modal-overlay{
   
}
.modal{
    width: 60vw !important;
    max-height: 80vh !important;
}


