@import '~materialize-css/dist/css/materialize.min.css';
@import "footer";
@import "nav";
@import "_variables";
header, main, footer {
    padding-left: 300px;
}
header,nav{
    width: calc(100vw - 300px);
}
main{
    padding-top: 50px;
}
.brand-logo{
    margin-top:-20px;
    font-size: 1.5rem;
}
@media only screen and (max-width : 992px) {
    header,nav, main, footer {
        padding-left: 0;
        width: 100%;
    }
}
.logo{
    width: 100%;
    height: 250px;
    text-align: center;
    padding:50px
}
.menu-button{
    text-align: left;
    color:white;
    height: 50px;
    background-color: $teal;
    padding: 10px 50px;
    width: 100%;
    position: relative;
    margin: 5px 0px;
    .icon{color: white;
        line-height: 30px;
        position: absolute;
        top: 12px;
        left: 20px;

    }
    .text{
        margin-top: -50px;
    }

}

