<template>
    <div class="row">
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : emailInValid}" id="email" type="email" name="email" v-model="email" required>
            <label for="email">Email</label>
            <span v-bind:class="{'red-text' : emailInValid}" class="helper-text">{{ emailMessage }}</span>
        </div>
        <div class="center">
            <button v-bind:class="{'disabled': !emailValid}" type="submit" class="btn waves-effect">{{ translations[selectedLanguage].send_link }}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "ForgetPasswordComponent",
    data: function () {
        return {
            email: '',
            emailInValid: false,
            emailValid: false,
            emailMessage: '',
            formValid: false,
            translations: {
                "en" : {
                    "send_link" : "Send link",
                    "email_empty" : "Email can not be empty",
                    "email_invalid" : "Email is invallid"
                },
                "nl" : {
                    "send_link" : "Link versturen",
                    "email_empty" : "Email kan niet leeg zijn",
                    "email_invalid" : "Email adres is ongeldig"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
        }
    },

    watch: {
        email(newVal) {
            if(newVal.trim() === '') {
                this.emailInValid = true;
                this.emailValid = false;
                this.emailMessage = this.translations[this.selectedLanguage].email_empty;
            } else if(!this.isValidEmail(newVal)) {
                this.emailInValid = true;
                this.emailValid = false;
                this.emailMessage = this.translations[this.selectedLanguage].email_invalid;
            } else {
                this.emailInValid = false;
                this.emailValid = true;
                this.emailMessage = '';
            }
            this.formIsValid()
        },
    },

    methods: {
        formIsValid() {
            this.formValid = this.emailValid;
        },
        isValidEmail: function (email) {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)
        },
    }
}
</script>

<style scoped>

</style>
