<template>
    <div class="row">
        <div class="input-field col s12">
            <input type="email" id="email" name="email" required>
            <label for="email">Email</label>
        </div>
        <div class="col s12 input-field">
            <input type="password" id="password" name="password" required>
            <label for="password">{{ translations[selectedLanguage].password }}</label>
        </div>
        <div class="input-field  col s12">
            <a class="right" href="forget-password">{{ translations[selectedLanguage].forgot_password }}</a>
        </div>
        <div class="center">
            <button type="submit" class="btn waves-effect">{{ translations[selectedLanguage].login }}</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: "LoginComponent",
            translations: {
                "en": {
                    "password" : "Password",
                    "forgot_password" : "Forgot password",
                    "login" : "Login"
                },
                "nl": {
                    "password" : "Wachtwoord",
                    "forgot_password" : "Wachtwoord vergeten",
                    "login" : "Inloggen"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
        }
    }
}
</script>

<style scoped>

</style>
