<template>
    <div class="row">
        <div class="input-field col s12">
            <input v-bind:class="{'invalid' : nameInValid}" id="name" type="text" name="name" v-model="name" required>
            <label for="name">{{ translations[selectedLanguage].name }}</label>
            <span v-bind:class="{'red-text' : nameInValid}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="input-field col s12">
            <input v-bind:class="{'invalid' : emailInValid}" id="email" type="email" name="email" v-model="email" required>
            <label for="email">Email</label>
            <span v-bind:class="{'red-text' : emailInValid}" class="helper-text">{{ emailMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : passwordInValid}" type="password" name="password" id="password" v-model="password" required>
            <label for="password">{{ translations[selectedLanguage].password }}</label>
            <span v-bind:class="{'red-text' : passwordInValid}" class="helper-text">{{ passwordMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' :passwordConfirmInValid }" type="password" name="password_confirm" id="password_confirm" v-model="password_confirm" required>
            <label for="password_confirm">{{ translations[selectedLanguage].confirm_password }}</label>
            <span v-bind:class="{'red-text' : passwordConfirmInValid}" class="helper-text">{{ passwordConfirmMessage }}</span>
        </div>
        <div class="center">
            <button type="submit" v-bind:class="{'disabled' : !formValid}" class="btn waves-effect waves-light">{{ translations[selectedLanguage].register }}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "RegisterComponent",
    data: function () {
        return  {
            name: '',
            email: '',
            password: '',
            password_confirm: '',
            nameMessage: '',
            emailMessage: '',
            passwordMessage: '',
            passwordConfirmMessage: '',
            emailValid: false,
            nameValid: false,
            passwordValid: false,
            passwordConfirmValid: false,
            emailInValid: false,
            nameInValid: false,
            passwordInValid: false,
            passwordConfirmInValid: false,
            formValid: false,
            translations: {
                "en": {
                    "name" : "Name",
                    "email" : "Email",
                    "password" : "Password",
                    "confirm_password" : "Confirm password",
                    "register" : "Register",
                    "empty_name" : "Name can not be empty",
                    "empty_email" : "Email can not be empty",
                    "invalid_email" : "Email is invalid",
                    "empty_password" : "Password can not be empty",
                    "password_tooshort": "Password has to be at least 8 characters",
                    "password_nomatch" : "Passwords do not match"
                },
                "nl": {
                    "name" : "Naam",
                    "email" : "Email",
                    "password" : "Wachtwoord",
                    "confirm_password" : "Confirmeer wachtwoord",
                    "register" : "Registreer",
                    "empty_name" : "Naam kan niet leeg zijn",
                    "empty_email" : "Email kan niet leeg zijn",
                    "invalid_email" : "Email is ongeldig",
                    "empty_password" : "Wachtwoord kan niet leeg zijn",
                    "password_tooshort": "Wachtwoord moet minimaal 8 karakters lang zijn",
                    "password_nomatch" : "Wachtwoorden komen niet met elkaar overeen"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
        }
    },

    watch: {
        name(newVal) {
            if(newVal.trim() === '') {
                this.nameInValid = true;
                this.nameValid = false;
                this.nameMessage = this.translations[this.selectedLanguage].empty_name;
            } else {
                this.nameInValid = false;
                this.nameValid = true;
                this.nameMessage = '';
            }
            this.formIsValid()
        },

        email(newVal) {
            if(newVal.trim() === '') {
                this.emailInValid = true;
                this.emailValid = false;
                this.emailMessage = this.translations[this.selectedLanguage].empty_email;
            } else if(!this.isValidEmail(newVal)) {
                this.emailInValid = true;
                this.emailValid = false;
                this.emailMessage = this.translations[this.selectedLanguage].invalid_email;
            } else {
                this.emailInValid = false;
                this.emailValid = true;
                this.emailMessage = '';
            }
            this.formIsValid()
        },

        password(newVal) {
            if(newVal.trim() === '') {
                this.passwordMessage = this.translations[this.selectedLanguage].empty_password;
                this.passwordValid = false;
                this.passwordInValid = true;
            }  else if(newVal.length < 8) {
                this.passwordMessage = this.translations[this.selectedLanguage].password_tooshort;
                this.passwordValid = false;
                this.passwordInValid = true;
            } else {
                this.passwordMessage = '';
                this.passwordValid = true;
                this.passwordInValid = false;
            }
            this.formIsValid()
        },

        password_confirm(newVal) {
            if(this.password !== newVal) {
                this.passwordConfirmMessage = this.translations[this.selectedLanguage].password_nomatch;
                this.passwordConfirmValid = false;
                this.passwordConfirmInValid = true
            } else {
                this.passwordConfirmMessage = '';
                this.passwordConfirmValid = true;
                this.passwordConfirmInValid = false
            }
            this.formIsValid()
        }
    },

    methods: {
        isValidEmail: function (email) {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)
        },

        formIsValid() {
            this.formValid = this.passwordConfirmValid && this.emailValid && this.nameValid && this.passwordValid
        }

    }
}
</script>

<style scoped>

</style>
