<template>
    <div class="row">
        
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : passwordInValid}" type="password" name="password" id="password" v-model="password" required>
            <label for="password">{{ translations[selectedLanguage].password }}</label>
            <span v-bind:class="{'red-text' : passwordInValid}" class="helper-text">{{ passwordMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' :passwordConfirmInValid }" type="password" name="password_confirm" id="password_confirm" v-model="password_confirm" required>
            <label for="password_confirm">{{ translations[selectedLanguage].confirm_password }}</label>
            <span v-bind:class="{'red-text' : passwordConfirmInValid}" class="helper-text">{{ passwordConfirmMessage }}</span>
        </div>
        <div class="center">
            <button v-bind:class="{'disabled': !formValid}" type="submit" class="btn waves-effect">{{ translations[selectedLanguage].reset_password }}</button>
        </div>
        
    </div>
</template>

<script>
export default {
    name: "ResetPasswordComponent",
    data: function () {
        return {
            password: '',
            password_confirm: '',
            passwordMessage: '',
            passwordConfirmMessage: '',
            formValid: false,
            passwordValid: false,
            passwordConfirmValid: false,
            passwordInValid: false,
            passwordConfirmInValid: false,
            translations: {
                "en" : {
                    "password" : "Password",
                    "confirm_password" : "Confirm password",
                    "reset_password" : "Reset password",
                    "empty_password" : "Password can not be empty",
                    "password_tooshort": "Password has to be at least 8 characters",
                    "password_nomatch" : "Passwords do not match"
                },
                "nl" : {
                    "password" : "Wachtwoord",
                    "confirm_password" : "Confirmeer wachtwoord",
                    "reset_password" : "Reset wachtwoord",
                    "empty_password" : "Wachtwoord kan niet leeg zijn",
                    "password_tooshort": "Wachtwoord moet minimaal 8 karakters lang zijn",
                    "password_nomatch" : "Wachtwoorden komen niet met elkaar overeen"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
        }
    },
    watch: {
        password(newVal) {
            if(newVal.trim() === '') {
                this.passwordMessage = this.translations[this.selectedLanguage].empty_password;
                this.passwordValid = false;
                this.passwordInValid = true;
            }  else if(newVal.length < 8) {
                this.passwordMessage = this.translations[this.selectedLanguage].password_tooshort;
                this.passwordValid = false;
                this.passwordInValid = true;
            } else {
                this.passwordMessage = '';
                this.passwordValid = true;
                this.passwordInValid = false;
            }
            this.formIsValid()
        },

        password_confirm(newVal) {
            if(this.password !== newVal) {
                this.passwordConfirmMessage = this.translations[this.selectedLanguage].password_nomatch;
                this.passwordConfirmValid = false;
                this.passwordConfirmInValid = true
            } else {
                this.passwordConfirmMessage = '';
                this.passwordConfirmValid = true;
                this.passwordConfirmInValid = false
            }
            this.formIsValid()
        }
    },

    methods: {
        formIsValid () {
            this.formValid = this.passwordValid && this.passwordConfirmValid;
        }
    }
}
</script>

<style scoped>

</style>
