<template>
    <div class="row">
        <div class="col s12">
            <div class="row">
               
                <div class="input-field col s11">
                    <i class="material-icons prefix">people</i>
                    <input type="text" id="label" v-model="label"  name="label">
                    <label for="label">Label</label>
                    <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
                </div>
                <div class="input-field col s11">
                        <i class="material-icons prefix">location_on</i>
                        <input type="text" id="address" v-model="street"  name="address">
                        <label for="address">Street</label>
                </div>

                    <div class="input-field col s11">
                        <i class="material-icons prefix">local_post_office </i>
                        <input type="text" id="zipcode" v-model="zipcode" name="zipcode">
                        <label for="zipcode">Zipcode</label>
                    </div>

                    <div class="input-field col s11">
                        <i class="material-icons prefix">location_city </i>
                        <input v-bind:class="{'invalid' : cityError}" type="text" id="city" v-model="city" name="city">
                        <label for="city">City</label>
                    </div>

                    <div class="input-field col s11">
                        <i class="material-icons prefix">public</i>
                        <input v-bind:class="{'invalid' : countryError}" type="text" id="country" v-model="country" name="country">
                        <label for="country">Country</label>
                    
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">assignment</i>
                        <input v-bind:class="[{'invalid' : countryError},'materialize-textarea','textarea','description']" type="text" id="notes" v-model="overheadTime" name="description">
                        <label for="notes">Default overhead time</label>
             
                    </div>
                    <div class="input-field col s5 right-field">
                        <i class="material-icons prefix">timer</i>
                        <input v-bind:class="[{'invalid' : countryError},'materialize-textarea','textarea','description']" type="text" id="notes" v-model="itemTime" name="description">
                        <label for="notes">Default time per item</label>
             
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <textarea v-bind:class="[{'invalid' : countryError},'materialize-textarea','textarea','description']" type="text" id="notes" v-model="description" name="description"></textarea>
                        <label for="notes">description</label>
                    
                    </div>
                    <div class="input-field col s5 right-field">
                        <i class="material-icons prefix">note</i>
                        <textarea v-bind:class="[{'invalid' : countryError},'materialize-textarea','textarea']" type="text" id="notes" v-model="notes" name="notes"></textarea>
                        <label for="notes">Notes</label>
                    
                    </div>
                    
                    <div class="row center">
                        <a @click="saveAddress" :class="[{'disabled': !formValid},'btn','col s10 offset-s1']" href="#!">{{action}} Address</a>
                    </div>
       

            </div>
            
        </div>
        
    </div>
</template>

<script>
import draggable from "vuedraggable";


export default {
    name: "AddressComponent",
    components: {
        draggable,
    },

    props: {
        id:String,
        apitoken: String,
        addressesstring:String,
        organisationstring:String
    },
    mounted() {
        if(this.organisationstring){
            this.organisation = JSON.parse(this.organisationstring)
            this.overheadTime = this.organisation.overhead_time
            this.itemTime = this.organisation.item_time
        }
        if(this.addressesstring){
            console.log(this.addressesstring)
            let address = JSON.parse(this.addressesstring)
            this.label = address.label
            this.street = address.street
            this.zipcode = address.zipcode
            this.city = address.city
            this.country = address.country
            this.addressId = address.id
            this.notes = address.notes
            this.description = address.description
            this.action = "edit"
            if (address.overhead_time){
                this.overheadTime = address.overhead_time
            }
            if (address.item_time){
                this.itemTime = address.item_time
            }
          
        } 
        else {
            this.country = "Nederland"
        }
        
    },
    data() {
        return {
            selectedLanguage:'en',
            label:"",
            labelError:false,
            labelValid:false,
            labelMessage:'',

            street:"",
            streetError:false,
            streetValid:false,
            streetMessage:'',

            zipcode:"",
            zipcodeError:false,
            zipcodeValid:false,
            zipcodeMessage:'',

            city:"",
            cityError:false,
            cityValid:false,
            cityMessage:'',

            country:"",
            countryError:false,
            countryValid:false,
            countryMessage:'',

            notes:"",
            description:"",
            itemTime:1,
            overheadTime:10,


            error:false,
            formValid:false,
            translations: {
                "en" : {
                    "address": "address",
                    "add_address": "Add an address",
                    "addresses": "addresses",
                    "close" : "close",
                    "no_address" : "No address filled in",
                    "no_csv" : "No csv file",
                    "file_empty" : "File can not be empty",
                    "import" : "Import"
                },
                "nl" : {
                    "address": "adres",
                    "add_address": "Voeg Adres toe",
                    "addresses": "adressen",
                    "close" : "close",
                    "no_address" : "Geen adres ingevoerd",
                    "no_csv" : "Geen csv bestand",
                    "file_empty" : "File kan niet leeg zijn",
                    "import" : "Importeren"
                }
            },
            languages: ['nl', 'en'],
            addresses:[],
            action:"add",
            organisation:"",
        }
    },

    methods: {
        

        saveAddress(event) {
            let url = ''
            
            
            const data = {
                'label' : this.label,
                'street': this.street,
                'zipcode' : this.zipcode,
                'city': this.city,
                'country': this.country,
                'description':this.description,
                'notes':this.notes,
                'organisationId': this.id
            }
            if(this.addressesstring){
                url = '../'
                data.id = this.addressId
                data.action = "update"
            }
            console.log(data)
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }

            axios.post(url+"store", data, config).then((response) => {
                console.log('saved');
                window.location = url+'index'
                //this.addresses.splice(0,0,data)

            }).catch((err) => {
                console.error(err)
            })
            
        },
        isFormValid() {
            this.formValid = this.labelValid && this.streetValid && this.zipcodeValid && this.cityValid && this.countryValid
        },
    },
    watch:{
        label(newVal){
            if (newVal.trim() === ''){
                this.labelMessage = "the label can not be empty";
                this.labelValid = false
                this.labelError = true


            }else{
                this.labelMessage = "";
                this.labelValid = true;
                this.labelError = false;
            }
            this.isFormValid();
        },
        street(newVal){
            if (newVal.trim() === ''){
                this.streetMessage = "the street can not be empty";
                this.streetValid = false
                this.streetError = true


            }else{
                this.streetMessage = "";
                this.streetValid = true;
                this.streetError = false;
            }
            this.isFormValid();
        },
        zipcode(newVal){
            if (newVal.trim() === ''){
                this.zipcodeMessage = "the zipcode can not be empty";
                this.zipcodeValid = false
                this.zipcodeError = true


            }else{
                this.zipcodeMessage = "";
                this.zipcodeValid = true;
                this.zipcodeError = false;
        }
        this.isFormValid();
        },
        city(newVal){
            if (newVal.trim() === ''){
                this.cityMessage = "the city can not be empty";
                this.cityValid = false
                this.cityError = true


            }else{
                this.cityMessage = "";
                this.cityValid = true;
                this.cityError = false;
            }
            this.isFormValid();
        },
        country(newVal){
            if (newVal.trim() === ''){
                this.countryMessage = "the country can not be empty";
                this.countryValid = false
                this.countryError = true


            }else{
                this.countryMessage = "";
                this.countryValid = true;
                this.countryError = false;
            }
        this.isFormValid();
        },
        

    },
    
    


}

</script>

<style scoped>
.mobile-address-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.collection-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.dropzone{
     -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    max-height: 30vh;
    min-height: 30vh;
    margin-top: 5px;
    width: 100%;
    min-height: 150px;
    background-image: url("/assets/dropzone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

.dropzone::-webkit-scrollbar {
  display: none;
}
.upper{
    overflow: hidden;
    height: 42vh;
    max-height: 42vh;
}
.close-button{
        position: absolute;
        top:0;
        right: 0;
        background: red;
        color:white;
        margin: 1px;
        font-size: 20px;
        cursor: pointer;

    }
    .input-field{
        margin: 10px;
     
    }
    .input-field input{
        
        background-color:rgba(77, 182, 173,.1);
    }
    .textarea{
        height: 200px;
        background-color:rgba(77, 182, 173,.1);
    }
    .description{
        margin-left:-20px;
        width: 110%;
    }
    .right-field{
        margin-left: -10px !important;
    }
</style>
