<template>
    <div>
        
        <div>
            <!-- <div class="grey lighten-3 sidemenu">
                <h4>{{translations[selectedLanguage].addresses}}</h4>
                <p>{{translations[selectedLanguage].add_routes_below}}</p>
                <add-address-component 
                    @importExcel="importExcel" 
                    @importFromModal="importFromModal" 
                    @update-parent="updateParent" 
                    @deleteAddress="deleteAddress" 
                    @update-addresses="updateAddress"
                    @update-colls="updateColls" 
                    v-bind:addresses="addresses"
                    v-bind:colls="colls" 
                    v-bind:apitoken="$attrs.apitoken" 
                    v-bind:selectedLanguage="selectedLanguage">
                </add-address-component>
            </div> -->
          {{organisationitemtime}}
            <planboard-component   
                               @addRouteToAddresses="updateAddress"
                               v-bind:planboardtype="planboardtype"
                               v-bind:planboardlabel="planboardlabel"
                               v-bind:planboarddescription="planboarddescription"
                               v-bind:organisationItemTime="organisationitemtime"
                               v-bind:organisationOverheadTime="organisationoverheadtime"
                               v-bind:colls="colls"
                               v-bind:apitoken="$attrs.apitoken"
                               v-bind:selectedLanguage="selectedLanguage"
                               v-bind:planningId="$attrs.planningid"
                               v-bind:organisationId="$attrs.organisationid"
                               v-bind:organisationlabel="organisationlabel"
                               v-bind:start="start"
                               ref="addressFilter"
            >
            </planboard-component>
        </div>
        <!-- <div class="center">
            <a href="#" class="btn waves-effect">Export to Excel</a>
        </div>   -->
    </div>
</template>

<script>
export default {
    name: "AppComponent",
    props: {
        selectedLanguage: {
            type: String,
            default: document.documentElement.lang
        },
        start:String,
        planboardlabel:String,
        planboardtype:String,
        planboarddescription:String,
        organisationlabel:String,
        organisationitemtime:String,
        organisationoverheadtime:String
    },
    data: function () {
        return {
            addresses: [],
            colls:6,
            translations: {
                "en" : {
                    "add_routes_below": "Add routes to the tool below",
                    "addresses": "addresses",
                },
                "nl" : {
                    "add_routes_below": "Voeg hieronder routes toe aan de tool",
                    "addresses": "adressen",
                }
            },
            languages: ['nl', 'en'],
        }
    },

    methods: {
        updateParent(addresses) {
            this.addresses = addresses;
        },
        updateAddress(address) {
            if(!Array.isArray(address)) {
                this.addresses.push(address);

            }
        },
        updateColls(colls){
            this.colls = colls
            //console.log(colls)
        },
        deleteAddress(key) {
            //console.log('delete address')
            this.addresses.splice(key, 1)
        },

        importFromModal(addresses) {
            this.$refs.addressFilter.filterTransportAndPeriods(addresses);
        },

        importExcel(periods) {
            this.$refs.addressFilter.importExcel(periods);
        }
    }
}
</script>

<style scoped>
.col.l2 {
    margin-bottom: 20px;
}
h4 {
    text-transform: capitalize;
}
.sidemenu{
    position: -webkit-sticky;
  position: fixed;
  top: 0;
    z-index: 1;
    width: 200px;
    height: 100vh;
}
</style>
