<template>
    <div class="row">
        <div class="col s12 input-field">
            <input id="name" :class="{'invalid' : nameInvalid, 'valid': nameValid}" type="text" name="name" v-model="name" required>
            <label for="name"> {{translations[selectedLanguage].name}}</label>
            <span :class="{'red-text' : nameInvalid}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input id="email" :class="{'invalid' : emailInvalid, 'valid' : emailValid}" type="email" name="email" v-model="email" required>
            <label for="email">{{translations[selectedLanguage].email}}</label>
            <span :class="{'red-text' : emailInvalid}" class="helper-text">{{ emailMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <textarea name="message" :class="{'invalid' : messageInvalid, 'valid' : messageValid}" id="message" v-model="message" class="materialize-textarea" required></textarea>
            <label for="message">{{translations[selectedLanguage].message}}</label>
            <span :class="{'red-text' : messageInvalid}">{{ messageMessage }}</span>
        </div>
        <div class="center">
            <button type="submit" :class="{'disabled' : !formValid}" class="btn waves-effect">{{translations[selectedLanguage].send}}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactComponent",
    data() {
        return {
            name: '',
            email: '',
            message: '',
            formValid: false,
            nameValid: false,
            nameInvalid :false,
            nameMessage: '',
            emailValid: false,
            emailInvalid: false,
            emailMessage: '',
            messageInvalid: false,
            messageValid: false,
            messageMessage: '',
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "name": "Name",
                    "email": "Email",
                    "message": "Message",
                    "send": "Send"
                },

                "nl": {
                    "name": "Naam",
                    "email": "Email",
                    "message": "Bericht",
                    "send": "Verzenden"
                },
            },
        }
    },

    methods: {
        isFormValid() {
            this.formValid = this.messageValid && this.nameValid && this.emailValid;
        },

        isValidEmail(email) {
            return /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        }
    },

    watch: {
        name(newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Naam kan niet leeg zijn'
                this.nameInvalid = true;
                this.nameValid = false;
            } else {
                this.nameMessage = ''
                this.nameInvalid = false;
                this.nameValid = true;
            }
            this.isFormValid();
        },

        email(newVal) {
            if(newVal.trim() === '') {
                this.emailInvalid = true;
                this.emailValid = false;
                this.emailMessage = 'Email kan niet leeg zijn';
            } else if(!this.isValidEmail(newVal)) {
                this.emailInvalid = true;
                this.emailValid = false;
                this.emailMessage = 'Geen geldig email adres';
            } else {
                this.emailInvalid = false;
                this.emailValid = true;
                this.emailMessage = '';
            }
            this.isFormValid();
        },

        message(newVal) {
            if(newVal.trim() === '') {
                this.messageMessage = 'Bericht kan niet leeg zijn';
                this.messageInvalid = true;
                this.messageValid = false;
            } else {
                this.messageMessage = '';
                this.messageInvalid = false;
                this.messageValid = true;
            }
            this.isFormValid();
        }
    }
}
</script>

<style scoped>

</style>
