<template>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>{{translations[selectedLanguage].transport}}</h4>
            <p>{{translations[selectedLanguage].below}}</p>
            <div v-for="address in $attrs.addresses">
                <p>
                    <label>
                        <input type="checkbox" v-model="address.accepted" :checked="address.accepted ? 'checked' : ''">
                        <span>{{ address.address }}</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{translations[selectedLanguage].cancel}}</a>
            <a @click="addAddresses" ref="#!" class="waves-effect waves-green btn-flat">{{translations[selectedLanguage].add}}</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "CSVModalComponent",
    data: function () {
        return {
            addresses: [],
            translations: {
                "en" : {
                    "transport" : "Transport",
                    "transport_below" : "You will find transport below",
                    "cancel" : "cancel",
                    "add" : "Add"
                },
                "nl" : {
                    "transport" : "Transport",
                    "transport_below" : "Hieronder vindt u uw transport",
                    "cancel" : "annuleren",
                    "add" : "Toevoegen"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
        }
    },

    methods: {
        addAddresses() {
            let addresses = [];
            this.$attrs.addresses.forEach((address) => {
               if(address.accepted) {
                   addresses.push(address.address)
               }
            });
            this.$emit('addAddresses', addresses)
        }
    }

}
</script>

<style scoped>

</style>
