<template>
    <div v-bind:style="{'width' : '100%' , 'height': '100%' }" :id="'map' + periodKey">

    </div>

</template>


<script>
export default {
    name: "GoogleMapComponent",


    mounted() {
        //this.initMap()
        //console.log("center",this.center)
        
        setTimeout(
            this.initMap, 500);
    },

    props: {
        routes: Array,
        periodKey: Number,
        startroute: Boolean,
        height:Number,
        place:String,
        startlocation:Object,
        center:String,
        preserve:Boolean
    },

    watch: {
        routes(newVal) {
            this.initMap()
        },
        startroute() {
            this.initMap()
        },
        startlocation(){
            this.initMap()
        },
        // mapCenter(){
        //     this.makeRoute()
        // }
    },

    methods: {
        initMap() {
           
            if(this.preserve){
                this.dS = new google.maps.DirectionsService();
                this.dD = new google.maps.DirectionsRenderer({suppressMarkers: true,preserveViewport: true});
            }else{
            this.dS = new google.maps.DirectionsService();
            this.dD = new google.maps.DirectionsRenderer({suppressMarkers: true});
            }
            // if(this.center && this.preserve){
            // axios.get('/api/get-lat-long?address='+this.center).then((response) => {
            //         console.log("hashdata",response.data)
            //         this.mapCenter.lat = parseFloat(response.data.lat)
            //         this.mapCenter.lng = parseFloat(response.data.long) 
            // });
            // }
            console.log("mapcenter",this.mapCenter);
            this.map = new google.maps.Map(document.getElementById('map' + this.periodKey), {
                center: this.mapCenter ,
                zoom: 15,
                suppressMarkers: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            })
            this.makeRoute()
            
            
        },
        makeRoute() {
            console.log("preserve",this.preserve);
            const alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            let routes = JSON.parse(JSON.stringify(this.routes))
            this.markers.forEach((marker)=>{
                marker.setMap(null)
            })
            //console.log("makeroute",this.routes,this.startlocation)
            if((this.routes.length === 1 && this.startlocation.label === 'no_startlocation') || this.routes.length === 0) {
                return;
            }
            //console.log("makeRoute",this.routes.length)
            if (this.startlocation.label !== 'no_startlocation'){
                routes.splice(0,0,{address:this.startlocation})
            }
            
            let request = {
                origin: null,
                waypoints: [],
                destination: null,
                travelMode: 'DRIVING',
                optimizeWaypoints: true,
                
            }

            //Set the origins, waypoints and the destination
            for(let rIdx = 0, rLen = routes.length; rIdx < rLen; rIdx++) {
                let route = routes[rIdx];
                let routeString = ""
                if(typeof route.address !== 'undefined'){
                    if(route.address.street !== ""){
                        routeString += route.address.street + " ";
                    }
                    if(route.address.zipcode !== ""){
                        routeString += route.address.zipcode + " ";
                    }
                    if(route.address.city !== ""){
                        routeString += route.address.city + " ";
                    }
                    if(route.address.country !== ""){
                        routeString += route.address.country+" ";
                    }
                }

                //Get the origin and continue the loop
                if(rIdx === 0) {
                    request.origin = routeString
                    if (routeString !== "undefined"){
                        axios.get('/api/get-lat-long?address='+routeString).then((response) => {
                    //console.log("hashdata",response.data)
                  
                  let latlong = {lat:response.data.lat,lng:response.data.long}
                        this.mapCenter = latlong
                  let marker = new google.maps.Marker({
                          position: latlong,
                          map:this.map,
                          label: {
                            text:alphabet[rIdx % 26]+". "+this.checkObject(route.address,['label','city']),
                            color:"black",
                            //fontSize:"20px",
                            className:"labels",
                            fontWeight:"900"
                            //fontWeight:"900"
                            },
                          icon: "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
                         
                      });
                      this.markers.push(marker);  
                 
                  
                  }).catch((err) => {
                      console.error(err)
                  })
                    }
                   
                    continue;
                }
                
                //This is the last entry so the destination then we can break the loop
          
                //this.createMarker(request.origin)
                    //If it is the starting route first address is the destination
                  
                    if(this.startroute) {
                        request.destination = routes[0].address.street+" "+routes[0].address.zipcode+" "+routes[0].address.city+" "+routes[0].address.country
                       
                       
                    } else{
                        request.destination = routeString;
                    }
                  if(routeString !== "undefined" ){
                    axios.get('/api/get-lat-long?address='+routeString).then((response) => {
                  
                  let latlong = {lat:response.data.lat,lng:response.data.long}
            
                  const infowindow = new google.maps.InfoWindow({
    content:"customizable html",
  });
                 
                          let label = {
                            text:alphabet[rIdx % 26]+". "+this.checkObject(route.address,['label','city']),
                            color:"black",
                            //fontSize:"20px",
                            className:"labels",
                            
                            fontWeight:"900"};
                    if(latlong !== "" && latlong !== null && latlong !== "empty string" && latlong['lat']){        
                     let marker = new google.maps.Marker({
                        
                          position: latlong,
                          map:this.map,
                       
                          label:label,
                          //animation: google.maps.Animation.DROP,
                          //fontSize:"20px",
                          
                      });
                      marker.label.className = "labels";
                      marker.addListener("click", () => {
                        infowindow.open({
                        anchor: marker,
                         map:this.map,
                        shouldFocus: false,
                        });
                    });
                    this.markers.push(marker);
                    }
                      



                      
                  }).catch((err) => {
                      console.error(err)
                  })
                  }
                    
                    
                    
                
                //Push the first route as ending point


                request.waypoints.push({location: routeString, stopover: true})
                //console.log("mapDirections",request)
            }

		if(this.dD !== null) {
		    this.dD.setMap(this.map);
		    this.dS.route(request, (result, status) => {

			if(status === 'OK') {
			    let steps = result.routes[0].legs[0].steps;

			    steps.forEach((res, key) => {

			    })
			    this.dD.setDirections(result)
			    //console.log(result)
			}
		    })
		}
        
        request.waypoints.forEach((waypoint)=>{
               // waypoint.icon = "http://chart.apis.google.com/chartchst=d_map_pin_letter&chld=A|FF0000|000000";
        })
        //console.log("request",request)
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){

                            let str = object[keys[x]].toString();
                            //console.log(str)
                            let str2 = str.charAt(0).toUpperCase() + str.slice(1);

                            return str2

                        }
                        return true
                    }

                }

            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        
        
    },

    data() {
        return {
            map: null,
            mapCenter: {lat: 53.341829, lng: 6.3105015},
            dS: null,
            dD: null,
            markers:[]
  
        }
    }
}
</script>

<style scoped>
    @font-face {
    font-family: 'block';
    font-style: normal;
    font-weight: lighter;
    
    src: local('block'), url('/assets/font3.ttf') format('truetype');
  }
    .labels {
  width: 400px;


  text-align: left;
 

}
</style>
