<template>
    <div>

        <div v-if="!loading" class="row">
            <div class="col s12 m12 l12 input-field">
                <i class="prefix right material-icons" v-clipboard:success="onCopy" v-clipboard:copy="url">content_copy</i>
                <input placeholder="invite link" ref="invite-url" id="invite-url" name="invite-url" v-model="url"  type="text">
                <label for="invite-url">Invite url</label>
                <div id="generateLink" class="center">
                    <button @click="generateLink" v-bind:class="{'disabled' : generateLinkDisabled}" class="btn waves-effect">{{ translations[selectedLanguage].generate_link }}</button>
                </div>
            </div>

            <div class="center">
                {{ translations[selectedLanguage].share_on_sm }}
            </div>

            <div class="center">
                <a id="socialButtons" @click="openModal(media.type)" v-for="media in socialMedia" v-bind:style="{color: media.socialMediaColor}" :href="media.shareUrl" v-bind:class="{'disabled' : media.disabled}" :target="setTarget(media.type)"><i :class="media.fontawesomeClass"></i></a>
            </div>

        </div>

        <invite-user-modal @closeModal="closeModal"></invite-user-modal>

    </div>
</template>

<script>
import VueClipboard from 'vue-clipboard2'
Vue.use(VueClipboard)

export default {
    name: "InviteUserComponent",
    data: function () {
        return {
            generateLinkDisabled: true,
            url: '',
            socialMedia: [
                {
                    name: 'Share on',
                    shareUrl: 'https://facebook.com/sharer.php?u=',
                    disabled: true,
                    fontawesomeClass: "fab fa-facebook-square",
                    socialMediaColor: "#3b5998",
                    type: "social-media"
                },
                {
                    name: 'Share on',
                    shareUrl: 'http://www.linkedin.com/shareArticle?mini=true&url=',
                    disabled: true,
                    fontawesomeClass: "fab fa-linkedin",
                    socialMediaColor: "#0e76a8",
                    type: "social-media"
                },
                {
                    name: 'Share on',
                    shareUrl: 'https://plus.google.com/share?&hl=en&url=',
                    disabled: true,
                    fontawesomeClass: "fab fa-google-plus-g",
                    socialMediaColor: "#db4a39",
                    type: "social-media"
                },
                {
                    name: 'Share on',
                    shareUrl: 'whatsapp://send?text=',
                    disabled: true,
                    fontawesomeClass: "fab fa-whatsapp",
                    socialMediaColor: "#25D366",
                    type: "social-media"
                },
                {
                    name: 'Share on',
                    shareUrl: '#',
                    disabled: true,
                    fontawesomeClass: "fas fa-envelope-square",
                    socialMediaColor: "grey",
                    type: "email"
                }
            ],
            loading: true,
            modalReference: '',
            translations: {
                "en" : {
                    "generate_link": "Generate URL",
                    "share_on_sm": "Share on social media",
                },
                "nl" : {
                    "generate_link": "Genereer link",
                    "share_on_sm": "Deel op sociale media",
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
        }
    },

    mounted() {
        const elem = document.querySelectorAll('.modal');
        this.modalReference = M.Modal.init(elem, {

        });


        this.getInvitationUrl()
    },

    methods: {
        getInvitationUrl() {
            const vm = this;
            axios.get(this.$attrs['link-expired-url']).then((response) => {
                if(response.data !== '') {
                    vm.url = response.data
                    vm.addLinkToSharedMedia(false)
                } else {
                    vm.generateLinkDisabled = false;
                }
                vm.loading = false;
                vm.$nextTick(M.updateTextFields);

            }).catch((err) => {
                console.error(err)
            })
        },

        closeModal() {
            this.modalReference[0].close();
        },

        generateLink() {
            const vm = this;
            axios.get(this.$attrs['invitation-generated-url']).then((response) => {
                vm.url = response.data.url;
                vm.generateLinkDisabled = true;
                vm.addLinkToSharedMedia()
                vm.$nextTick(M.updateTextFields);
            }).catch((err) => {
                console.error(err);
            })
        },

        onCopy() {
            console.log('copied');
            M.toast({html: "Link copied", classes: "green white-text"})
        },

        onError() {

        },

        openModal(type) {
            if(type === 'social-media') {
                return;
            }
            this.modalReference[0].open();
        },

        setTarget(type) {
            return type === 'social-media' ? "_blank" : "_self"
        },

        addLinkToSharedMedia() {
            const url = this.url;


            this.socialMedia.forEach((media) => {
                if(media.type === 'social-media') {
                    media.shareUrl += encodeURIComponent(url);
                    media.disabled = false;
                }
            })
        }
    }
}
</script>

<style scoped>
.input-field .prefix.right{
    right: 0;
    cursor: copy;
}

#generateLink {
    margin-top: 10px;
}

#socialButtons {
    font-size: 40px;
    padding: 20px;
}

</style>
