<template>
    <div>

        <div class="col s12 input-field">
            <select @change="filterLog" class="browser-default" v-model="selectedLevel">
                <option :value="level.value" v-for="level in levels">{{ level.text }}</option>
            </select>
        </div>

        <div class="center" v-if="loading">
            {{ translations[selectedLanguage].loading }}
        </div>
        <div v-if="!loading">
            <div v-if="filteredLogs.length < 1" class="center">
                <p>{{ translations[selectedLanguage].no_logs_available }}</p>
            </div>
            <div v-else>
                <ul class="collection logs">
                    <li class="collection-item" v-for="log in filteredLogs">{{ log.description }}
                        <span v-if="log.status === 'DEBUG'" class="green white-text badge">Debug</span>
                        <span v-if="log.status === 'INFO'" class="blue white-text badge">Info</span>
                        <span v-if="log.status === 'NOTICE'" class="blue lighten-1 white-text badge">{{ translations[selectedLanguage].notice }}</span>
                        <span v-if="log.status === 'WARNING'" class="amber white-text badge">{{ translations[selectedLanguage].warning }}</span>
                        <span v-if="log.status === 'ERROR'" class="red white-text badge">{{ translations[selectedLanguage].error }}</span>
                        <span v-if="log.status === 'CRITICAL'" class="red darken-1 white-text badge">{{ translations[selectedLanguage].critical }}</span>
                        <span v-if="log.status === 'ALERT'" class="red darken-2 badge">Alert</span>
                        <span v-if="log.status === 'EMERGENCY'" class="red darken-3 white-text badge">{{ translations[selectedLanguage].emergency }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "LogComponent",
    data: function () {
        return {
            logs: [],
            loading: false,
            selectedLevel: '',
            levels : [
                {value : 100, text: 'debug'},
                {value : 200, text: 'info'},
                {value : 250, text: this.translations[this.selectedLanguage].notice},
                {value : 300, text: this.translations[this.selectedLanguage].warning},
                {value : 400, text: this.translations[this.selectedLanguage].error},
                {value : 500, text: this.translations[this.selectedLanguage].critical},
                {value : 550, text: 'alert'},
                {value : 600, text: this.translations[this.selectedLanguage].emergency}
            ],
            filteredLogs : [],
            translations: {
                "en" : {
                    "loading" : "Loading ...",
                    "no_logs_available" : "There are currently no logs available",
                    "notice" : "Notice",
                    "warning" : "Warning",
                    "error" : "Error",
                    "critical" : "Critical",
                    "emergency" : "Emergency",
                },
                "nl" : {
                    "loading" : "Laden ...",
                    "no_logs_available" : "Momenteel zijn er nog geen logs beschikbaar",
                    "notice" : "Kennisgeving",
                    "warning" : "Waarschuwing",
                    "error" : "Fout",
                    "critical" : "Kritiek",
                    "emergency" : "Noodgeval",
                }
            },
            languages: ['nl', 'en'],
        }
    },

    mounted() {
        this.selectedLevel = this.levels[0].value
        this.loadLogs();
    },

    methods: {
        loadLogs() {
            this.loading = true;
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }

            const vm = this;

            axios.get('/api/logs?level=' + this.selectedLevel, config).then((response) => {
                vm.logs = response.data;
                vm.filteredLogs = response.data;
                vm.loading = false;
            }).catch((err) => {
                vm.loading = false;
                console.error(err);
            })
        },
        filterLog() {
            this.filteredLogs = this.logs.filter(this.getFilteredLevel)
        },

        getFilteredLevel(level) {
            return level.level === this.selectedLevel;
        }
    },

}
</script>

<style scoped>
 .logs {
     max-height: 300px;
     overflow-y: auto;
 }
</style>
