<template>
    <div class="row">
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : nameError}" type="text" name="name" id="name" v-model="name" required>
            <label for="name">{{translations[selectedLanguage].name}}</label>
            <span v-bind:class="{'red-text' : nameError}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : descriptionError}" type="text" name="description" id="description" v-model="description" required>
            <label for="description">{{translations[selectedLanguage].description}}</label>
            <span v-bind:class="{'red-text': descriptionError}" class="helper-text">{{ descriptionMessage }}</span>
        </div>
        <div class="center">
            <a href="/user/organisations" class="btn graybutton">{{translations[selectedLanguage].back}}</a>
            <button v-bind:class="{'disabled' : !formValid}" type="submit" class="btn btn-waves">{{translations[selectedLanguage].save}}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "CreateOrganisationComponent",
    data: function () {
        return {
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "name": "Name",
                    "description": "Description",
                    "save": "Save",
                    "back": "Back",
                },
                "nl": {
                    "name": "Naam",
                    "description": "Beschrijving",
                    "save": "Opslaan",
                    "back": "Terug",
                }
            }
        }
    },

    watch: {
        name: function (newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Name cannot be empty';
                this.nameValid = false;
                this.nameError = true;
            } else {
                this.nameMessage = ''
                this.nameValid = true;
                this.nameError = false;
            }
            this.isFormValid()
        },

        description: function (newVal) {
            if(newVal.trim() === '') {
                this.descriptionMessage = 'Description cannot be empty';
                this.descriptionValid = false;
                this.descriptionError = true;
            } else {
                this.descriptionValid = true;
                this.descriptionError = false;
                this.descriptionMessage = '';
            }
            this.isFormValid();
        }
    },

    methods: {
        isFormValid() {
            return this.formValid = this.nameValid && this.descriptionValid;
        }
    }
}
</script>

<style scoped>
    .graybutton{
        background-color: rgb(236, 236, 236);
        color:black
    }
</style>
