<template>
    <div>
    <div class="row card">
        <h4>Name and Description</h4>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : nameError}" type="text" name="name" id="name" v-model="name" required>
            <label for="name">{{translations[selectedLanguage].name}}</label>
            <span v-bind:class="{'red-text' : nameError}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : descriptionError}" type="text" name="description" id="description" v-model="description" required>
            <label for="description">{{translations[selectedLanguage].description}}</label>
            <span v-bind:class="{'red-text': descriptionError}" class="helper-text">{{ descriptionMessage }}</span>
        </div>
        <h4>Defaults</h4>
        <div class="col s6">
        <h5>Item time</h5>
            <input type="number" v-model="itemTime" name="item_time">minutes
        </div>
        <div class="col s6">
        <h5>Overhead time</h5>
            <input type="number" v-model="overheadTime" name="overhead_time">minutes
        </div>
        <div class="center">
            <button v-bind:class="{'disabled' : !formValid}" type="submit" class="btn btn-waves">{{translations[selectedLanguage].save}}</button>
        </div>
    </div>

</div>
</template>

<script>
export default {
    name: "EditOrganisationComponent",
    data: function () {
        return {
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "name": "Name",
                    "description": "Description",
                    "save": "Save",
                },
                "nl": {
                    "name": "Naam",
                    "description": "Beschrijving",
                    "save": "Opslaan",

                }
            },
            itemTime:1,
            overheadTime:10
        }
    },
    props:{
            organisation_id:String,
            organisation_name:String,
            organisation_description:String,
            organisation_itemtime:String,
            organisation_overheadtime:String
    },
    mounted() {

        console.log(this.organisation_name)
            this.name = this.organisation_name
            this.description = this.organisation_description
            this.itemTime = this.organisation_itemtime
            this.overheadTime = this.organisation_overheadtime
    },
    watch: {
        name: function (newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Name cannot be empty';
                this.nameValid = false;
                this.nameError = true;
            }
            else {
                this.nameMessage = ''
                this.nameValid = true;
                this.nameError = false;
            }
            this.isFormValid()
        },

        description: function (newVal) {
            if(newVal.trim() === '') {
                this.descriptionMessage = 'Description cannot be empty';
                this.descriptionValid = false;
                this.descriptionError = true;
            } else {
                this.descriptionValid = true;
                this.descriptionError = false;
                this.descriptionMessage = '';
            }
            this.isFormValid();
        }
    },

    methods: {
        isFormValid() {
            return this.formValid = this.nameValid && this.descriptionValid;
        }
    },



}
</script>

<style scoped>
.card{
    padding:50px;
}
.input-field{
    margin:0 !important;
}
</style>
