<template>
<div>

    <div class="row">

        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : nameError}" type="text" name="name" id="name" v-model="name" required>
            <label for="name">{{ currentTranslations.name|| "name" }}</label>
            <span v-bind:class="{'red-text' : nameError}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : descriptionError}" type="text" name="description" id="description" v-model="description" required>
            <label for="description">{{ currentTranslations.description || "description" }}</label>
            <span v-bind:class="{'red-text': descriptionError}" class="helper-text">{{ descriptionMessage }}</span>
        </div>
        <div class="center">
        <h5>{{ currentTranslations.start_address || "start address"}}</h5>
        <p>{{ currentTranslations.start_explain || "start address" }}</p>


        <a v-if="address === ''" class='dropdown-trigger btn' href='#' data-target='dropdown1'>{{currentTranslations.pick}}</a>
        <a v-else-if="address === currentTranslations.no_start" class='dropdown-trigger btn' href='#' data-target='dropdown1'>{{currentTranslations.no_start}}</a>
        <a v-else class='dropdown-trigger btn' href='#' data-target='dropdown1'>{{checkObject(address,'label')}}{{checkObject(address,'street')}}{{checkObject(address,'zipcode')}}{{checkObject(address,'city')}}{{checkObject(address,'country')}}</a>

        </div>
        <ul id='dropdown1' class='dropdown-content center'>
            <li v-for="address in addressList">
                <a @click="setAddress(address)">{{checkObject(address,'label')}}{{checkObject(address,'street')}}{{checkObject(address,'zipcode')}}{{checkObject(address,'city')}}{{checkObject(address,'country')}}</a>
            </li>

            <li class="divider" tabindex="-1"></li>
            <li>
                <a @click="setAddress(currentTranslations.no_start)">{{ currentTranslations.no_start}}</a>
            </li>

        </ul>
    </div>
    <div class="row">
            <div @click="scratch" :class="[{'disable' : !formValid},'col offset-s2 s4 menu-option']" ><div class="card hoverable"><h5 class="cardHeader center teal card">{{ currentTranslations.from_scratch || "" }}</h5><img class="menu-icon" src="/assets/scratch.png"><div class="menu-content teal lighten-5">{{ currentTranslations.scratch || "" }}</div><div><div class="btn start">Start</div></div></div></div>
            <div @click="openChooseTemplateModal(name,description)" :class="[{'disable' : !formValid},'col s4 menu-option']"><div class="card hoverable modal-trigger" data-target="template-modal"><h5 class="cardHeader card center teal">{{currentTranslations.from_template}}</h5><img class="menu-icon" src="/assets/template.png"><div class="menu-content teal lighten-5">{{ currentTranslations.template || ""}}</div><div class="btn start">Start</div></div></div>
            <!--button to open from excel file, for the future...-->
            <!-- <div @click="openExcel(name,description)" :class="[{'disable' : !formValid},'col s4 menu-option']"><div class="card hoverable modal-trigger" data-target="template-modal"><h5 class="cardHeader card center teal">{{currentTranslations.from_template}}</h5><img class="menu-icon" src="/assets/excel.png"><div class="menu-content teal lighten-5">{{ currentTranslations.template || ""}}</div><div class="btn start">Start</div></div></div> -->

    </div>

<choose-template-modal-component ref="template-modal" v-bind:cells="cells"></choose-template-modal-component>
</div>
</template>

<script>
import ChooseTemplateModal from "./modals/ChooseTemplateModalComponent.vue";
export default {
    name: "CreatePlanboardComponent",
    components: {
        ChooseTemplateModal
    },
    props:{
        lang: {
            type: String,
            default: document.documentElement.lang
        },
    },
    data: function () {
        return {
            selectedLanguage:"",
            currentTranslations:{},
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
            addressList:[],
            address:"",
            cells:[],
            translations: {
                "en": {
                    "name":"Name",
                    "name_empty":"Name can not be empty",
                    "description":"Description",
                    "start_address" : "Starting address",
                    "select_start":"Select a starting address",
                    "no_start":"No starting location",
                    "scratch":"Start your planboard from scratch, choose your own time periods and transporters.",
                    "template":"Start from a template planboard, You can choose a selfmade template or one of the example templates.",
                    "start_explain":"A starting address will be used as the first address on every tile in your planboard.",
                    "pick":"Pick a starting location",
                    "no_start":"No starting location",
                    "from_scratch":"Start from scratch",
                    "from_template":"Start from template",


                },
                "nl": {
                    "name":"Naam",
                    "name_empty":"Naam kan niet leeg zijn",
                    "description":"Omschrijving",
                    "start_address" : "Startlocatie",
                    "select_start":"Selecteer een startlocatie",
                    "no_start":"Geen startlocatie",
                    "scratch":"Start met een leeg planboard, u kunt uw eigen tijdsperiodes en transporten toevoegen.",
                    "template":"Start met een planboard gebasseerd op een template, U kunt een zelfgemaakte template kiezen of een van de voorbeeldtemplates.",
                    "start_explain":"Een startaddress wordt gebruikt als het eerste address van elke tegel in uw planboard.",
                    "pick":"Kies een startlocatie",
                    "no_start":"Geen startlocatie",
                    "from_scratch":"Start leeg",
                    "from_template":"Start vanuit template",

                }
            },

        }
    },
    mounted() {
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {});
        });
        this.selectedLanguage = this.lang
        this.currentTranslations = this.translations[this.lang]
        this.getAddresses();

    },

    watch: {
        name: function (newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = this.translations[this.selectedLanguage].name_empty;
                this.nameValid = false;
                this.nameError = true;
            } else {
                this.nameMessage = ''
                this.nameValid = true;
                this.nameError = false;
            }
            this.isFormValid()
        },
    },

    methods: {
        isFormValid() {
            return this.formValid = this.nameValid;
        },
        scratch(){
            const vm = this;
            if(this.address === this.translations[this.selectedLanguage].no_start){
                this.address = ''
            }
            let json = {"meta":{"type":"planitems","version":"1.0.0"},"startlocation":this.address,cells:'',addresses:this.addresses}
            const data = {name: this.name, description: this.description,json:json};
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.$attrs.apitoken
                },
                responseType: 'json'
            }
            axios.post('store', data, config).then((response) => {
                console.log(response.data);
                window.location.href = response.data.id;

            }).catch((error) => {
                console.error(error);
            })
        },
         openChooseTemplateModal(label,description) {
            this.$refs['template-modal'].openModal(label,description);
        },
        getAddresses() {
            const url = '../addresses/list';
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.get(url, config).then((response) => {
                //console.log("response!!",response.data)
                vm.addressList = response.data
            }).catch((err) => {
                console.error(err);
            })
        },
        setAddress(address){
            this.address = address
        },
        checkObject(object,key){

            if(object !== ""){
                if(typeof object !== "undefined" && object !== null && object[key] !== null && typeof object[key] !== "undefined")
                {
                    return object[key]+" "
                }
            }
            return ""
        }
    }
}
</script>

<style scoped>
    .menu-option{

    }
    .menu-icon{
        width: 50%;
        margin: 10% 25%;

    }
    .menu-content{
    background: rgb(219, 219, 219);
    padding: 10px;
    height: 150px;
    }
    .start{
        width: 100%;
    }
    .cardHeader{
        background: rgb(219, 219, 219);
        margin:0;
        padding:10px;
        color:white;

    }
    .disable{
        display: none;
    }

</style>
