<template>
    <div class="row">
       
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : nameError}" type="text" name="name" id="name" v-model="name" required>
            <label for="name">Name</label>
            <span v-bind:class="{'red-text' : nameError}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : descriptionError}" type="text" name="description" id="description" v-model="description" required>
            <label for="description">Description</label>
            <span v-bind:class="{'red-text': descriptionError}" class="helper-text">{{ descriptionMessage }}</span>
        </div>
       
         <div class="row">
            <div class="col s4 menu-option"><div @click="scratch" class="card hoverable"><h6 class="cardHeader">Start from<br> scratch</h6><img class="menu-icon" src="https://icon-library.com/images/new-file-icon/new-file-icon-4.jpg"><div class="menu-content route-items">Start your planboard from scratch, choose your own time periods and transporters.</div><div><div class="btn start">Start</div></div></div></div>
            <div class="col s4 menu-option"><div @click="openTemplateModal" href="#template-modal" class="card hoverable"><h6 class="cardHeader">Start from<br> template</h6><img class="menu-icon" src="https://cdn0.iconfinder.com/data/icons/line-design-word-processing-set-3/21/document-template-512.png"><div class="menu-content route-items">Start from a template planboard, You can choose a selfmade template or one of the example templates.</div><button class="btn start">Start</button></div></div>
            <div class="col s4 menu-option"><div class="card hoverable"><h6 class="cardHeader">Start from<br> excel</h6><img class="menu-icon" src="https://icon-library.com/images/excel-spreadsheet-icon/excel-spreadsheet-icon-13.jpg"><div class="menu-content ">Upload an excel file to start your planboard. The data from the excel files will be converted to the planboard.</div><div class="btn start">Start</div></div></div>
            <choose-template-modal-component ref="template-modal"></choose-template-modal-component>
    </div>
    <div class="row center">
            <button v-bind:class="{'disabled' : !formValid}" type="submit" class="btn btn-waves">Save</button>
        </div>

    
</div>  
 
</template>

<script>
import ChooseTemplateModal from "./modals/ChooseTemplateModalComponent.vue";
export default {
 
    name: "EditPlanboardComponent",
    components: {ChooseTemplateModal},
    data: function () {
        return {
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
        }
    },
    props:{
           
            planboard_name:String,
            planboard_desc:String,
    },
    mounted() {

        console.log(this.planboardName)
            this.name = this.planboard_name
            this.description = this.planboard_desc
        
    },
    watch: {
        name: function (newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Name cannot be empty';
                this.nameValid = false;
                this.nameError = true;
            }
            else {
                this.nameMessage = ''
                this.nameValid = true;
                this.nameError = false;
            }
            this.isFormValid()
        },

        description: function (newVal) {
            if(newVal.trim() === '') {
                this.descriptionMessage = 'Description cannot be empty';
                this.descriptionValid = false;
                this.descriptionError = true;
            } else {
                this.descriptionValid = true;
                this.descriptionError = false;
                this.descriptionMessage = '';
            }
            this.isFormValid();
        }
    },

    methods: {
        isFormValid() {
            return this.formValid = this.nameValid && this.descriptionValid;
        },
        scratch(){
            const vm = this;
            const data = {name: this.name, description: this.description};
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.$attrs.apitoken
                },
                responseType: 'json'
            }
            axios.post('update', data, config).then((response) => {
                console.log(response.data);
                window.location.href = "empty";
                //window.location.href = '../'+response.data.id+"/empty";

            }).catch((error) => {
                console.error(error);
            })
        },
        template(){
            const vm = this;
            const data = {name: this.name, description: this.description};
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.$attrs.apitoken
                },
                responseType: 'json'
            }
            axios.post('gettemplate', data, config).then((response) => {
                console.log(response.data);
                window.location.href = "empty";
                //window.location.href = '../'+response.data.id+"/empty";

            }).catch((error) => {
                console.error(error);
            })
        },
        openTemplateModal() {
            this.$refs['template-modal'].openModal();
        },

    },



}
</script>

<style scoped>
 .menu-option{
        
    }
    .menu-icon{
        width: 80%;
        margin: 10%;
        
    }
    .menu-content{
    background: rgb(219, 219, 219);
    padding: 10px;
    height: 150px;    
    }
    .start{
        width: 100%;
    }
    .cardHeader{
        background: rgb(219, 219, 219);
        margin:0;
       
    }
</style>
