<template>
    <div class="root hide-scroll">
        <div class="header teal">
            <!-- <h5>{{cell.period.label}}</h5>
            <h6>{{cell.transport.label}}</h6> -->
        </div>
        <div class="location card">
        <div v-if="startLocation.label != 'no_startlocation'" class="item"
		
			 :class="[{'item-margin':cell.transport.showtime},{'front':location.selected},{'collapsed':!expanded},'item','row']">
                    
                    
                    <!-- {{checkObject(location.address,['label'])}}
                    {{checkObject(location.address,['street'])}}<br>
                    {{checkObject(location.address,['zipcode'])}}<br>
                    {{checkObject(location.address,['city'])}}<br>
                    {{checkObject(location.address,['country'])}} -->
               
                    <div v-if="expanded" class="col s12 address-block"><b class="address-icon-first" v-if="startLocation.label != 'no_startlocation'">A</b><b class="address-icon-first" v-else>{{alphabet[eKey % 26]}}</b><span class="address-text">{{checkObject(startLocation,['label'])}}</span></div>
                    <div v-else class="col s12 address-block"><b class="address-icon-first" v-if="startLocation.label != 'no_startlocation'">A</b><b class="address-icon-first" v-else>{{alphabet[eKey % 26]}}</b><span class="address-text">{{checkObject(startLocation,['label','street','city'])}}</span></div>
                    
                    <div v-if="expanded">
                    <div class="col s12 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(startLocation,['street'])}}</span></div>
                    <div class="col s5 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(startLocation,['zipcode'])}}</span></div>
                    <div class="col s8 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(startLocation,['city'])}}</span></div>

                    
                    <div class="col s8 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(startLocation,['country'])}}</span></div>
                </div>

                    <!-- <i v-if="cell.transport.circular && startLocation.label === 'no_startlocation' && eKey === 0" class="material-icons round-icon tooltipped" data-position="right" :data-tooltip="translations[selectedLanguage].tool_circular">sync</i><i v-if="eKey === 0 && startLocation.label === 'no_startlocation'" class="material-icons warning-icon tooltipped" data-position="right" :data-tooltip="translations[selectedLanguage].is_startlocation">flag</i>
                    <i v-if="!checkOrders(location) && eKey !== 0" class="material-icons warning-icon tooltipped" data-position="right" :data-tooltip="translations[selectedLanguage].tool_no_items">warning</i>
                    <i v-if="!checkObject(location.address,['street'],'bool') && !checkObject(location.address,['city'],'bool')" class="material-icons broken-icon tooltipped" data-position="right" :data-tooltip="translations[selectedLanguage].tool_broken_location">location_off</i> -->
                    
                </div>
        </div>
        
      
            <draggable draggable=".item" @end="stopDrag(cell)" v-model="cell.locations">
                <div :class="['qeuelistItem','card','row','hoverable',{'gray':aKey % 2 != 0}]" v-for="(location,aKey) in cell.locations" :key="aKey" :id="'qeuelist-'+aKey">
                    
                    
                    <div v-if="expanded" class="col s8 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(location.address,['street'])}}</span></div>
                    <div v-if="expanded" class="col s8 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(location.address,['zipcode'])}}</span></div>
                    <div v-if="expanded || !location.address.label" class="col s10 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(location.address,['city'])}}</span></div>
                    <div v-if="expanded" class="col s2 address-block"><i class="material-icons prefix address-icon">timer</i><span class="address-text">{{checkObject(location,['item_time'])}}</span></div>
                    
                    <div v-if="expanded" class="col s10 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(location.address,['country'])}}</span></div>
                    <div v-if="expanded" class="col s2 address-block"><i class="material-icons prefix address-icon">assignment</i><span class="address-text">{{checkObject(location,['overhead_time'])}}</span></div>
                
                    <draggable v-if="expanded" id="qeuelist-orders" v-model="location.orders" class="orders row" draggable=".order" group="orders" @end="stopDragOrder($event)">
                    <div class="col s12 card order" v-for="(order,aKey) in location.orders" :key="aKey" @mousedown="startDragOrder(location,order)">
                        <div v-if="order.label != ''" class="address-block"><i class="material-icons address-icon">label</i><span class="address-text">{{order.label}}</span></div> 
                        <div v-if="order.customer != ''" class="address-block"><i class="material-icons address-icon">person</i><span class="address-text">{{order.customer}}</span></div>
                        <div v-if="order.code != ''" class="address-block"><i class="material-icons address-icon">code</i><span class="address-text">{{order.code}}</span></div>
                        
                        <div v-if="order.clientcomment != ''" class="address-block"><i class="material-icons address-icon">comment</i><span class="address-text">{{order.clientcomment}}</span></div>
                        
                        <i v-if="planboardtype !== 0" @click.self="deleteItem(location,aKey)" class="material-icons close-button">close</i>
                        <div v-for="orderitem in order.orderitems" class="orderitem card"><div v-if="orderitem.label != ''" class="inline">{{orderitem.label}}</div><div class="inline" v-if="orderitem.indexedcode != ''">{{orderitem.indexedcode}}</div><div class="inline" v-if="orderitem.dimensions != ''">{{orderitem.dimensions}}</div></div>
                    </div>
                
            </draggable>
     
                    
            </div>
            <a class="btn expand-button" v-on:click="expanded = !expanded"><i v-if="expanded" class="material-icons icon">expand_less</i><i v-else class="material-icons icon">expand_more</i><span class="text"></span></a>
        </draggable> 
            <!-- <a @click="setExpanded()" class="btn expand-button"><i class="material-icons icon">format_align_justify</i><span class="text">{{translations[selectedLanguage].collapse}}</span></a> -->
        <div class="align-bottom">
           
            <table v-if="checkLocations(cell)" v-show="cell.transport.showTime" class="card">
            <tr><td>{{translations[selectedLanguage].travel_time}}:</td><td class="value">{{secondsToHms(cell.settings.travel_time)[0]}}<br>{{secondsToHms(cell.settings.travel_time)[1]}}</td></tr>
            <tr><td>{{translations[selectedLanguage].location_time}}:</td><td class="value">{{secondsToHms(cell.settings.total_time - cell.settings.travel_time)[0]}}<br>{{secondsToHms(cell.settings.total_time - cell.settings.travel_time)[1]}}</td></tr>
            <tr><td>{{translations[selectedLanguage].total_time}}:</td><td class="value">{{secondsToHms(cell.settings.total_time)[0]}}<br>{{secondsToHms(cell.settings.total_time)[1]}}</td></tr>        
            </table>
            <!-- <a v-if="!expanded"  @click="setExpanded()" class="btn menu-button"><i class="material-icons icon">format_align_left</i><span class="text">{{translations[selectedLanguage].expand}}</span></a> -->
          
            <a @click="closeFullscreen()" class="btn menu-button"><i class="material-icons icon">close</i><span class="text">{{translations[selectedLanguage].close}}</span></a>
            <!-- <a class="center" @click="closeAllSideNavs();deselect()" >{{translations[selectedLanguage].close}}</a> -->
        </div>
    </div>    
</template>
<script>
    export default {
    name: "SidenavFullscreenComponent",
    props:{
        cellProp:Object,
    
    },
    mounted(){
     
    },

    data() {
        return {
            
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "no_label":"No label",
                    "no_street":"No steet",
                    "no_zipcode":"No zipcode",
                    "no_city":"No city",
                    "no_country":"No country",
                    "map":"Show map",
                    "time":"Show time",
                    "circular":"Circular route",
                    "travel_time":"Travel time",
                    "total_time": "Total time",
                    "item_time":"Time spend per item",
                    "overhead_time":"Extra time spend at location",
                    "location_time":"Time spend at location",

                    "close" : "Close",
                    "expand": "Expand",
                    "collapse":"Collapse",
                    "pdf":"Download PDF",
                    "excel":"Download Excel",
                    "google":"Show on Google"
                },

                "nl": {
                    "no_label":"geen label",
                    "no_street":"Geen straat",
                    "no_zipcode":"Geen postcode",
                    "no_city":"Geen stad",
                    "no_country":"Geen land",
                    "map":"Toon kaart",
                    "time":"Toon tijden",
                    "circular":"Circulaire route",
                    "travel_time":"Reistijd",
                    "total_time": "Totale tijd",
                    "location_time": "Tijd op locatie",
                    "overhead_time":"Extra tijd op locatie",
                    "item_time": "Tijd per item",
                    "close" : "Sluit",
                    "collapse":"Inklappen",
                    "expand": "Uittrekken",
                    "pdf":"Download PDF",
                    "excel":"Download Excel",
                    "google":"Toon in Google"
                    
                },
            },
            location:{address:{}},
            planboardtype:0,
            cell:{transport:{showTime:"",map:""}},
            startLocation:{},
            colKey:"",
            itemLabel:"",
            itemCustomer:"",
            itemCode:"",
            alphabet: ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"],
            expanded:true
        }
    },
    methods:{
        setColKey(colKey = null){
            if(colKey !== null){
                this.colKey = colKey
            }
        },
        setCell(cell = null){
            if(cell !== null){
                this.cell = cell
            }
           
        },
        setStartlocation(startlocation = null){
            if(startlocation !== null){
                this.startLocation = startlocation
            }
           
        },
        setTime(location){
            
            this.$emit('setTime',location)
        },
        setExpanded(){
            this.expanded = !this.expanded;
        },
        stopDrag(cell){
            this.$emit('putCell',cell)
            this.$emit('saveToDatabase')
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){

                            let str = object[keys[x]].toString();
                            //console.log(str)
                            let str2 = str.charAt(0).toUpperCase() + str.slice(1);

                            return str2

                        }
                        return true
                    }

                }

            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        checkOrders(location){
        if(location.orders){
            if(location.orders.length){
                return true
            }
        }
        return false
        },
        closeFullscreen(){
            this.$emit("closeFullscreen",this.colKey)
        },
        secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);
            if(this.selectedLanguage === 'en'){
            var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
            }else{
            var hDisplay = h > 0 ? h + (h == 1 ? " uur, " : " uren, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " minuut, " : " minuten, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " seconde" : " seconden") : ""; 
            }
            return [hDisplay, mDisplay]; 
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            return object[keys[x]]
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        checkOrders(location,int = false){
        if(location.orders){
            if(location.orders.length){
                if (int){
                    return location.orders.length
                }
                return true
            }
        }
        if(int){
            return 0;
        }
        return false
        },
        checkLocations(cell){
            if(cell.locations){
                if(cell.locations.length){
                    return true
                }
            }
                return false
            } 
    }
        
    
}    
</script>

<style scoped>
    .root{
        width: 100%;
        height: calc(100vh - 123px);
        overflow-y: scroll;
    }
    .header{
        color:white;
    }
.align-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
}
.back-button{
        width: 100%;
        text-align: center;
        font-size: 25px;
        display: block;
        cursor: pointer;
        color: rgb(189, 189, 189);
        text-decoration: none;
    }
    .item{
        background:rgba(0, 128, 128,.9);
        color: white;
        font-size: 1.2rem;
        cursor: grab;
        width: 99.9%;
        margin-bottom:10px !important;
        z-index: 10;

    }
    .collapsed{
        padding:10px;
    }
    .location{
        margin-bottom: 10px;
        position: relative;
        margin-bottom: 5px !important;
        
    }
    /* .item:hover{
        border:solid #004d40 2px;
        cursor: grab;

    } */
    .gray{
        background:rgba(77, 182, 173,.9);

    }
    .back-button{
        width: 100%;
        text-align: center;
        font-size: 25px;
        display: block;
        cursor: pointer;
        color: rgb(189, 189, 189);
        text-decoration: none;
        z-index: 20;
    }
    .align-bottom{
        position: absolute;
        bottom: 8px;
        width: 100%;
    }
    .error{
        background: gray;
        margin:5px
    }
    .warning-icon{
      float:right
    }
    .round-icon{
       float:right
    }
    .broken-icon{
       float:right
    }
    .fake-item{
        background:rgba(77, 182, 173,.9);
        color: white;
        font-size: 1.2rem;
        height: 40px;
        width: 99.9%;
        margin: 1px 1px 1px 1px;
        z-index: 10;
        padding: 5px;
        cursor: not-allowed;
    }
    .locationitem{
       /* background:rgba(67, 82, 176 ,.9); */
        /* color: white; */
        font-size: 1.2rem;
        overflow: visible;
        cursor: grab;
       
        margin: 1px;
        z-index: 10;
        padding: 5px;
    }
    .indigoblue{
        /* background:rgba(162, 169, 217 ,.9); */
    }
    td{
        padding:5px;
    }
    .value{
        background-color: rgba(77, 182, 173,.9);
        color:white;
        width: 100px;
        padding: 5px 10px;
    }
    .hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }

.address-block-time{
    position: relative; 
    background-color: rgba(77, 182, 173,.9);
    width: 100%;
    height: 30px;
    margin: 0 0 0 2px; 
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: block;
    /* background-color: rgba(77, 182, 173,.9); */
    line-height: 20px;
    width: calc(100% -30px);
    display: inline-block;
  
      
        -webkit-line-clamp: 2;
        display: -webkit-box;
   
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
}
.address-input{
    all:unset;
    border: none !important;
    /* position: absolute; */
    color:white;
    /* top:-8px;
    left:50px; */
    float:right;
    display: block;
    line-height: 20px;
    width: 40px !important;
    height: 2rem !important;
    margin-top:1px;
    text-align: right;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
    margin-top:-5px;
}
.address-icon-first{
    position: absolute;
    top:0;
    left:5px;
    display: inline-block;
    line-height: 15px;
    font-size: 1.5rem;
}
.address-icon-time{
    /* position: absolute;
    top:5px;
    left:20px; */
    display: inline-block;
    line-height: 20px;
    float: left;
    margin:5px 0 0 5px;
    
}

.orders{
    color:black;
    width: 100%;
    margin:0 !important;
}
.row{
    margin:0;
}
.card{
    margin:1px 0;
}
.expand-button{
        border-radius: 45px;
        position: absolute;
        bottom:75px;
        left:235px;
        z-index: 20;
    }
    
.address-block{
    position: relative; 
    width: 100%;
    height:15px;
    /* margin: 5px 0;  */
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 17px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.qeuelistItem{
    color:white;    
    margin: 3px 0;
    cursor:grab;
    background-color: rgba(0, 128, 128,.9);
    padding:10px 10px 0 0; 
}
.scroll-y{
    overflow-y: scroll;
}
.gray{
        background:rgba(77, 182, 173,.9);

    }

    .address-block{
    position: relative; 
    width: 100%;
    height: 20px;
    
    /* margin: 5px 0;  */
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 17px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.orderlist{
    position: relative;
}
.orderitem{
    margin: 2px 0;
    color:black;
}
.inline{
    display: inline-block;
    
  
}
.orders{
    margin: 0;
}    
.order{
    color:white;
    margin: 2px 0;
    background:rgba(67, 82, 176 ,.9);
    padding:5px;
    margin-bottom:5px;
}   
</style>