<template>
    <div>
        <!-- <h5>{{translations[selectedLanguage].favorites}}</h5> -->
       
<div id="Favorites" v-if="tab == 'all'" class="tabcontent hide-scroll">

        <draggable id="addresslist" v-model="locationlist" draggable=".addresslistItem"  group="locations" class="address-nav-content scroll-y hide-scroll" @end="stopDragAddresslist()">
                    <div :class="['addresslistItem','card','row','hoverable',{'gray':aKey % 2 == 0}]" v-for="(location,aKey) in locationlist" :key="aKey" :id="'locationlist-'+aKey">
                  
                    <div class="col s5 address-block"><i class="material-icons prefix address-icon">label</i><span class="address-text">{{checkObject(location.address,['label'])}}</span></div>
                    <div class="col s5 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(location.address,['street'])}}</span></div>
                    <div class="col s8 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(location.address,['zipcode'])}}</span></div>
                    <div class="col s10 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(location.address,['city'])}}</span></div>
                    <div class="col s2 address-block"><i class="material-icons prefix address-icon">timer</i><span class="address-text">{{location.address.item_time}}</span></div>
                    
                    <div class="col s10 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(location.address,['country'])}}</span></div>
                    <div class="col s2 address-block"><i class="material-icons prefix address-icon">assignment</i><span class="address-text">{{location.address.overhead_time}}</span></div>
                   
                    </div>
        </draggable>
      
</div>

<div id="All" v-if="tab == 'favorites' && favorites.length >= 0" class="tabcontent hide-scroll">

<draggable id="addresslist" v-model="favorites" draggable=".addresslistItem"  group="locations" class="address-nav-content scroll-y hide-scroll" @end="stopDragAddresslist()">
            <div :class="['addresslistItem','card','row','hoverable',{'gray':aKey % 2 == 0}]" v-for="(location,aKey) in favorites" :key="aKey" :id="'locationlist-'+aKey">
               
            <div class="col s12 address-block"><i class="material-icons prefix address-icon">label</i><span class="address-text">{{checkObject(location.address,['label'])}}</span></div>
            <div class="col s12 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(location.address,['street'])}}</span></div>
            <div class="col s8 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(location.address,['zipcode'])}}</span></div>
            <div class="col s10 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(location.address,['city'])}}</span></div>
            <div class="col s2 address-block"><i class="material-icons prefix address-icon">timer</i><span class="address-text">{{location.address.item_time}}</span></div>
            
            <div class="col s10 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(location.address,['country'])}}</span></div>
            <div class="col s2 address-block"><i class="material-icons prefix address-icon">assignment</i><span class="address-text">{{location.address.overhead_time}}</span></div>
          

            </div>
</draggable>

</div>

<div class="align-bottom">
            <div class="tab">
  <button :class="['tablinks',{'active':tab == 'favorites'}]" @click="tab = 'favorites'"><i class="material-icons side-icon">favorites</i></button>
  <button :class="['tablinks',{'active':tab == 'all'}]" @click="tab = 'all'"><i class="material-icons">all_inclusive</i></button>

</div>
    <a class="btn center menu-button" href="../addresses/create" ><i class="material-icons prefix icon">add</i><span class="text">{{translations[selectedLanguage].add_address}}</span></a> 
    <a class="btn center menu-button" @click="closeNav()" ><i class="material-icons prefix icon">close</i><span class="text">{{translations[selectedLanguage].close}}</span></a>
        </div>
    </div>
</template>
<script>
export default {
    name: "SidenavAddresslistComponent",
  
    mounted(){
        //this.locationlist = this.addresslist
        //this.getAddresses()
       
    },
    updated(){
        //this.locationlist = this.addresslist
        // let favorites = false
        // this.addresslist.forEach((address)=>{
        //         if(address.is_favorite){
        //             favorites = true
        //         }
        // })
        
        // this.openTab(null,'Favorites',true)
        // if (!favorites){
     
        //     this.openTab(null,'All')
        // }
    },
    data() {
        return {
            
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "favorites":"Favorite addresses",
                    "add_address" : "Add address",
                    "close" : "Close",
                },

                "nl": {
                    "favorites":"Favoriete adressen",
                    "add_address" : "Voeg adres toe",
                    "close" : "Sluit",
                },
            },
            locationlist:[],
            favorites:[],
            tab:'favorites'
        }
    },

    methods: {
        isFormValid() {
            this.formValid = this.messageValid && this.nameValid && this.emailValid;
        },

        isValidEmail(email) {
            return /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        },
        getAddresses() {
            const url = '../addresses/list';
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.get(url, config).then((response) => {
                this.locationlist = []
                response.data.forEach((address)=>{
                    this.locationlist.push({"address":address,"orders":[]})
                    if(address.is_favorite){
                        this.favorites.push({"address":address,"orders":[]})
                    }
                    
                    
                })
                if (this.favorites.length == 0){
                    this.tab = 'all'
                }

            }).catch((err) => {
                console.error(err);
            })
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            return object[keys[x]]
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        closeNav(){
            //console.log('will be emitted')
            this.$emit('closeNav')
        },
        openTab(evt, cityName,first = false) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            if(!first){
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("active", "");
            }
            
            
            evt.currentTarget.className += " active";
            }
            document.getElementById(cityName).style.display = "block";
        },
        openFavorites(){
            let FavoritesContent = document.getElementsByClassName("favorites");
            

           
        },
        stopDragAddresslist(){
            console.log("stopdrag")
            this.addresslist = []
            this.locationlist = []
            this.getAddresses()
            //this.saveToDatabase()
            
        }
    },

    watch: {
        name(newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Naam kan niet leeg zijn'
                this.nameInvalid = true;
                this.nameValid = false;
            } else {
                this.nameMessage = ''
                this.nameInvalid = false;
                this.nameValid = true;
            }
            this.isFormValid();
        },

        email(newVal) {
            if(newVal.trim() === '') {
                this.emailInvalid = true;
                this.emailValid = false;
                this.emailMessage = 'Email kan niet leeg zijn';
            } else if(!this.isValidEmail(newVal)) {
                this.emailInvalid = true;
                this.emailValid = false;
                this.emailMessage = 'Geen geldig email adres';
            } else {
                this.emailInvalid = false;
                this.emailValid = true;
                this.emailMessage = '';
            }
            this.isFormValid();
        },

        message(newVal) {
            if(newVal.trim() === '') {
                this.messageMessage = 'Bericht kan niet leeg zijn';
                this.messageInvalid = true;
                this.messageValid = false;
            } else {
                this.messageMessage = '';
                this.messageInvalid = false;
                this.messageValid = true;
            }
            this.isFormValid();
        }
    }
}
</script>
<style scoped>
    .gray{
        background:rgba(77, 182, 173,.9) !important;

    }
    .addresslistItem{
    color:white;    
    margin: 7px 0;
    cursor:grab;
    background-color: #009688;
    padding:10px; 
}
.content{
  
      
    
      
      
    }
    .address-block{
    position: relative; 
    width: 100%;
    height: 20px;
 
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 15px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }
    .hide-scroll::-webkit-scrollbar {
        display: none;
    }





    .tab {
  overflow: hidden;

  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 5px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
  background-color: #009688;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(77, 182, 173,.9);;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(77, 182, 173,.9);;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
 
  border-top: none;
  max-height: calc(100vh - 190px);
  overflow: scroll;
}
.align-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .side-icon{
        margin-left: 25px;
    }
</style>