<template>
    <div>
        <div class="address-nav" id="address-sidenav">
            <user-addresslist-sidenav-component
            ref="SidenavAddresslist"
            @closeNav="closeAddressNav"
            ></user-addresslist-sidenav-component>
        </div>
                

		<!-- Bottom menu -->
        <div class="menu-buttons align-bottom"> 
            <draggable 
            id="qeueList" 
            v-model="qeueList" 
            draggable=".qeuelistItem"  
            group="locations" 
            :class="[{'address-nav-content':planboardtype != 1},{'address-nav-content-locked':planboardtype == 1}, 'scroll-y', 'hide-scroll card']" 
            @end="stopDragAddresslist($event)">
                
                <div :class="['qeuelistItem','card','row','hoverable',{'gray':aKey % 2 != 0}]" v-for="(location,aKey) in qeueList" :key="aKey" :id="'qeuelist-'+aKey">
                    
                    <i v-if="planboardtype == 0" @click="openAddressDeleteModal(aKey)" class="material-icons close-button">close</i>
                    <div v-if="!expanded && location.address.label || expanded" class="col s5 address-block"><i class="material-icons prefix address-icon">label</i><span class="address-text">{{checkObject(location.address,['label'])}}</span></div>
                    <div v-if="expanded" class="col s5 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(location.address,['street'])}}</span></div>
                    <div v-if="expanded" class="col s8 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(location.address,['zipcode'])}}</span></div>
                    <div v-if="expanded || !location.address.label" class="col s10 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(location.address,['city'])}}</span></div>
                    <div v-if="expanded" class="col s2 address-block"><i class="material-icons prefix address-icon">timer</i><span class="address-text">{{checkObject(location,['item_time'])}}</span></div>
                    <div v-if="expanded" class="col s10 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(location.address,['country'])}}</span></div>
                    <div v-if="expanded" class="col s2 address-block"><i class="material-icons prefix address-icon">assignment</i><span class="address-text">{{checkObject(location,['overhead_time'])}}</span></div>
                
                    <draggable v-if="expanded" id="qeuelist-orders" v-model="location.orders" class="orders row" draggable=".order" group="orders" @end="stopDragOrder($event)">
                    <div class="col s12 card order" v-for="(order,aKey) in location.orders" :key="aKey" @mousedown="startDragOrder(location,order)">
                        <div v-if="order.label" class="address-block"><i class="material-icons address-icon">label</i><span class="address-text">{{order.label}}</span></div> 
                        <div v-if="order.customer" class="address-block"><i class="material-icons address-icon">person</i><span class="address-text">{{order.customer}}</span></div>
                        <div v-if="order.code" class="address-block"><i class="material-icons address-icon">code</i><span class="address-text">{{order.code}}</span></div>
                        
                        <div v-if="order.clientcomment" class="address-block"><i class="material-icons address-icon">comment</i><span class="address-text">{{order.clientcomment}}</span></div>
                        
                        <i v-if="planboardtype !== 0" @click.self="deleteItem(location,aKey)" class="material-icons close-button">close</i>
                        <div v-for="orderitem in order.orderitems" class="orderitem card"><div v-if="orderitem.label != ''" class="inline">{{orderitem.label}}</div><div class="inline" v-if="orderitem.indexedcode != ''">{{orderitem.indexedcode}}</div><div class="inline" v-if="orderitem.dimensions != ''">{{orderitem.dimensions}}</div></div>
                    </div>
                    
            </draggable>
     
                    
            </div>
            <a :class="['btn', {'expand-button':planboardtype != 1}, {'expand-button-locked':planboardtype == 1}]" v-on:click="expanded = !expanded"><i v-if="expanded" class="material-icons icon">expand_less</i><i v-else class="material-icons icon">expand_more</i><span class="text"></span></a>
            <div class="dropzone"></div> 
        </draggable> 
            <!-- <a v-if="planboardtype != 1" class="btn menu-button" v-on:click="openQeueNav()"><i class="material-icons icon">warning</i><span class="text">{{ translations[selectedLanguage].qeuelist }}</span><span class="quantity">{{qeueListlength}}</span></a>   -->
            <a :class="['menu-button',{'btn menu-button' : errorAddress,'btn':!errorAddress}]" v-on:click="openAddressModal()"><span class="text">{{ translations[selectedLanguage].add_location }}</span><i class="material-icons icon">add</i></a>
            <a class="btn menu-button" v-on:click="openPlanboardModal(periods,transports,addresslist,selectedLanguage,startLocation,planningId,planboardtype,planboardlabel,planboarddescription)"><i class="material-icons icon">settings</i><span class="text">{{ translations[selectedLanguage].settings}}</span></a>
            <a class="btn menu-button" v-on:click="openImportExportModal(periods,transports,addresslist,selectedLanguage,startLocation,planningId,planboardtype,planboardlabel,planboarddescription)"><i class="material-icons icon">import_export</i><span class="text">{{ translations[selectedLanguage].import}}</span></a>       
            <a class="btn menu-button" v-if="planboardtype == 0" @click="openPeriodGroupModal()"><i class="material-icons icon">access_time</i><span class="text">{{ translations[selectedLanguage].add_period }}</span></a>
            <a class="btn menu-button" v-if="planboardtype == 0" @click="openTransportGroupModal()"><i class="material-icons icon">local_shipping</i><span class="text">{{ translations[selectedLanguage].add_transport }}</span></a>
            <a v-if="planboardtype != 1" class="btn menu-button" v-on:click="openAddressNav()"><i class="material-icons icon">list</i><span class="text">{{ translations[selectedLanguage].address_list }}</span></a>
            <a class="btn menu-button" v-on:click="openSaveTemplateModal()"><i class="material-icons icon">view_comfy</i><span class="text">{{ translations[selectedLanguage].save_template }}</span></a>
            <a class="btn menu-button" v-on:click="openSynchronizeModal(makeJSON(cells),planningId,organisationId,apitoken,selectedLanguage)"><i class="material-icons icon">save</i><span class="text">{{ translations[selectedLanguage].sync }}</span></a>
            <a class="btn menu-button" href="../"><i class="material-icons icon">arrow_backward</i><span class="text">{{ translations[selectedLanguage].exit }}</span></a>
            
        </div>
    </div>
</template>
<script>
    export default {
    name: "SidenavMainComponent",
    props:{
        locationProp:Object,
        addressesProp:Array,
        cellProp:Object,
        planboardtype:String,
        apitoken:String
    },
    mounted(){
        this.getAddresses();
        //this.$refs.sidenavQeuelist.getAddresses();
    },
    data() {
        return {
            
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "exit" : "Exit to planboards",
                    "label":"No label",
                    "street":"No street",
                    "zipcode":"No zipcode",
                    "city":"No city",
                    "country":"No country",
                    "tool_no_items":"This location has no items.",
                    "settings":"Planboard settings",
                    "add_period" : 'Add period',
                    "add_transport" : "Add transport",
                    "add_location" : "Add location",
                    "add_address" : "Add address",
                    "address_list":"Address list",
                    "save_template":"Save board as template",
                    "sync":"Synchronize with ovs",
                    "import":"Import/ export",
                    "tool_broken_location":"Location has no street or city",
                    "qeuelist":"Oningedeelde locaties",
                },

                "nl": {
                    "exit" : "Terug naar planboards",
                    "label":"geen label",
                    "street":"Geen straat",
                    "zipcode":"Geen postcode",
                    "city":"Geen stad",
                    "country":"Geen land",
                    "tool_no_items":"Deze locatie heeft geen items.",
                    "settings":"Planboardinstellingen",
                    "add_period" : 'Voeg periode toe',
                    "add_transport" : "Voeg transport toe",
                    "add_location" : "Voeg locatie toe",
                    "add_address" : "Voeg adres toe",
                    "address_list":"Adressenlijst",
                    "save_template":"Sla op als template",
                    "sync":"Synchroniseer met ovs",
                    "import":"Import/ export",
                    "tool_broken_location":"Locatie heeft geen straat of stad",
                    "qeuelist":"Oningedeelde locaties",
                    
                },
            },
            location:{address:{}},
            cell:{transport:{showTime:""}},
            label:"",
            street:"",
            zipcode:"",
            city:"",
            country:"Nederland",
            address:'',
            errorAddress:true,
            errorZipcode:false,
            errorCity:false,
            errorCountry:false,
            errorMessage:'Add location',
            addresses:[],
            periods:[],
            transports:[],
            addresslist:[],
            startLocation:"",
            planningId:"",
            planboardlabel:"",
            planboarddescription:"",
            qeueList:[],
            qeueListlength:0,
            expanded:false

        }
    },
    
    methods:{
        
        addAddress(location){
            this.qeueList.push(location)
            this.saveQeuelist();
        },
        deleteAddress(aKey){
            this.qeueList.splice(aKey,1)
            this.saveQeuelist()
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            return object[keys[x]]
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        checkOrders(location){
        if(location.orders){
            if(location.orders.length){
                return true
            }
        }
            return false
        },
        setAddresses(){
            this.addresses = this.addressesProp
        },
        stopDragLocation:function(event){
            this.addresses.splice(event.oldIndex,1)
            this.$emit('calculateRoutes')
            this.$emit('saveToDatabase')
        },
        openAddressNav() {
            document.getElementById("address-sidenav").style.width = "300px";
            this.$refs.SidenavAddresslist.getAddresses();
            this.$emit('openOverlay')
           
        },
        openQeueNav() {
            document.getElementById("qeue-sidenav").style.width = "300px";
            //this.$refs.SidenavAddresslist.getAddresses();
            this.$emit('openOverlay')
           
        },
        closeAddressNav() {
            this.$emit('closeAllSideNavs')
            document.getElementById("address-sidenav").style.width = "0";
             //this.openOverlay();
        },
        openAddressModal() {
            this.$emit('openAddressModal')
        },
        openTransportGroupModal() {
            this.$emit('openTransportGroupModal')
        },
        openPeriodGroupModal() {
            this.$emit('openPeriodGroupModal')
        },
        openSaveTemplateModal(){
            //console.log("emitted")
            this.$emit('openSaveTemplateModal')
        },
        openPlanboardModal(){
            this.$emit('openPlanboardModal')
        },
        openImportExportModal(){
            console.log("open")
            this.$emit('openImportExportModal')
        },
        openAddressDeleteModal(rowKey){
            console.log('clicked')
            this.$emit('openAddressDeleteModal',rowKey)
        },
        getAddresses() {
            const url = '../addresses/qeuelist';
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.get(url, config).then((response) => {
                if (response.data !== null){
                    this.qeueList = response.data
                }
    
                console.log('qeuelist',this.qeueList)
            }).catch((err) => {
                console.error(err);
            })
        },
        startDragOrder(location,order){
            this.$emit('startDragOrder',location,order);
        },
        stopDragOrder(event){
     
            if(event.to.id === 'qeuelist-orders'){
                event = 'no_move'
            }
            this.$emit('stopDragOrder',event);
            this.saveQeuelist();
        },
        sortQeuelist(){
            console.log('list before sort',this.qeueList)
            let duplicates = []
            let orders = []
            if(this.qeueList === null || this.qeueList === []){
                
            }else{
                this.qeueList.forEach((qeue,i1)=>{
                        let is_duplicate = false
                        duplicates.forEach((duplicate)=>{
                            if(JSON.stringify(duplicate.address) == JSON.stringify(qeue.address)){
                                is_duplicate = qeue

                            }
                            
                        })
                        if (is_duplicate){
                            duplicates.forEach((duplicate)=>{
                                if(JSON.stringify(duplicate.address) == JSON.stringify(is_duplicate.address)){
                                    console.log('duplicate',duplicate,is_duplicate)
                                    is_duplicate.orders.forEach((is_order)=>{
                                        duplicate.orders.push(is_order)
                                    })
                                    
                                }
                            })
                        }else{
                                duplicates.push(qeue)
                            }
                })
            }
            console.log('after',duplicates)
            this.qeueList = duplicates;
        },
        setQeuelistlength(length){
            this.qeueListlength = length
        },
        saveQeuelist() {
            console.log(this.qeueList)
            const url = '../addresses/qeuelist/store';
            const data = {
                qeuelist: this.qeueList
            }
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.post(url,data, config).then((response) => {         
                
            }).catch((err) => {
                console.error(err);
            })
        },
        stopDragAddresslist(){
            this.saveQeuelist();
            this.$emit('calculateRoutes')
            this.$emit('saveToDatabase')
        }
       
    }
    
}    
</script>
<style scoped>
.address-input{
    position: relative;
    
}
.address-input input{
    all:unset;
    padding: 0 0 0 35px;
    max-width: 100%;
    border-bottom: solid rgb(228, 227, 227);
    border-width: 1px;
    font-size:1.5rem;
    
}
.address-input .icon{
    position: absolute;
    top:0;
    left:15px;
   
}

.gray{
        background:rgba(77, 182, 173,.9);

    }
.close-button{
        position: absolute;
        top:0;
        right:0;
        background:rgb(223, 2, 2);

        color:white;
        margin: 1px;
        font-size: 20px;

}
.icons{
    float: right;
      margin: 2px 20px 0 0;
}

 .address-nav{
        position: fixed;
        top:0;
        left:0;
        width: 0;
        padding-top:50px;
        height: 100vh;
        background: white;
        z-index: 20;
        transition: 0.2s;
        overflow: hidden;
      
      
    }
    .address-nav-content{
        /* position: relative;
        background-image: url("/assets/dropzone3.png");
            background-size: 100% 100%;

            background-position: center; */

            margin: 0 0 2px 0;
            background-repeat: no-repeat;
            height: calc(100vh - 530px);
            position: relative;
            overflow-y: scroll;
            overflow-x:hidden;
      
      
    }
    .address-nav-content-locked{
        /* position: relative;
        background-image: url("/assets/dropzone3.png");
            background-size: 100%;

            background-position: center; */

            margin: 0 0 2px 0;
            background-repeat: no-repeat;
            height: calc(100vh - 375px);
            position: relative;
            overflow-y: scroll;
            overflow-x:hidden;
    }
    .qeue-nav{
        position: fixed;
        top:0;
        left:0;
        width: 0;
        padding-top:50px;
        height: 100vh;
        background: white;
        z-index: 10;
        transition: 0.2s;
        overflow: hidden;
      
      
    }
  
    .align-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .menu-buttons{
    
        display: block;
    }
    .hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }
    .hide-scroll::-webkit-scrollbar {
        display: none;
    }
    .row{
        margin: 0;
    }
    .quantity{
        position: absolute;
        top:6px;
        right:10px;
    }
    .orders{
    margin: 0;
}    
.order{

    margin: 2px 0;
    background:rgba(67, 82, 176 ,.5);
    padding:5px;
}   

.address-block{
    position: relative; 
    width: 100%;
    height: 20px;
    /* margin: 5px 0;  */
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 17px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.qeuelistItem{
    color:white;    
    margin: 2px 0;
    cursor:grab;
    background-color: rgba(0, 128, 128,1);
    padding:15px 0 0 10px; 
    min-height: 45px;
    z-index: 10;
}
.scroll-y{
    overflow-y: scroll;
}
.gray{
        background:rgba(77, 182, 173,1);

    }
    .expand-button{
        border-radius: 45px;
        position: fixed;
        bottom:500px;
        left:235px;
        z-index: 10;
    }
    .expand-button-locked{
        border-radius: 45px;
        position: fixed;
        bottom:330px;
        left:235px;
        z-index: 10;
    }
    .address-block{
    position: relative; 
    width: 100%;
    height: 20px;
    
    /* margin: 5px 0;  */
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 17px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.orderlist{
    position: relative;
}
.orderitem{
    margin: 2px 0;
    color:black;
}
.inline{
    display: inline-block;
    
  
}
.dropzone{
    width: 90%;
    height: 96%;
    z-index: 1;
    position: absolute;
    top:2%;
    left:5%;
    border: 3px dashed rgb(168, 168, 168);
    
}
</style>