<template>
    <div class="content">
        <div :class="['qeuelistItem','card','row','hoverable','gray']">
      
            <div class="col s10"><span class="title"><b>Oningedeelde locaties</b></span></div>
            <!-- <div class="col s5 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(location.address,['street'])}}</span></div>
            <div class="col s8 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(location.address,['zipcode'])}}</span></div>
            <div class="col s10 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(location.address,['city'])}}</span></div>
            <div class="col s2 address-block"><i class="material-icons prefix address-icon">timer</i><span class="address-text">{{location.address.item_time}}</span></div>
            
            <div class="col s10 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(location.address,['country'])}}</span></div>
            <div class="col s2 address-block"><i class="material-icons prefix address-icon">assignment</i><span class="address-text">{{location.address.overhead_time}}</span></div> -->
           
            </div>
    <draggable id="qeueList" v-model="qeueList" draggable=".qeuelistItem"  group="locations" class="address-nav-content scroll-y hide-scroll">
        <div :class="['qeuelistItem','card','row','hoverable']" v-for="(location,aKey) in qeueList" :key="aKey" :id="'qeuelist-'+aKey">
      
            <div class="col s5 address-block"><i class="material-icons prefix address-icon">label</i><span class="address-text">{{checkObject(location.address,['label'])}}</span></div>
            <div v-if="expanded" class="col s5 address-block"><i class="material-icons prefix address-icon">location_on</i><span class="address-text">{{checkObject(location.address,['street'])}}</span></div>
            <div v-if="expanded" class="col s8 address-block"><i class="material-icons prefix address-icon">local_post_office </i><span class="address-text">{{checkObject(location.address,['zipcode'])}}</span></div>
            <div v-if="expanded" class="col s10 address-block"><i class="material-icons prefix address-icon">location_city </i><span class="address-text">{{checkObject(location.address,['city'])}}</span></div>
            <div v-if="expanded" class="col s2 address-block"><i class="material-icons prefix address-icon">timer</i><span class="address-text">{{checkObject(location,['item_time'])}}</span></div>
            
            <div v-if="expanded" class="col s10 address-block"><i class="material-icons prefix address-icon">public</i><span class="address-text">{{checkObject(location.address,['country'])}}</span></div>
            <div v-if="expanded" class="col s2 address-block"><i class="material-icons prefix address-icon">assignment</i><span class="address-text">{{checkObject(location,['overhead_time'])}}</span></div>
        
            <draggable id="qeuelist-orders" v-model="location.orders" class="orders row" draggable=".order" group="orders" @end="stopDragOrder($event)">
            <div class="col s12 card order" v-for="(order,aKey) in location.orders" :key="aKey" @mousedown="startDragOrder(location,order)">
                {{order.label}}  {{order.code}}  {{order.customer}}
                </div>
            </draggable>
            
    </div>
        
</draggable>
<div class="align-bottom">
           
    <!-- <table v-if="checkLocations(cell)" v-show="cell.transport.showTime" class="card">
    <tr><td>{{translations[selectedLanguage].travel_time}}:</td><td class="value">{{secondsToHms(cell.settings.travel_time)[0]}}<br>{{secondsToHms(cell.settings.travel_time)[1]}}</td></tr>
    <tr><td>{{translations[selectedLanguage].location_time}}:</td><td class="value">{{secondsToHms(cell.settings.total_time - cell.settings.travel_time)[0]}}<br>{{secondsToHms(cell.settings.total_time - cell.settings.travel_time)[1]}}</td></tr>
    <tr><td>{{translations[selectedLanguage].total_time}}:</td><td class="value">{{secondsToHms(cell.settings.total_time)[0]}}<br>{{secondsToHms(cell.settings.total_time)[1]}}</td></tr>        
    </table> -->
    <a v-if="!expanded"  @click="setExpanded()" class="btn menu-button"><i class="material-icons icon">format_align_left</i><span class="text">{{translations[selectedLanguage].expand}}</span></a>
    <a v-else @click="setExpanded()" class="btn menu-button"><i class="material-icons icon">format_align_justify</i><span class="text">{{translations[selectedLanguage].collapse}}</span></a>
    <a @click="closeFullscreen()" class="btn menu-button"><i class="material-icons icon">close</i><span class="text">{{translations[selectedLanguage].close}}</span></a>
    <!-- <a class="center" @click="closeAllSideNavs();deselect()" >{{translations[selectedLanguage].close}}</a> -->
</div>
</div>

</template>

<script>
export default {
    name: "SidenavQeuelistComponent",
  
    mounted(){
        this.$emit('setQeuelistlength',this.qeueList.length)
    },

    data() {
        return {
            
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "favorites":"Favorite addresses",
                    "add_address" : "Add address",
                    "close" : "Close",
                    "expand": "Expand",
                    "collapse":"Collapse",
                },

                "nl": {
                    "favorites":"Favoriete adressen",
                    "add_address" : "Voeg adres toe",
                    "close" : "Sluit",
                    "expand": "Uittrekken",
                    "collapse":"Inklappen",
                },
            },
            qeueList:[],
            expanded:false
        }
    },
    watch:{
        // qeueList(){
        //    // this.$emit('setQeuelistlength',qeueList.length)
        //     this.saveQeuelist()
        // }

    },

    methods: {
        getAddresses() {
            if (this.qeueList === [] || 1){

            
            const url = '../addresses/qeuelist';
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.get(url, config).then((response) => {
                this.qeueList = response.data
                this.$emit('setQeuelistlength',this.qeueList.length)
            }).catch((err) => {
                console.error(err);
            })
            }
        },
        saveQeuelist() {
            const url = '../addresses/qeuelist/store';
            const data = {
                qeuelist: this.qeueList
            }
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.post(url,data, config).then((response) => {
                //this.locationlist = []
                console.log(response.data)
           
                
            }).catch((err) => {
                console.error(err);
            })
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            return object[keys[x]]
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        startDragOrder(location,order){
            this.$emit('startDragOrder',location,order);
        },
        stopDragOrder(event){
            console.log(event)
            this.$emit('stopDragOrder',event);
        },
        stopDragAddresslist(event){
            console.log(event)
        },
        sortQeuelist(){
            console.log('list before sort',this.qeueList)
            let duplicates = []
            let orders = []
            if(this.qeueList === null || this.qeueList === []){
                
            }else{
                this.qeueList.forEach((qeue,i1)=>{
                        let is_duplicate = false
                        duplicates.forEach((duplicate)=>{
                            if(JSON.stringify(duplicate.address) == JSON.stringify(qeue.address)){
                                is_duplicate = qeue

                            }
                            
                        })
                        if (is_duplicate){
                            duplicates.forEach((duplicate)=>{
                                if(JSON.stringify(duplicate.address) == JSON.stringify(is_duplicate.address)){
                                    console.log('duplicate',duplicate,is_duplicate)
                                    is_duplicate.orders.forEach((is_order)=>{
                                        duplicate.orders.push(is_order)
                                    })
                                    
                                }
                            })
                        }else{
                                duplicates.push(qeue)
                            }


                })








                    // this.qeueList.forEach((qeue2,i2)=>{
                    //     if(JSON.stringify(qeue.address) == JSON.stringify(qeue2.address) && i1 !== i2){
                    //         let is_duplicate = false
                    //         duplicates.forEach((duplicate)=>{
                    //             if(JSON.stringify(duplicate.address) == JSON.stringify(qeue.address)){
                    //                 console.log('duplicate',qeue,duplicate)
                    //                 is_duplicate = true
                    //                 duplicate.orders.forEach((order)=>{
                    //                     orders.push(order)
                    //                 })
                                   

                    //             }
                    //         })
                            
                    //         if(!is_duplicate){
                    //             orders.forEach((order)=>{
                    //                 qeue.orders.push(order)
                    //             })
                    //             duplicates.push(qeue)
                    //         }
                            
                    //     }
                    // })
              //  })
            
            
            }
            console.log('after',duplicates)
            this.qeueList = duplicates;
        },
        setExpanded(){
            this.expanded = !this.expanded;
        },
        }
}

</script>
<style scoped>
    .gray{
        background:rgba(0, 128, 128,.9) !important;
        

    }
    .qeuelistItem{
    color:white;    
    margin: 3px 0;
    cursor:grab;
    background-color: #009688;
    padding:10px; 
}
.content{
  margin-top: 10px;
      
    
      
      
    }
    .address-block{
    position: relative; 
    width: 100%;
    height: 20px;
    /* margin: 5px 0;  */
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 17px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }
    .hide-scroll::-webkit-scrollbar {
        display: none;
    }





    .tab {
  overflow: hidden;

  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 5px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
  background-color: #009688;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(77, 182, 173,.9);;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(77, 182, 173,.9);;
}

/* Style the tab content */
.tabcontent {
  display: none;
 
  border-top: none;
  max-height: calc(100vh - 190px);
  overflow: scroll;
}
.align-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .side-icon{
        margin-left: 25px;
    }
    .title{
        font-size: 1.2rem;
    }
.orders{
    margin: 0;
}    
.order{
    color:black;
    margin: 2px 0;
}   
.order:hover{
    color:black;
    background: rgba(117, 231, 222, 0.9);  
}    
</style>