<template>
    <div>
        <div class="nav-head">
     
        <div class="row address-form-color card row">
            <div class="address-input-color label col s10">
                <i class="material-icons label">label</i>
                <input :disabled="planboardtype == 1" :class="{disabledInput:planboardtype == 1}" type="text" @change="calculateRoutes();saveToDatabase()" v-model="location.address.label" :placeholder="translations[selectedLanguage].no_label">
            </div>
            <div class="address-input-color col s10">
                <i class="material-icons icon">location_on</i>
                <input :disabled="planboardtype == 1" :class="{disabledInput:planboardtype == 1}"  type="text" @change="calculateRoutes();saveToDatabase()" v-model="location.address.street" :placeholder="translations[selectedLanguage].no_street">
            </div>
            <div class="address-input-color col s5">
                <i class="material-icons icon">local_post_office</i>
                <input :disabled="planboardtype == 1" :class="{disabledInput:planboardtype == 1}"  type="text" @change="calculateRoutes();saveToDatabase()" v-model="location.address.zipcode" :placeholder="translations[selectedLanguage].no_zipcode">
            </div>
            <div class="address-input-color col s5">
                <i class="material-icons icon">location_city</i>
                <input :disabled="planboardtype == 1" :class="{disabledInput:planboardtype == 1}"  type="text" @change="calculateRoutes();saveToDatabase()" v-model="location.address.city" :placeholder="translations[selectedLanguage].no_city">
            </div>
                <div class="address-input-color col s10">
                <i class="material-icons icon">public</i>
                <input :disabled="planboardtype == 1" :class="{disabledInput:planboardtype == 1}"  type="text" @change="calculateRoutes();saveToDatabase()" v-model="location.address.country" :placeholder="translations[selectedLanguage].no_country">
            </div>
            
            
            

       
        </div>
        <div class="row">
            <div class="col s4 address-input"  v-show="cell.transport.showTime">
                <i class="material-icons icon">assignment</i>
                <input  :class="{disabledInput:planboardtype == 1}" type="number" @change="setLocationTime(location);setTotalTime(cell)" v-model="location.overheadTime" id="overheadTime">
                <label>overhead</label>
            </div>
            
            <div class="col s4 offset-s2 address-input"  v-show="cell.transport.showTime">
                <i class="material-icons icon">timer</i>
                <input :class="{disabledInput:planboardtype == 1}" type="number" @change="setLocationTime(location);setTotalTime(cell)" v-model="location.itemTime" id="itemTime">
                <label>item</label>
            </div>
        </div>
        
          
        <table class="card">
            <!-- <tr><td>{{translations[selectedLanguage].overhead}}:</td><td>{{location.overheadTime}} minutes</td></tr>
            <tr><td>{{translations[selectedLanguage].item_time}}:</td><td>{{location.itemTime}} minute</td></tr> -->
            <tr><td>{{translations[selectedLanguage].item_quantity}}:</td><td class="value">{{checkOrders(location,true)}}</td></tr>
            <tr><td>{{translations[selectedLanguage].location_time}}:</td><td class="value">{{location.locationTime}} minutes</td></tr>        
        </table>


        <div class="row new-item card">

            <!-- <h5 v-if="checkOrders(location)" class="col s12 center">Items</h5>
            <div v-else class="col s12">This location has no Items</div> -->
            <div v-if="planboardtype == 0">
            <div class="address-input col s12">
                <i class="material-icons icon">label</i>
                <input @keyup.enter="addItemToLocation()" type="text" v-model="itemLabel" :placeholder="'Product'">
            </div>
            <div class="address-input col s12">
                <i class="material-icons icon">person</i>
                <input @keyup.enter="addItemToLocation()" type="text" v-model="itemCustomer" :placeholder="translations[selectedLanguage].commission">
            </div>
            <div class="address-input col s12">
                <i class="material-icons icon">code</i>
                <input @keyup.enter="addItemToLocation()" type="text" v-model="itemCode" :placeholder="translations[selectedLanguage].code">
            </div>
            <div class="address-input col s12">
                <i class="material-icons icon">comment</i>
                <input @keyup.enter="addItemToLocation()" type="text" v-model="comment" :placeholder="translations[selectedLanguage].comment">
            </div>
            
                <a @click="addItemToLocation()" class="btn menu-button"><i class="material-icons icon">add</i><span class="text">Add an item</span></a>
           </div>

             
        </div>
        </div>   
        <draggable v-model="location.orders" draggable=".locationitem" id="orderList" group="orders" class="orderList scroll-y hide-scroll" @end="stopDragOrder($event)">
            <div :id="'orderitem-'+aKey" :class="[{'indigoblue':aKey % 2 !== 0},'locationitem','card']" v-for="(order,aKey) in location.orders" :key="aKey" @mousedown="startDragOrder(order)" @mouseup="stopDragOrder($event)">
                <div class="locationItem-content">
                    <div v-if="order.label || expanded" class="address-block"><i class="material-icons address-icon">label</i><span class="address-text">{{order.label}}</span></div> 
                    <div v-if="expanded || !order.label" class="address-block"><i class="material-icons address-icon">person</i><span class="address-text">{{order.customer}}</span></div>
                    <div v-if="order.code != ''  && expanded" class="address-block"><i class="material-icons address-icon">code</i><span class="address-text">{{order.code}}</span></div>
                    
                    <div v-if="order.clientcomment != ''  && expanded" class="address-block"><i class="material-icons address-icon">comment</i><span class="address-text">{{order.clientcomment}}</span></div>
                    
                    <i v-if="planboardtype !== 0" @click.self="deleteItem(location,aKey)" class="material-icons close-button">close</i>
                    <div v-if="expanded" v-for="orderitem in order.orderitems" class="orderitem card"><div v-if="orderitem.label != ''" class="inline">{{orderitem.label}}</div><div class="inline" v-if="orderitem.indexedcode != ''">{{orderitem.indexedcode}}</div><div class="inline" v-if="orderitem.dimensions != ''">{{orderitem.dimensions}}</div></div>
                
                </div>
            </div>
        </draggable>
        <a class="btn expand-button" v-on:click="expanded = !expanded"><i v-if="expanded" class="material-icons icon">expand_less</i><i v-else class="material-icons icon">expand_more</i><span class="text"></span></a>
    
        <div class="align-bottom back-button card">
            <a class="center" @click="closeAllSideNavs();deselect()" >Close</a>
        </div>
    </div>
</template>

<script>
    export default {
    name: "SidenavLocationComponent",
    props:{
        locationProp:Object,
        cellProp:Object,
        planboardtype:String
    },
    mounted(){
        
        //this.getAddresses()
    },
    updated(){
        //this.locationlist = this.addresslist
    },
    data() {
        return {
            
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "no_label":"No label",
                    "no_street":"No street",
                    "no_zipcode":"No zipcode",
                    "no_city":"No city",
                    "no_country":"No country",
                    "code":"Code",
                    "commission":"Commission",
                    "add_item":"Add item",
                    "item_time":"Item time",
                    "location_time":"Total location time",
                    "item_quantity":"Item quantity",
                    "overhead":"Overhead",
                    "size":'Size',
                    "part":'Part Number',
                    "comment":"Comment"

                },

                "nl": {
                    "no_label":"geen label",
                    "no_street":"Geen straat",
                    "no_zipcode":"Geen postcode",
                    "no_city":"Geen stad",
                    "no_country":"Geen land",
                    "code":"Ordernummer",
                    "commission":"Commissie",
                    "add_item":"Voeg item toe",
                    "item_time":"Itemtijd",
                    "location_time":"Tijd op locatie",
                    "item_quantity":"Aantal items",
                    "overhead":"Overhead",
                    "size":'Afmetingen',
                    "part":'Onderdeelnummer',
                    "comment":"Commentaar"
                    
                },
            },
            location:{address:{}},
            cell:{transport:{showTime:""}},
            itemLabel:"",
            itemCustomer:"",
            itemCode:"",
            comment:"",
            expanded:false
        }
    },
    watch:{
        location:{
            deep:true,
            handler(){
                //console.log("change!!")
                this.saveToDatabase()
            }
        }
    },
    methods:{
        setLocation(){
            
        this.location = this.locationProp
        this.cell = this.cellProp
        console.log("cell",this.cell)
        },
        setLocationTime(location){
        
            this.$emit('setLocationTime',location);
        },
        setTotalTime(cell){
            this.$emit('setTotalTime',cell);
        },
        startDragOrder(order){
            this.$emit('startDragOrder',this.locationProp,order);
        },
        stopDragOrder(event){
            console.log(event)
            if(event.to.id === 'orderList'){
                event = 'no_move'
            }
            this.$emit('stopDragOrder',event);
        },
        addItemToLocation(){
            this.$emit('addItemToLocation',this.itemCode,this.itemCustomer,this.itemLabel,this.comment);
        },
        deleteItem(location,key){
            this.$emit('deleteItem',location,key);
            
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            return object[keys[x]]
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        checkOrders(location,int = false){
        if(location.orders){
            if(location.orders.length){
                if (int){
                    return location.orders.length
                }
                return true
            }
        }
        if(int){
            return 0;
        }
        return false
        },
        saveToDatabase(){
            //console.log("save from location sidenav")
            this.$emit('saveToDataBase')
        },
        calculateRoutes(){
            this.$emit('calculateRoutes')
        },
        closeAllSideNavs(){
            this.$emit('closeAllSideNavs')
        }    
    }
    
}    
</script>

<style scoped>
 .row{
    margin-bottom: 10px;
 }   
 .label{
    font-size:1.5rem;
    font-weight: bold;
    margin: 10px 0 0 0;
}
.nav-content{
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden ;
}
.nav-head{

}
.hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }
    .hide-scroll::-webkit-scrollbar {
        display: none;
    }
.address-input{
    position: relative;
    
}
.address-input input{
    all:unset;
    padding: 0 0 0 35px;
    max-width: 100%;
    border-bottom: solid rgb(228, 227, 227);
    border-width: 1px;
    font-size:1.5rem;
    
}
.address-input .icon{
    position: absolute;
    top:5px;
    left:15px;
   
}

.label{
    
    font-weight: bold;
    margin: 10px 0 0 0;
}
.address-input-color{
    position: relative;
    padding-bottom: 10px;
    
}
.address-input-color input{
    all:unset;
    padding: 0 0 0 35px;
    max-width: 100%;
    border-bottom: solid #b2dfdb;
    border-width: 1px;
    color:white;
    font-size:1.2rem;
    position: relative;
    margin: -5px 0;
    
}
.address-input-color input:focus{
   
    border-bottom: solid rgb(228, 227, 227);
    border-width: 1px;
}
.address-input-color .icon{
    position: absolute;
    top:0px;
    left:15px;
}
.address-input-color .label{
    position: absolute;
    top:0px;
    left:15px;
}
.address-form-color{
    background-color:rgba(77, 182, 173,.9);
  
}
 .locationitem{
       background:rgba(67, 82, 176 ,.9);
        color: white;
        font-size: 1rem;
        overflow: visible;
        cursor: grab;

        margin: 1px;
        z-index: 10;
        padding: 10px;
    }
    .indigoblue{
        background:rgba(162, 169, 217 ,.9);
    }
    .locationItem-content{
        width: 100%;
      
        word-wrap: break-word

    }
    .item-time{
        position: absolute;
        top:40px
    }
    .item-margin{

        margin-bottom: 25px;
    }
    .item{
        position: relative;
        border-width: 1px;
        
    }
    .item:hover{
        cursor: grab;
        background:#004d40;
        cursor: grab;
      
         border-width: 1px;
        

    }
    .close-button{
        position: absolute;
        top:0;
        right:0;
        background: red;
        color:white;
        margin: 1px;
        font-size: 20px;

    }
    .back-button{
        width: 100%;
        text-align: center;
        font-size: 25px;
        display: block;
        cursor: pointer;
        color: rgb(189, 189, 189);
        text-decoration: none;
        z-index: 20;
    }
    .new-item{
        /* margin: -30px 0 0 0; */
    }
    .align-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .orderList{
        margin-top: -10px;
         position: relative;
         overflow-y: scroll ;
        overflow-x: hidden;
        height: calc(100vh - 300px);
    }
  
    .value{
        background-color: rgba(77, 182, 173,.9);
        color:white;
        width: 50px;
        text-align: center;
    }
    .inline{
        display: inline-block;
        color:black;
    }
    .orderitem{
        margin: 2px 0;
    }
    .address-block{
    position: relative; 
    width: 100%;
    height: 20px;
    /* margin: 5px 0;  */
    
}
.address-text{
    position: absolute;
    top:0;
    left:30px;
    display: inline-block;
    line-height: 17px;
}
.address-icon{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    line-height: 20px;
}
.expand-button{
        border-radius: 45px;
        position: absolute;
        bottom:75px;
        left:220px;
    }
</style>
