<template>
    <div>
        <h4 class="address card center gray">
            {{cell.transport.label}}
            </h4>
         
            <div class="center">
            <div class="switch">
                            {{translations[selectedLanguage].map}}<br>
                            <!-- <i class="material-icons">map</i><br> -->
                            <label>
                                Off
                            <input type="checkbox" @change="showMap(cell)" v-model="cell.transport.map">
                            <span class="lever"></span>
                                On
                            </label>
                        </div>
                    <div class="switch">
                            {{translations[selectedLanguage].time}}<br>
                            <!-- <i class="material-icons">access_time</i><br> -->
                            <label>
                                Off
                            <input type="checkbox" @change="showTime(cell)" v-model="cell.transport.showTime">
                            <span class="lever"></span>
                                On
                            </label>
                    </div>
                    <div class="switch">
                            {{translations[selectedLanguage].circular}}<br>
                            <!-- <i class="material-icons">access_time</i><br> -->
                            <label>
                                Off
                            <input type="checkbox" @change="circRoute(cell)" v-model="cell.transport.circular">
                            <span class="lever"></span>
                                On
                            </label>
                    </div>
                    <!-- {{cell.locations}} -->
                    <!-- <div v-for="(location,key) in cell.locations" :key="key">
                       <div class="card gray">{{checkObject(location.address,['street'])}}<br>{{checkObject(location.address,['zipcode'])}}<br>{{checkObject(location.address,['city'])}}</div>
                       {{location.time}}
                       <div v-if="location.length !== key-1" >{{location.time.distance_value/1000}}<i class="material-icons">arrow_downward</i>{{location.time.duration_text}}</div>
                    </div> -->

            <div>
            </div>            
           
       
        
            </div>
        <!-- <p v-for="order in orders">
            {{order.label}}
        </p> -->
             <div class="">
            
            
            </div>
            <div class="align-bottom">
                <table v-if="checkLocations(cell)" v-show="cell.transport.showTime" class="card">
            <!-- <tr><td>{{translations[selectedLanguage].overhead}}:</td><td>{{location.overheadTime}} minutes</td></tr>
            <tr><td>{{translations[selectedLanguage].item_time}}:</td><td>{{location.itemTime}} minute</td></tr> -->
            <tr><td>{{translations[selectedLanguage].travel_time}}:</td><td class="value">{{secondsToHms(cell.settings.travel_time)[0]}}<br>{{secondsToHms(cell.settings.travel_time)[1]}}</td></tr>
            <tr><td>{{translations[selectedLanguage].location_time}}:</td><td class="value">{{secondsToHms(cell.settings.total_time - cell.settings.travel_time)[0]}}<br>{{secondsToHms(cell.settings.total_time - cell.settings.travel_time)[1]}}</td></tr>
            <tr><td>{{translations[selectedLanguage].total_time}}:</td><td class="value">{{secondsToHms(cell.settings.total_time)[0]}}<br>{{secondsToHms(cell.settings.total_time)[1]}}</td></tr>        
            </table>
                <a @click="downloadExcel(cell)" class="btn menu-button"><i class="material-icons icon">download_file</i><span class="text">{{translations[selectedLanguage].excel}}</span></a>
            <a @click="downloadPDF(cell)" class="btn menu-button"><i class="material-icons icon">download_file</i><span class="text">{{translations[selectedLanguage].pdf}}</span></a>
            <a @click="openGoogle()" class="btn menu-button"><i class="material-icons icon">location_on</i><span class="text">{{translations[selectedLanguage].google}}</span></a>
            <a @click="closeAllSideNavs();deselect()" class="btn menu-button"><i class="material-icons icon">close</i><span class="text">{{translations[selectedLanguage].close}}</span></a>
            <!-- <a class="center" @click="closeAllSideNavs();deselect()" >{{translations[selectedLanguage].close}}</a> -->
        </div>
    </div>
</template>
<script>
    export default {
    name: "SidenavTileComponent",
    props:{
        cellProp:Object,
        planboardId:String
    },
    mounted(){
        //console.log(this.planboardId)
        this.setCell()
        this.closeAllSideNavs()
    },
    updated(){
        //this.locationlist = this.addresslist
    },
    data() {
        return {
            
            selectedLanguage: document.documentElement.lang,
            translations: {
                "en": {
                    "no_label":"No label",
                    "no_street":"No steet",
                    "no_zipcode":"No zipcode",
                    "no_city":"No city",
                    "no_country":"No country",
                    "map":"Show map",
                    "time":"Show time",
                    "circular":"Circular route",
                    "travel_time":"Travel time",
                    "total_time": "Total time",
                    "location_time": "Time spend on location",
                    "close" : "Close",
                    "pdf":"Download PDF",
                    "excel":"Download Excel",
                    "google":"Show on Google"
                },

                "nl": {
                    "no_label":"geen label",
                    "no_street":"Geen straat",
                    "no_zipcode":"Geen postcode",
                    "no_city":"Geen stad",
                    "no_country":"Geen land",
                    "map":"Toon kaart",
                    "time":"Toon tijden",
                    "circular":"Circulaire route",
                    "travel_time":"Reistijd",
                    "total_time": "Totale tijd",
                    "location_time": "Tijd op locatie",
                    "close" : "Sluit",
                    "pdf":"Download PDF",
                    "excel":"Download Excel",
                    "google":"Toon in Google"
                    
                },
            },
            location:{address:{}},
            planboardtype:0,
            cell:{transport:{showTime:"",map:""}},
            itemLabel:"",
            itemCustomer:"",
            itemCode:"",
        }
    },
    methods:{
        closeAllSideNavs(){
            this.$emit('closeAllSideNavs')
        },  
        deselect(){
            this.$emit('deselect')
        }, 
        setCell(cell = null){
            if(cell !== null){
                this.cell = cell
            }
           
        },
        showMap(){
             this.$emit('showMap',this.cell);
        },
        showTime(){
            this.$emit('showTime',this.cell);
        },
        circRoute(){
            this.$emit('circRoute',this.cell);
        },
        downloadPDF(){
            this.$emit('downloadPDF',this.cell);
        },
        downloadExcel(cell){
            window.location.href = this.planboardId+'/excel/'+cell.transport.key+"/"+cell.period.key
            //this.$emit('downloadExcel',this.cell);
        },
        openGoogle(){
            this.$emit('getGoogle',this.cell);
        },  
        secondsToHms(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);
            if(this.selectedLanguage === 'en'){
            var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
            }else{
            var hDisplay = h > 0 ? h + (h == 1 ? " uur, " : " uren, ") : "";
            var mDisplay = m > 0 ? m + (m == 1 ? " minuut, " : " minuten, ") : "";
            var sDisplay = s > 0 ? s + (s == 1 ? " seconde" : " seconden") : ""; 
            }
            return [hDisplay, mDisplay]; 
        },
        checkObject(object,keys,output = 'string'){
            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            return object[keys[x]]
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        checkLocations(cell){
            if(cell.locations){
                if(cell.locations.length){
                    return true
                }
            }
                return false
            }  
        },
 
        
    
}    
</script>

<style scoped>
.align-bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
}
.back-button{
        width: 100%;
        text-align: center;
     
        display: block;
        cursor: pointer;
        color: rgb(189, 189, 189);
        text-decoration: none;
    }
    td{
        padding:5px;
    }
    .value{
        background-color: rgba(77, 182, 173,.9);
        color:white;
        width: 100px;
        padding: 5px 10px;
    }
</style>