<template>
<div>
    
    <div class="row">
    
        <div class="col s12 card">
            <tr v-for="(row, pKey) in cells[0]" >
                <td v-for="(cell,cKey) in row">
                    {{cell}}
                </td>
            </tr>
           
           
    

        </div>

    </div>
  
    
</div>    
</template>

<script>

export default {
    name: "CreateTemplateComponent",
    data: function () {
        return {
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
            transports:[],
            periods:[],
            cells:[[
                {period:"monday",transport:"eigen"},{period:"tuesday",transport:"eigen"}],
                [{period:"monday",transport:"DHL"},{period:"tuesday",transport:"DHL"}],
                [{period:"monday"}]]
        }
    },
    props:{
        transports_string:String,
        periods_string:String,
        cells_string:String,
        organisation:String,
    },
    mounted(){
        //this.transports = this.transports_string
        this.transports = JSON.parse(this.transports_string)
        this.periods = JSON.parse(this.periods_string)
        this.cells = JSON.parse(this.cells_string)
    },

    watch: {
        name: function (newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Name cannot be empty';
                this.nameValid = false;
                this.nameError = true;
            } else {
                this.nameMessage = ''
                this.nameValid = true;
                this.nameError = false;
            }
            this.isFormValid()
        },

        description: function (newVal) {
            if(newVal.trim() === '') {
                this.descriptionMessage = 'Description cannot be empty';
                this.descriptionValid = false;
                this.descriptionError = true;
            } else {
                this.descriptionValid = true;
                this.descriptionError = false;
                this.descriptionMessage = '';
            }
            this.isFormValid();
        }
    },

    methods: {
        isFormValid() {
            return this.formValid = this.nameValid && this.descriptionValid;
        },
        scratch(){
            const vm = this;
            const data = {name: this.name, description: this.description};
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.$attrs.apitoken
                },
                responseType: 'json'
            }
            axios.post('store', data, config).then((response) => {
                console.log(response.data);
                window.location.href = response.data.id;

            }).catch((error) => {
                console.error(error);
            })
        },
        
    }
}
</script>

<style scoped>
    .left{
        float: left;
    }
    td{
     
    }
    .menu-option{
        
    }
    .menu-icon{
        width: 80%;
        margin: 10%;
        
    }
    .menu-content{
    background: rgb(219, 219, 219);
    padding: 10px;
    height: 150px;    
    }
    .start{
        width: 100%;
    }
    .cardHeader{
        background: rgb(219, 219, 219);
        margin:0;
       
    }
    
</style>
