<template>
    <div class="row">
        <div class="col s12">
            <div class="row">
               
                <div class="input-field col s11">
                    <i class="material-icons prefix">label</i>
                    <input type="text" id="label" v-model="label"  name="label">
                    <label for="label">Label</label>
                    <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
                </div>
                <div class="input-field col s8">
                    <i class="material-icons prefix">local_shipping</i>
                    <input type="text" id="method" v-model="method"  name="method">
                    <label for="method">Voertuig</label>
                    <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">network_check</i>
                    <input type="number" id="speed" v-model="speed"  name="speed">
                    <label for="speed">Snelheid</label>
                    <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
                </div>

            </div>
            <div class="row center">
            <div class="input-field col s3 offset-s1 center">
                <i class="material-icons">map</i>
                <div class="switch">
                    <label>
                    Off
                    <input type="checkbox" v-model="showMap">
                    <span class="lever"></span>
                    On
                    </label>
                </div>
            </div>
            <div class="input-field col s3 center">
                <i class="material-icons">access_time</i>
                <div class="switch">
                    <label>
                    Off
                    <input type="checkbox" v-model="showTime">
                    <span class="lever"></span>
                    On
                    </label>
                </div>
            </div>
            
            <div class="input-field col s3 center">
                <i class="material-icons icon center">synchronize</i>
                <div class="switch">
                    <label>
                    Off
                    <input type="checkbox" v-model="circular">
                    <span class="lever"></span>
                    On
                    </label>
                </div>
            </div>
            </div>
            <div class="row center">
                <a @click="saveTransport" :class="[{'disabled': !formValid},'btn','col s10 offset-s1']" href="#!">{{translations[selectedLanguage].save }}</a>
            </div>
            
        </div>
        
    </div>
</template>

<script>
import draggable from "vuedraggable";


export default {
    name: "TransportCreateComponent",
    components: {
        draggable,
    },

    props: {
        id:String,
        apitoken: String,
        transportstring:String,
        organisationstring:String,
        selectedLanguage: {
            type: String,
            default: document.documentElement.lang
        },
    },
    mounted() {
        //console.log(this.transportstring)
        if(this.transportstring){
            let transport = JSON.parse(this.transportstring)
            let transportdata = JSON.parse(transport.transportdata)
            //console.log(JSON.parse(transport.transportdata))
            this.label = transport.label
            this.speed = transportdata.speed
            this.method = transportdata.method
            this.showMap = transportdata.showMap
            this.showTime = transportdata.showTime
            this.circular = transportdata.circular
     
            this.transportId = transport.id
            this.notes = transport.notes
            this.description = transport.description
            this.action = "edit"
            if (transport.overhead_time){
                this.overheadTime = transport.overhead_time
            }
            if (transport.item_time){
                this.itemTime = transport.item_time
            }
          
        } 
        else {
            this.country = "Nederland"
        }
        
    },
    data() {
        return {

            //selectedLanguage:'en',
            label:"",
            labelError:false,
            labelValid:false,
            labelMessage:'',

            method:"",
            methodError:false,
            methodValid:false,
            methodMessage:'',

            speed:"80",
            speedError:false,
            speedValid:false,
            speedMessage:'',

        

            notes:"",
            description:"",
            itemTime:1,
            overheadTime:10,

            showMap:false,
            showTime:false,
            circular:false,


            error:false,
            formValid:false,
            translations: {
                "en" : {
                    "transport": "transport",
                    "add_transport": "Add an transport",
                    "transportes": "transportes",
                    "close" : "close",
                    "no_transport" : "No transport filled in",
                    "no_csv" : "No csv file",
                    "file_empty" : "File can not be empty",
                    "import" : "Import",
                    "save":'Save'
                },
                "nl" : {
                    "transport": "adres",
                    "add_transport": "Voeg Adres toe",
                    "transportes": "adressen",
                    "close" : "close",
                    "no_transport" : "Geen adres ingevoerd",
                    "no_csv" : "Geen csv bestand",
                    "file_empty" : "File kan niet leeg zijn",
                    "import" : "Importeren",
                    "save":"Opslaan"
                }
            },
            languages: ['nl', 'en'],
            action:"add",
            organisation:"",
        }
    },

    methods: {
        

        saveTransport(event) {
            let url = ''
            
            
            const data = {
                'label' : this.label,
                'speed': this.speed,
                'method' : this.method,
                'showMap': this.showMap,
                'showTime': this.showTime,
                'circular' : this.circular
            }
            console.log(data);
            if(this.transportstring){
                url = '../'
                data.id = this.transportId
                data.action = "update"
            }
    
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }

            axios.post(url+"store", data, config).then((response) => {
                console.log('saved');
                window.location = url+'index'
                //this.transportes.splice(0,0,data)

            }).catch((err) => {
                console.error(err)
            })
            
        },
        isFormValid() {
            this.formValid = this.labelValid
        },
    },
    watch:{
        label(newVal){
            if (newVal.trim() === ''){
                this.labelMessage = "the label can not be empty";
                this.labelValid = false
                this.labelError = true


            }else{
                this.labelMessage = "";
                this.labelValid = true;
                this.labelError = false;
            }
            this.isFormValid();
        },
        
        

    },
    
    


}

</script>

<style scoped>
.icon{
    width: 24px;
    text-align: center;
}    
.mobile-transport-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.collection-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.dropzone{
     -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    max-height: 30vh;
    min-height: 30vh;
    margin-top: 5px;
    width: 100%;
    min-height: 150px;
    background-image: url("/assets/dropzone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 3px;
}

.dropzone::-webkit-scrollbar {
  display: none;
}
.upper{
    overflow: hidden;
    height: 42vh;
    max-height: 42vh;
}
.close-button{
        position: absolute;
        top:0;
        right: 0;
        background: red;
        color:white;
        margin: 1px;
        font-size: 20px;
        cursor: pointer;

    }
    .input-field{
        margin: 10px;
     
    }
    .input-field input{
        
        background-color:rgba(77, 182, 173,.1);
    }
    .textarea{
        height: 200px;
        background-color:rgba(77, 182, 173,.1);
    }
    .description{
        margin-left:-20px;
        width: 110%;
    }
    .right-field{
        margin-left: -10px !important;
    }
</style>
