<template>
    <div :ref="'address-modal'" id="address-modal" class="modal">
        <div class="modal-header teal white-text">
        <h2 class="center">{{ translations[selectedLanguage].add_address }}</h2>
        </div>

        

        <div class="modal-content row">
            <div class="input-field col s12">
                <i class="material-icons prefix">label</i>
                <input id="label" @keyup.enter="addAddress()" type="text" v-model="label" class="validate">
                <label for="label">Label</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">location_on</i>
                <input id="street" @keyup.enter="addAddress()" type="text" v-model="street" class="validate">
                <label for="street">{{translations[selectedLanguage].street}}</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">local_post_office</i>
                <input id="zipcode" @keyup.enter="addAddress()" type="text" v-model="zipcode" class="validate">
                <label for="zipcode">{{translations[selectedLanguage].zipcode}}</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">location_city</i>
                <input id="city" @keyup.enter="addAddress()" type="text" v-model="city"  class="validate">
                <label for="city">{{translations[selectedLanguage].city}}</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">public</i>
                <input id="country" @keyup.enter="addAddress()" type="text" v-model="country"  class="validate">
                <label for="country">{{translations[selectedLanguage].country}}</label>
            </div>
            
            
            <!-- <div class="address-input col s10">
                <i class="material-icons icon">location_on</i>
                <input @keyup.enter="addAddress()" type="text" v-model="street" :placeholder="translations[selectedLanguage].street">
            </div>
            <div class="address-input col s4">
                <i class="material-icons icon">local_post_office</i>
                <input @keyup.enter="addAddress()" type="text" v-model="zipcode" :placeholder="translations[selectedLanguage].zipcode">
            </div>
            <div class="address-input col s5 push-s1">
                <i class="material-icons icon">location_city</i>
                <input @keyup.enter="addAddress()" type="text" v-model="city" :placeholder="translations[selectedLanguage].city">
            </div>
            <div class="address-input col s11">
                <i class="material-icons icon">public</i>
                <input @keyup.enter="addAddress()" type="text" v-model="country" :placeholder="translations[selectedLanguage].country">
            </div> -->
      
        </div>
        <div ref="modalFooter" class="modal-footer">
            <button @click="closeModal()" class="btn-flat modal-close">{{ translations[selectedLanguage].cancel }}</button>
            <button @click="addAddress()" class="btn-flat modal-close">{{ translations[selectedLanguage].add }}</button>
            <button @click="addAddress();closeModal()" class="btn-flat modal-close">{{ translations[selectedLanguage].addandclose }}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddAddressModalComponent",
    data: function () {
        return {
            label: '',
            labelError: false,
            labelMessage: '',
            date: '',
            dateError: false,
            dateMessage: '',
            translations: {
                "en" : {
                    "add_address": "Add an address",
                    "select_date": "Select a date",
                    "label":"Give date a label",
                    "cancel": "Cancel",
                    "add": "Add",
                    "addandclose": "Add and close",
                    "period_label_empty": "Period label can not be empty",
                    "label":"Label",
                    "street":"Street",
                    "zipcode":"Zipcode",
                    "city":"City",
                    "country":"Country",
                },
                "nl" : {
                    "add_address": "Voeg een adres toe",
                    "select_date": "Selecteer een datum",
                    "label":"Geef de datum een label",
                    "cancel": "Annuleren",
                    "add": "Toevoegen",
                    "addandclose": "Voeg toe en sluit",
                    "period_label_empty": "Periode label kan niet leeg zijn",
                    "label":"Label",
                    "street":"Straat",
                    "zipcode":"Postcode",
                    "city":"Stad",
                    "country":"Land",
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
            selectedTransports: [],
            label:"",
            street:"",
            zipcode:"",
            city:"",
            country:"Nederland",
            address:'',
        }
    },
    mounted() {
        this.modalInstance = M.Modal.init(this.$refs['address-modal'], {

        });

     
        
    },

    methods: {
        openModal(){
        
        this.modalInstance.open(); 
        let overlay = document.querySelector('.modal-overlay')
        overlay.addEventListener('click', this.closeModal);
     },
     closeModal() {
         this.modalInstance.close();
     },
     addAddress(){
            this.address = {address:{label:this.label,street:this.street,zipcode:this.zipcode,city:this.city,country:this.country},orders:[]}
            this.$emit('addAddress',this.address)
        },
    }
}
</script>

<style scoped>
    .modal{
        overflow: visible;
    }
    .modal-header{
        width: 100.1%;
        padding: 50px 0 25px 0;
    }
</style>
