<template>
    <div :ref="'period-group-modal'" id="period-group-modal" class="modal">
        <div class="modal-header teal white-text">
        <h2 class="center">{{ translations[selectedLanguage].add_period }}</h2>
        </div>
        <div class="modal-content">
            
            <div class="row">
                <div class="col s12 input-field">
                    <input @keyup.enter="addPeriodGroup" v-bind:class="[{'invalid' : labelError},'labelpicker']" ref="labelpicker" v-model="label" type="text">
                    <label for="datepicker">{{ translations[selectedLanguage].label }}</label>
                    <span v-bind:class="{'red-text' : labelError}" class="helper-text">{{ labelMessage }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <input v-bind:class="{'invalid' : dateError}" id="datepicker" @change="setDate($event)" type="text" class="datepicker">
                    <label for="datepicker">{{ translations[selectedLanguage].select_date }}</label>
                    <span v-bind:class="{'red-text' : dateError}" class="helper-text">{{ dateMessage }}</span>
                </div>
            </div>
      
        </div>
        <div ref="modalFooter" class="modal-footer">
            <button @click="closeModal()" class="btn-flat modal-close">{{ translations[selectedLanguage].cancel }}</button>
            <button @click="addPeriodGroup" class="btn-flat modal-close">{{ translations[selectedLanguage].add }}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddPeriodGroupModalComponent",
    data: function () {
        return {
            label: '',
            labelError: false,
            labelMessage: '',
            date: '',
            dateError: false,
            dateMessage: '',
            translations: {
                "en" : {
                    "add_period": "Add a period",
                    "select_date": "Select a date",
                    "label":"Give date a label",
                    "cancel": "Cancel",
                    "add": "Add",
                    "period_label_empty": "Period label can not be empty"
                },
                "nl" : {
                    "add_period": "Voeg een periode toe",
                    "select_date": "Selecteer een datum",
                    "label":"Geef de datum een label",
                    "cancel": "Annuleren",
                    "add": "Toevoegen",
                    "period_label_empty": "Periode label kan niet leeg zijn"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
            selectedTransports: [],
        }
    },
    mounted() {
        this.modalInstance = M.Modal.init(this.$refs['period-group-modal'], {

        });
        

        const dateElem = document.querySelectorAll('.datepicker');
        //this.selectedTransport = this.transports

        M.Datepicker.init(dateElem, {
           autoClose: true,
           format: 'd-m-yyyy',
            minDate: new Date(),
        });
        
    },

    methods: {
        setDate(event) {
            this.dateError = false;
            this.dateMessage = '';
            this.date = event.target.value
        },

        addPeriodGroup() {
            //If label is return an alert
            this.labelMessage = '';
            this.dateMessage = '';
            this.labelError = false;
            this.dateError = false;

            if(this.label.trim() === '') {
                this.labelError = true;
                this.labelMessage = this.translations[this.selectedLanguage].period_label_empty;
                return;
            }
         

            const data = {  
                            label: this.label,
                            date:this.date, 
                            reference: this.$refs.periodGroup,
            };
            //console.log("data",data)
            this.cleanModal();
            this.$emit('addPeriodGroup', data);
            this.closeModal();

        },

        cleanModal() {
            this.label = '';
            this.selectedTransports = [];

        },
        openModal(){
        
           this.modalInstance.open(); 
           let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
            this.$refs.labelpicker.focus()
        },
        closeModal() {
            this.modalInstance.close();
        },
        filterArray(arr){
            let unique = [];
            let is_unique = true;
            arr.forEach(label =>{
                is_unique = true;

                unique.forEach(element =>{
                    if (element.label == label.label){
                        is_unique = false;
                    }

                })
                if (is_unique){
                    unique.push(label)
                }

            })
            return unique;
        }
    }
}
</script>

<style scoped>
    .modal{
        overflow: visible;
    }
    .modal-header{
        width: 100.1%;
        padding: 50px 0 25px 0;
    }
</style>
