<template>
    <div :ref="'transport-group-modal'" id="transport-group-modal" class="modal">
        <div class="modal-header teal white-text">
            <h2 class="center">{{ translations[selectedLanguage].title }}</h2>
        </div>
        
        <div class="modal-content">
            <table v-if="!newtransport">
            <tr><td>label</td><td>method</td><td class="right">speed</td></tr>
           
            <tr v-for="transport in transports" class="transport card hoverable" @click="addTransport(transport)">
                
                <td class="label">{{transport.label}}</td>
                <td class="method">{{JSON.parse(transport.transportdata).method}}</td>
                <td class="speed">{{JSON.parse(transport.transportdata).speed}} <br><span class="units">km p/h</span></td>
            
            </tr>
            <tr class="transport card hoverable add-button">
                <td @click="newtransport = !newtransport" colspan="3" class="center">New transport</td>
            </tr>
        
            </table>
         
            <div class="row" v-if="newtransport">
                <div class="row">
               
               <div class="input-field col s12">
                   <i class="material-icons prefix">label</i>
                   <input type="text" id="label" v-model="label"  name="label">
                   <label for="label">Label</label>
                   <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
               </div>
               <div class="input-field col s8">
                   <i class="material-icons prefix">local_shipping</i>
                   <input type="text" id="method" v-model="method"  name="method">
                   <label for="method">Voertuig</label>
                   <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
               </div>
               <div class="input-field col s4">
                   <i class="material-icons prefix">network_check</i>
                   <input type="number" id="speed" v-model="speed"  name="speed">
                   <label for="speed">Snelheid</label>
                   <!-- <span :class="{'red-text' : labelError, 'green-text' : labelValid}" class="helper-text">{{ labelMessage }}</span> -->
               </div>

           </div>
           <div class="row center">
           <div class="input-field col s3 offset-s1 center">
               <i class="material-icons">map</i>
               <div class="switch">
                   <label>
                   Off
                   <input type="checkbox">
                   <span class="lever"></span>
                   On
                   </label>
               </div>
           </div>
           <div class="input-field col s3 center">
               <i class="material-icons">access_time</i>
               <div class="switch">
                   <label>
                   Off
                   <input type="checkbox">
                   <span class="lever"></span>
                   On
                   </label>
               </div>
           </div>
           
           <div class="input-field col s3 center">
               <i class="material-icons icon center">synchronize</i>
               <div class="switch">
                   <label>
                   Off
                   <input type="checkbox">
                   <span class="lever"></span>
                   On
                   </label>
               </div>
           </div>
           </div>

                <!-- <div class="col s12">
                    <input @keyup.enter="addTransportGroupToPeriod" v-bind:class="{'invalid' : labelError}" id="label" ref="label" type="text" v-model="label"  required>
                    <label for="label">{{ translations[selectedLanguage].transportgroup_label }}</label>
                    <span v-bind:class="{'red-text' : labelError}" class="helper-text">{{ labelMessage }}</span>
                </div> -->
                <!-- <div class="row">
                    <p class="col s4 tooltipped" data-position="top" data-tooltip="Leave checked if you want to display the maps for this transport, can always be changed later.">
                        <label>
                            <input type="checkbox" v-model="map"/>
                            <span>{{ translations[selectedLanguage].show_map }}</span>
                        </label>
                    </p>
                    <p class="col s4 tooltipped" data-position="top" data-tooltip="Leave checked if you want to display the durations for this transport, can always be changed later.">
                        <label>
                            <input type="checkbox" v-model="showTime" />
                            <span>{{ translations[selectedLanguage].duration }}</span>
                        </label>
                    </p>
                    <p class="col s4 tooltipped" data-position="top" data-tooltip="Leave checked if you want all routes for this transport to be a circular route, can always be changed later. Circular means the startlocation is the same as the endlocation.">
                        <label>
                            <input type="checkbox" v-model="circular" />
                            <span>{{ translations[selectedLanguage].circular }}</span>
                        </label>
                    </p>
                </div> -->
                
                
            
            </div>
        </div>
        <div class="modal-footer">
            <button v-if="newtransport" @click="newtransport = !newtransport" class="btn btn-flat modal-close left">{{ translations[selectedLanguage].back }}</button>
            <button @click="closeModal()" class="btn btn-flat modal-close">{{ translations[selectedLanguage].cancel }}</button>
            <button  @click="addTransportGroupToPeriod" class="btn btn-flat">{{ translations[selectedLanguage].add }}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddTransportGroupModalComponent",
    props: {

    },
    data: function () {
        return {
            modalInstance:'',
            label: '',
            method: '',
            speed: 80,
            selectedPeriods: [],
            labelError: false,
            selectedPeriodError: false,
            labelMessage: '',
            selectedPeriodMessage: '',
            map:true,
            showTime:true,
            circular:true,
            translations: {
                "en" : {
                    "title":"Add transportgroup",
                    "select_periodgroup": "Select period group",
                    "transportgroup_label": "Transport group label",
                    "cancel": "Cancel",
                    "add": "Add",
                    "back": "Back",
                    "show_map":"Show map",
                    "duration":"Show duration",
                    "circular":"Circular route",

                    "transport_label_empty": "Transport label can not be empty",
                    "select_at_least_one": "Select at least one period"
                },
                "nl" : {
                    "title":"Voeg transportgroep toe",
                    "select_periodgroup": "Selecteer periodegroep",
                    "transportgroup_label": "Transportgroep label",
                    "cancel": "Annuleren",
                    "terug": "Back",
                    "add": "Toevoegen",
                    "show_map":"Toon kaart",
                    "duration":"Toon tijden",
                    "circular":"Circulaire route",

                    "transport_label_empty": "Transport label kan niet leeg zijn",
                    "select_at_least_one": "Selecteer tenminste één periode"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
            transports:[],
            newtransport:false
        }
    },

    mounted() {
 
        this.selectedPeriod = this.periods;
        this.modalInstance = M.Modal.init(this.$refs['transport-group-modal'], {

        });
    },

    methods: {
        addTransportGroupToPeriod() {
         
            this.selectedPeriodMessage = ''
            this.selectedPeriodError = false;
            this.labelMessage = '';
            this.labelError = false;
            //Check if label has been filled
            if(this.label.trim() === '') {
                this.labelMessage = this.translations[this.selectedLanguage].transport_label_empty;
                this.labelError = true;
                return;
            }

            // if(this.selectedPeriod.length < 1) {
            //     this.selectedPeriodMessage = this.translations[this.selectedLanguage].select_at_least_one;
            //     this.selectedPeriodError = true;
            //     return;
            // }

            const data = {  
                           
                            label: this.label, 
                            reference: this.$refs.transportModal,
                            map:this.map,
                            showTime:this.showTime,
                            circular:this.circular}

            //Emit the data
            this.$emit('addTransportGroup', data);
            this.closeModal()
        },
        openModal(){
            this.newtransport = false;
            this.getTransports();
           this.modalInstance.open(); 
           let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
            //this.$refs.label.focus()
        },
        closeModal() {
            this.modalInstance.close();
        },
        getTransports() {
            const url = '../transports/list';
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }
            const vm = this;
            axios.get(url, config).then((response) => {
                console.log(response)
                this.locationlist = []
                //console.log("response!!!!",this.locationlist)
                response.data.forEach((address)=>{
                    this.locationlist.push({"address":address,"orders":[]})
                    
                })
                //console.log("response!!!",this.locationlist)
                this.transports = response.data
            }).catch((err) => {
                console.error(err);
            })
        },
        addTransport(transport){
            const data = {  
                           
                           label: transport.label, 
                           reference: this.$refs.transportModal,
                           map:transport.showMap,
                           showTime:transport.showTime,
                           circular:transport.circular}

           //Emit the data
           this.$emit('addTransportGroup', data);
           this.closeModal()
        }
        
        
    }
}
</script>

<style scoped>
    .modal{
        overflow: visible;
    }
    .modal-header{
        width: 100.1%;
        padding: 50px 0 25px 0;
    }
    .selectField{
        height: 100px;
    }
    .footnote{
        color: rgb(207, 207, 207);
        margin-top: -6px;
    }
    .periods{
        height: 100px;
    }
    .modal-content{
        padding-bottom:0;
        padding-top:0;
        height: 40vh;
        overflow-y: scroll;
        

    }
    .scroll{
        overflow-y: scroll;
        width: 100%;
    }
    .transport{
        padding:10px 10px 10px 20px;
        height:50px;
        margin: 50px;
        cursor: pointer;
    }
    .label{
        
    }
    .method{
       
      
    }
    .speed{
        position: absolute;
        top:0;
        right:0;
        padding:10px;
        width: 50px;
        height: 101%;
        background-color:rgba(77, 182, 173,.9);
        color:white;
        text-align: center;

    }
    table {
  border-collapse:separate; 
  border-spacing: 0 1em;
}
    .units{
        font-size: 8px;
        margin-top:-50px;
        position: absolute;
        width: 100%;
        left:0%;
        bottom:5px;
    }
    .add-button{
        background-color:rgba(77, 182, 173,.9);
        color:white;
        cursor: pointer;
    }
</style>
