<template>
    <div :ref="'choose-template-modal'" id="choose-template-modal" class="modal">
        <div class="modal-content center">
            <h2 class="center">Choose a template</h2>
                    {{label}}<br>
                    {{description}}
               <table class="container">
                   <thead>
                <tr>
                    <th>name</th>
                    <th>description</th>
                    <th>created</th>
                    <th></th>
                </tr>
                </thead>
                   <tr v-for="(template,tKey) in templates" class="menu-item" @click="select(template.id)">
                       <td>{{template.label}}</td>
                       <td>{{template.description}}</td>
                       <td>{{template.created_at}}</td>
                   </tr>
               </table>           
                
        
        <div class="modal-footer">
            <button class="btn btn-flat modal-close">cancel</button>
            <!-- <button class="btn btn-flat disabled">add</button> -->
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TemplateModalComponent",
    props: {
        periods: Array,
        periodLabels:Array,
        cells:Array
    },
    data: function () {
        return {
            templates:[],
            modalInstance:'',
            label: '',
            selectedPeriod: [],
            labelError: false,
            selectedPeriodError: false,
            labelMessage: '',
            selectedPeriodMessage: '',
            label:"",
            description:""
        }
    },

    mounted() {
        
        //M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['choose-template-modal'], {

        });
        this.getTemplates();
       
        
    },

    methods: {
        
        openModal(name,description) {
            this.modalInstance.open();
            this.label = name;
            this.description = description;
            let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
        },

        closeModal() {
            this.modalInstance.close();
        },
        getTemplates(){
            const vm = this;
            const config = {
                headers: {
                    'Content-type' : ' multipart/form-data',
                    'Accept': ' multipart/form-data',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
            }

            axios.get('../templates/fetch', config).then((response) => {
                //console.log(response);
                vm.templates = response.data;
              //saveAs(response.data, 'example.xls')

            }).catch((err) => {
                console.error(err);
            })
        },
        select(template) {
            
            
            const vm = this;
            const data = {  name: this.label, 
                            description: this.description,
                            routeData:template
                            };
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.$attrs.apitoken
                },
                responseType: 'json'
            }
            axios.post('store', data, config).then((response) => {
                console.log(response.data);
                window.location.href = response.data.id;

            }).catch((error) => {
                console.error(error);
            })
        },
        

        
    }
}
</script>

<style scoped>
    .selectField{
        height: 100px;
    }
    .footnote{
        color: rgb(207, 207, 207);
        margin-top: -6px;
    }
    .periods{
        height: 100px;
        overflow-y: scroll;
    }
    .modal-content{
        padding-bottom:0;

    }
    .menu-item:hover{
        cursor: pointer;
        background-color: #009688;
        color: white;
    }
</style>
