<template>
    <div :ref="'confirm-address-delete-modal'" id="confirm-address-delete-modal" class="modal">
        <div class="modal-content center">
            <h4 class="center">{{ translations[selectedLanguage].remove_transportgroup_1 }}</h4>
                <p>{{ translations[selectedLanguage].remove_transportgroup_2 }}</p>
                <button @click="deleteAddressWithItems(rowKey)" class="btn">{{ translations[selectedLanguage].yes }}</button>
                <button @click="closeModal()" class="btn">{{translations[selectedLanguage].no}}</button>

        </div>
    </div>
</template>

<script>
export default {
    name: "ConfirmAddressDeleteModalComponent",
    props: {

    },
    data: function () {
        return {
            period:{},
            modalInstance:'',
            rowKey:'',
            translations: {
                'en': {
                    'yes': 'yes',
                    'no': 'no',
                    'remove_transportgroup_1': 'Are you sure that you want to delete this address?',
                    'remove_transportgroup_2': 'The address contains items. These orders wil also be removed'
                },
                'nl': {
                    'yes': 'ja',
                    'no': 'nee',
                    'remove_transportgroup_1': 'Weet u zeker dat u het adres wilt verwijderen?',
                    'remove_transportgroup_2': 'Het adres heeft nog items. Deze zullen worden meeverwijderd'
                },
            },
            selectedLanguage: document.documentElement.lang,

        }
    },

    mounted() {

        //M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['confirm-address-delete-modal'], {

        });
        //this.getTemplates();


    },

    methods: {

        openModal(rowKey) {
            this.modalInstance.open();
            this.rowKey = rowKey
            let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
          
        },

        closeModal() {
            this.modalInstance.close();
        },

        deleteAddressWithItems(rowKey){
           this.$emit("deleteAddressWithItems",rowKey)
           this.closeModal()
        }




    }
}
</script>

<style scoped>
    .selectField{
        height: 100px;
    }
    .footnote{
        color: rgb(207, 207, 207);
        margin-top: -6px;
    }
    .periods{
        height: 100px;
        overflow-y: scroll;
    }
    .menu-item:hover{
        cursor: pointer;
        background-color: #009688;
        color: white;
    }
</style>
