<template>
    <div :ref="'confirm-modal'" id="confirm-modal" class="modal">
        <div class="modal-content center">
            <h4 class="center">{{ translations[selectedLanguage].remove_transportgroup_1 }} "{{period.label}}" {{ translations[selectedLanguage].remove_transportgroup_2 }}?</h4>

                <button @click="deletePeriod()" class="btn">{{ translations[selectedLanguage].yes }}</button>
                <button @click="closeModal()" class="btn">{{translations[selectedLanguage].no}}</button>

        </div>
    </div>
</template>

<script>
export default {
    name: "ConfirmModalComponent",
    props: {

    },
    data: function () {
        return {
            period:{},
            modalInstance:'',
            translations: {
                'en': {
                    'yes': 'yes',
                    'no': 'no',
                    'remove_transportgroup_1': 'Are you sure that you want to delete',
                    'remove_transportgroup_2': ''
                },
                'nl': {
                    'yes': 'ja',
                    'no': 'nee',
                    'remove_transportgroup_1': 'Weet u zeker dat u de periode',
                    'remove_transportgroup_2': 'wilt verwijderen'
                },
            },
            selectedLanguage: document.documentElement.lang,

        }
    },

    mounted() {

        //M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['confirm-modal'], {

        });
        //this.getTemplates();


    },

    methods: {

        openModal(period,key) {
            this.modalInstance.open();
            this.period = period;
            this.key = key
            let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
        },

        closeModal() {
            this.modalInstance.close();
        },

        deletePeriod(){
            console.log("ja")
            this.$emit('deletePeriod',this.period,this.key)
            this.closeModal()
        }




    }
}
</script>

<style scoped>
    .selectField{
        height: 100px;
    }
    .footnote{
        color: rgb(207, 207, 207);
        margin-top: -6px;
    }
    .periods{
        height: 100px;
        overflow-y: scroll;
    }
    .menu-item:hover{
        cursor: pointer;
        background-color: #009688;
        color: white;
    }
</style>
