<template>
    <div :ref="'edit-period-modal'" id="edit-period-modal" class="modal">
        <div class="modal-content center">
            <h2 class="center">Edit period</h2>
  
        <div class="row">
            <div class="col s12 input-field">
                <input @keyup.enter="addPeriodGroup" v-bind:class="{'invalid' : labelError}" id="datepicker" v-model="label" type="text">
                <label for="datepicker">Give date a label</label>
                <span v-bind:class="{'red-text' : labelError}" class="helper-text">{{ labelMessage }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <input v-bind:class="{'invalid' : dateError}" id="datepicker" @change="setDate($event)" type="text" class="datepicker" v-model="date">
                <label for="datepicker">{{ translations[selectedLanguage].select_date }}</label>
                <span v-bind:class="{'red-text' : dateError}" class="helper-text">{{ dateMessage }}</span>
            </div>
        </div>
    
     
        <div class="modal-footer">
            <button @click="updatePeriod()" class="btn btn-flat">{{ translations[selectedLanguage].add }}</button>
            <button @click="closeModal()" class="btn btn-flat">{{ translations[selectedLanguage].cancel }}</button>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "EditPeriodModal",
    props: {
       
    },
    data: function () {
        return {
            label: '',
            labelError: false,
            labelMessage: '',
            date: '',
            dateError: false,
            dateMessage: '',
            translations: {
                "en" : {
                    "add_period": "Add a period",
                    "select_date": "Select a date",
                    "cancel": "Cancel",
                    "add": "Add",
                    "period_label_empty": "Period label can not be empty"
                },
                "nl" : {
                    "add_period": "Voeg een periode toe",
                    "select_date": "Selecteer een datum",
                    "cancel": "Annuleren",
                    "add": "Toevoegen",
                    "period_label_empty": "Periode label kan niet leeg zijn"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
            selectedTransports: [],
            period:{},
            periodKey:"",
        }
    },

    mounted() {
        
        //M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['edit-period-modal'], {

        });
        //this.getTemplates();
       M.updateTextFields()
        
    },

    methods: {
        
        openModal(period,periodKey) {
            this.modalInstance.open();
             
             this.period = period
             this.label = period.label
             this.date = period.date
             this.periodKey = periodKey
             M.updateTextFields()
             let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
        },

        closeModal() {
            this.modalInstance.close();
        },
        updatePeriod(){
            let period = {key:this.period.key,label:this.label,date:this.date}
            this.$emit('updatePeriod',{period:period,periodKey:this.periodKey})
            this.closeModal()
        },
        setDate(event) {
            this.dateError = false;
            this.dateMessage = '';
            this.date = event.target.value
        },
        
    }

}
</script>

<style scoped>
    .selectField{
        height: 100px;
    }
    .footnote{
        color: rgb(207, 207, 207);
        margin-top: -6px;
    }
    .periods{
        height: 100px;
        overflow-y: scroll;
    }
    .modal-content{
        padding-bottom:0;

    }
    .menu-item:hover{
        cursor: pointer;
        background-color: #009688;
        color: white;
    }
    .file-upload{
        position: absolute;
        top:0;
        width: 200px;
        left:0;
        opacity: 0;
        padding:15px;

    }
    .upload-button{
        position: relative;
        width: 200px;
        font-size: 1.5rem;
        text-align: center;
        color:white;
        padding:15px;
       
    }
    .message{
        margin: 50px;
    }
</style>
