<template>
    <div id="import-modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 m8 l8">
                    <h4>{{ translations[selectedLanguage].import_excel_file }}</h4>
                    <p>{{ translations[selectedLanguage].upload_file_below }}</p>

                    <h6>{{ translations[selectedLanguage].upload_excel_file }}</h6>
                </div>
                <div class="col s12 m4 l4">
                    <p>{{ translations[selectedLanguage].download_text }}</p>
                    <button @click="downloadExample" class="btn waves-effect">{{ translations[selectedLanguage].download_example }}</button>
                </div>
                <div class="col s12 offset-m8 offset-l8">
                    <p>{{ translations[selectedLanguage].import_text }}</p>
                    <button @click="importExcelExample" class="btn waves-effect">{{ translations[selectedLanguage].import_example }}</button>
                </div>
            </div>

            <div class="row">
                <div class="col s12 file-field input-field">
                    <div class="btn">
                        <span>Excel</span>
                        <input accept=".xls, .xlsx" ref="file" v-on:change="uploadFile" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input v-bind:class="{'invalid' : uploadError}" class="file-path" type="text">
                        <span v-bind:class="{'red-text': uploadError}" class="helper-text">{{ uploadMessage }}</span>
                    </div>
                </div>
           </div>
            <div v-if="uploaded">

                <div class="col s12 ">
                    <label>{{ translations[selectedLanguage].select_address }}</label>
                    <select  v-model="selectedAddressHeader" class="browser-default green lighten-2 white-text">
                        <option class="white black-text" :value="hKey" v-for="(header, hKey) in addressHeaders">
                            {{ header }}
                        </option>
                    </select>
                </div>

                <div>
                    <label>
                        <input v-model="checkboxPlaceHeader" :checked=" checkboxPlaceHeader ? 'checked' : '' "  type="checkbox" />
                        <span>{{ translations[selectedLanguage].select_place }}</span>
                    </label>
                </div>

                <div v-if="checkboxPlaceHeader" class="col s12 ">
                    <label>{{ translations[selectedLanguage].select_place }}</label>
                    <select v-model="selectedPlaceHeader" class="browser-default blue lighten-2 white-text">
                        <option class="white black-text" :value="hKey" v-for="(header, hKey) in placeHeaders">
                            {{ header }}
                        </option>
                    </select>
                </div>

                <div>
                    <label>
                        <input v-model="checkboxPeriodGroupHeader" :checked=" checkboxPeriodGroupHeader ? 'checked' : '' "  type="checkbox" />
                        <span>{{ translations[selectedLanguage].select_periodgroup_header }}</span>
                    </label>
                </div>

                <div v-if="checkboxPeriodGroupHeader" class="col s12 ">
                    <label>{{ translations[selectedLanguage].select_period }}</label>
                    <select v-model="selectedPeriodGroupHeader" class="browser-default yellow lighten-2 black-text">
                        <option class="white black-text" :value="hKey" v-for="(header, hKey) in periodGroupHeaders">
                            {{ header }}
                        </option>
                    </select>
                </div>

                <div v-if="checkboxPeriodGroupHeader">
                    <label>
                        <input v-model="checkboxTransportGroupHeader" :checked=" checkboxTransportGroupHeader ? 'checked' : '' "  type="checkbox" />
                        <span>{{ translations[selectedLanguage].select_transportgroup }}</span>
                    </label>
                </div>

                <div v-if="checkboxTransportGroupHeader && checkboxPeriodGroupHeader" class="col s12 ">
                    <label>{{ translations[selectedLanguage].select_transportgroup }}</label>
                    <select v-model="selectedTransportGroupHeader" class="browser-default amber lighten-2 black-text">
                        <option class="black-text white" :value="hKey" v-for="(header, hKey) in transportGroupHeaders">
                            {{ header }}
                        </option>
                    </select>
                </div>

                <div>
                    <label>
                        <input v-model="checkboxOverHeadTime" :checked=" checkboxOverHeadTime ? 'checked' : '' "  type="checkbox" />
                        <span>{{ translations[selectedLanguage].select_overhead_time_header }}</span>
                    </label>
                </div>

                <div v-if="checkboxOverHeadTime">
                    <label>{{ translations[selectedLanguage].select_overhead_time }}</label>
                    <select v-model="selectedOverTimeHeader" class="browser-default red lighten-2 white-text">
                        <option class="black-text white" :value="hKey" v-for="(header, hKey) in overTimeHeader">
                            {{ header }}
                        </option>
                    </select>
                </div>

                <div>
                    <label>
                        <input v-model="checkboxItemTime" :checked=" checkboxItemTime ? 'checked' : '' "  type="checkbox" />
                        <span>{{ translations[selectedLanguage].select_item_time_header }}</span>
                    </label>
                </div>

                <div v-if="checkboxItemTime">
                    <label>{{ translations[selectedLanguage].select_item_time }}</label>
                    <select v-model="selectedItemTimeHeader" class="browser-default pink lighten-2">
                        <option class="white black-text" :value="hKey" v-for="(header, hKey) in itemTimeHeader">
                            {{ header }}
                        </option>
                    </select>
                </div>

                <div v-if="checkboxItemTime">
                    <label>{{ translations[selectedLanguage].select_item_header }}</label>
                    <select v-model="selectedItemHeader" class="browser-default purple lighten-2 white-text">
                        <option class="black-text white" :value="hKey" v-for="(header, hKey) in itemHeader">
                            {{ header }}
                        </option>
                    </select>
                </div>



                <table class="table">
                    <thead>
                    <tr>
                        <th v-for="header in excelData.headers">{{ header }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(rData, rKey) in excelData.excelData">
                        <td v-bind:class="{
                            'green lighten-2' : selectedAddressHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1],
                            'blue lighten-2' : selectedPlaceHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1] && checkboxPlaceHeader,
                            'amber lighten-2' : selectedTransportGroupHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1] && checkboxTransportGroupHeader,
                            'yellow lighten-2' : selectedPeriodGroupHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1] && checkboxPeriodGroupHeader,
                            'red lighten-2' : selectedOverTimeHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1] && checkboxOverHeadTime,
                            'pink lighten-2' : selectedItemTimeHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1] && checkboxItemTime,
                            'purple lighten-2' : selectedItemHeader === cKey && excelData.excelData[rKey][excelData.excelData[rKey].length -1] && checkboxItemTime,

                        }"
                            v-if="cKey !== excelData.excelData[rKey].length - 1" v-for="(cData, cKey) in rData">{{ cData }}
                        </td>
                        <td>
                            <p>
                                <label>
                                    <input v-model="excelData.excelData[rKey][excelData.excelData[rKey].length -1]" :checked="excelData.excelData[rKey][excelData.excelData[rKey].length - 1] ? 'checked' : '' "  type="checkbox" />
                                    <span></span>
                                </label>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <a @click="closeModal" class="modal-close waves-effect waves-green btn-flat">{{ translations[selectedLanguage].cancel }}</a>
            <a @click="importAddresses" class="waves-effect waves-green btn-flat">{{ translations[selectedLanguage].import }}</a>
        </div>
    </div>
</template>

<script>
import { saveAs } from 'file-saver';
export default {

    name: "ImportModalComponent",
    props: {
        selectedLanguage: String,
        apitoken: String,
    },
    data: function () {
        return {
            uploadError: false,
            uploadMessage: '',
            file: '',
            excelData : [],
            uploaded: false,
            selectedAddressHeader: '',
            selectedPlaceHeader: '',
            addressHeaders: [],
            placeHeader: [],
            checkboxPlaceHeader: false,
            checkboxTransportGroupHeader: false,
            checkboxPeriodGroupHeader: false,
            placeHeaders: [],
            transportGroupHeaders: [],
            periodGroupHeaders: [],
            selectedPeriodGroupHeader: '',
            selectedTransportGroupHeader: '',
            checkboxOverHeadTime: false,
            overTimeHeader: [],
            selectedItemHeader: '',
            selectedItemTimeHeader: '',
            selectedOverTimeHeader: '',
            itemTimeHeader: [],
            itemHeader: [],
            itemSeparator: ",",
            checkboxItemTime: false,

            translations: {
                "en" : {
                    "import_excel_file" : "Import an Excel file and download Excel",
                    "upload_file_below" : "You can upload an Excel file below after which you get an overview of when you can implement this into the application",
                    "upload_excel_file" : "Upload an Excel file",
                    "select_address" : "Select an address header",
                    "select_place" : "Select a place",
                    "only_xls_files" : "Only xls files can be uploaded",
                    "import": "Import",
                    "cancel" : "Cancel",
                    "download_example" : "Download example",
                    "download_text" : "Download an example",
                    "import_example" : "Import Example",
                    "import_text" : "Import and sort addresses",

                    "select_periodgroup_header": "Select periodgroup header ",
                    "select_period": "Select period",
                    "select_transportgroup": "Select transportgroup",
                    "select_overhead_time_header": "Select overhead time header",
                    "select_overhead_time": "Select overhead time",
                    "select_item_time_header": "Select item time header",
                    "select_item_time": "Select item time",
                    "select_item_header": "Select item header"

                },
                "nl" : {
                    "import_excel_file" : "Importeer Excel bestand en download Excel",
                    "upload_file_below" : "Hieronder kunt u een excel bestand uploaden en u krijgt een overzicht terug waarna u dit in de applicatie kunt implementeren",
                    "upload_excel_file" : "Upload Excel bestand",
                    "select_address" : "Selecteer adres",
                    "select_place" : "Selecteer plaats",
                    "only_xls_files" : "Alleen xls bestanden kunnen worden geupload",
                    "import" : "Importeren",
                    "download_example" : "Download voorbeeld",
                    "download_text" : "Download hier een voorbeeldbestand",
                    "cancel" : "Annuleren",
                    "import_example" : "Importeer  voorbeeld",
                    "import_text" : "Importeer en sorteert de adressen",

                    "select_periodgroup_header": "Selecteer periodegroep header",
                    "select_period": "Selecteer periode",
                    "select_transportgroup": "Selecteer transportgroep",
                    "select_overhead_time_header": "Selecteer overhead tijdheader",
                    "select_overhead_time": "Selecteer overhead tijd",
                    "select_item_time_header": "Selecteer item tijd header",
                    "select_item_time": "Selecteer item tijd",
                    "select_item_header": "Selecteer item header"
                }
            },
            languages: ['nl', 'en'],
        }
    },

    methods: {
        uploadFile() {
            this.uploadError = false;
            this.uploadMessage = ''
            this.uploaded = false;

            const file = this.$refs.file.files[0];

            const supportedMimeTypes = ['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel']

            //Check if the file type is a xls file
            if(!supportedMimeTypes.includes(file.type)) {
                this.uploadError = true;
                this.uploadMessage = this.translations[this.selectedLanguage].only_xls_files;
                return;
            }

            const data = new FormData();
            data.append('file', file);

            const config = {
                headers: {
                    'Content-type' : ' multipart/form-data',
                    'Accept': ' multipart/form-data',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }

            const vm = this;

            //Upload the excel file
            axios.post('/api/import-excel', data, config).then((response) => {
                //console.log(response);

                vm.excelData = response.data;
                vm.addressHeaders = response.data.headers
                vm.placeHeaders = response.data.headers;
                vm.transportGroupHeaders =  response.data.headers
                vm.periodGroupHeaders = response.data.headers;
                vm.overTimeHeader = response.data.headers;
                vm.itemTimeHeader = response.data.headers;
                vm.itemHeader = response.data.headers;
                vm.selectedAddressHeader = 0
                vm.selectedPlaceHeader = 0;
                vm.selectedTransportGroupHeader = 0;
                vm.selectedPeriodGroupHeader = 0;
                vm.selectedItemTimeHeader = 0;
                vm.selectedOverTimeHeader = 0;
                vm.selectedItemHeader = 0;

                //Set activated to ExcelData
               //console.log(vm.excelData.excelData)

                let excelKeys = [];

                if(typeof vm.excelData.excelData !== "undefined") {
                    excelKeys = Object.keys(vm.excelData.excelData);
                }

                excelKeys.forEach((excelKey) => {
                    vm.excelData.excelData[excelKey].push(true);
                });

                vm.uploaded = true

            }).catch((error) => {
                console.log(error.response.data);
            })

        },

        importAddresses() {
            const addresses = [];
            //Get the objectKeys from the excel data

            //Check if excelData list is empty
            if(this.excelData.length < 1) {
                return this.$emit('addAddresses', addresses)
            }

            if(typeof this.excelData.excelData === "undefined") {
                return alert('geen data geselecteerd');
            }

            const eKeys = Object.keys(this.excelData.excelData);



            eKeys.forEach((key) => {
                //@TODO items will become a draggable as well
                let addressObject = {address: null, overheadTime: 0, itemTime: 0,  items:0, standingTime: null, periodGroup: null, transportGroup:null}
                const data = this.excelData.excelData[key];

                //Check which checkbox has been checked
                if(data[this.excelData.excelData[key].length - 1]) {

                    let address = data[this.selectedAddressHeader]

                    if(this.checkboxPlaceHeader) {
                        address += ' ' + data[this.selectedPlaceHeader]
                    }

                    addressObject.address = address;

                    if(this.checkboxPeriodGroupHeader) {
                        addressObject.periodGroup = data[this.selectedPeriodGroupHeader];
                    }

                    if(this.checkboxPeriodGroupHeader && this.checkboxTransportGroupHeader) {
                        addressObject.transportGroup = data[this.selectedTransportGroupHeader];
                    }

                    //Check if overtime is checked and add it to the address object

                    if(this.checkboxOverHeadTime || this.checkboxItemTime) {
                        addressObject.standingTime = 0;
                    }

                    if(this.checkboxOverHeadTime) {
                        if(data[this.selectedOverTimeHeader] !== null) {
                            addressObject.overheadTime = data[this.selectedOverTimeHeader]
                            addressObject.standingTime += data[this.selectedOverTimeHeader];
                        }
                    }

                    if(this.checkboxItemTime) {
                        if(data[this.selectedItemTimeHeader] !== null) {
                            addressObject.itemTime = data[this.selectedItemTimeHeader]

                            if(data[this.selectedItemHeader] !== null) {

                                //Get the separator and make an array
                                let items = null;

                                if(Number.isInteger(data[this.selectedItemHeader])) {
                                    addressObject.items = data[this.selectedItemTimeHeader]
                                } else {
                                    items = data[this.selectedItemHeader].split(',');
                                }


                                if(Array.isArray(items)) {
                                    addressObject.items = items.length;
                                    addressObject.standingTime += items.length * addressObject.itemTime
                                } else if(items !== null) {
                                    addressObject.standingTime += addressObject.itemTime * addressObject.items;
                                }
                            } else {
                                addressObject.standingTime += addressObject.itemTime;
                            }

                        }
                    }

                    addresses.push(addressObject)
                }
            })
            this.cleanModalData()
            //console.log(addresses);
            this.$emit('addAddresses', addresses)

        },

        //When data has been emitted delete excel data
        cleanModalData() {
            this.uploaded = false;
            this.addressHeaders = [];
            this.selectedAddressHeader = '';
            this.excelData = [];
        },

        downloadExample() {
            //Make a request to the server

            const config = {
                headers: {
                    'Content-type' : ' multipart/form-data',
                    'Accept': ' multipart/form-data',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: ArrayBuffer
            }

            axios.get('/api/download-example', config).then((response) => {
                //console.log(response);
              saveAs(response.data, 'example.xls')

            }).catch((err) => {
                console.error(err);
            })
        },

        importExcelExample() {
            const config = {
                headers: {
                    'Content-type' : ' multipart/form-data',
                    'Accept': ' multipart/form-data',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }

            const vm = this;


            axios.get('/api/import-excel-example', config).then((response) => {
                //console.log(response);
                vm.$emit('importExcel', response.data);
            }).catch((err) => {
                console.error(err)
            })
        }
    }
}
</script>

<style scoped>

</style>
