<template>
    <div :ref="'planboard-modal'" id="planboard-modal" class="modal">
    <div class="modal-header center teal white-text">
    <h3>{{translations[selectedLanguage].title}}</h3>
    </div>
    
    
    
    <div class="modal-content row">
        
            <div class="col s6">
            <h5>JSON</h5>
            <a class="btn tooltipped" data-position="top" :data-tooltip="translations[selectedLanguage].tool_download" v-on:click="downloadJSON(planboardId)"><i class="material-icons icon">file_download</i><span class="text">{{ translations[selectedLanguage].download_json }}</span></a><br>
            <a v-if="planboardtype !== 1" class="btn tooltipped" data-position="top" :data-tooltip="translations[selectedLanguage].tool_upload" v-on:click="openUploadModal()"><i class="material-icons icon">file_upload</i><span class="text">{{ translations[selectedLanguage].upload_json }}</span></a><br>
            <h5>PDF</h5>
            <a v-if="planboardtype !== 1" class="btn tooltipped" data-position="top" :data-tooltip="translations[selectedLanguage].tool_upload" v-on:click="downloadPDF()"><i class="material-icons icon">file_download</i><span class="text">{{ translations[selectedLanguage].download_pdf }}</span><img v-if="loadingdownloadpdf" class="loading-icon" src="/assets/loading.gif"></a><br>
       
        
        
            <h5>Excel</h5>
            <a v-if="planboardtype !== 1" class="btn tooltipped" data-position="top" :data-tooltip="translations[selectedLanguage].tool_upload" v-on:click="downloadExampleExcel()"><i class="material-icons icon">file_download</i><span class="text">{{ translations[selectedLanguage].upload_excel }}</span></a><br>
            <a v-if="planboardtype !== 1" class="btn tooltipped" data-position="top" :data-tooltip="translations[selectedLanguage].tool_upload" v-on:click="downloadExcel()"><i class="material-icons icon">file_download</i><span class="text">{{ translations[selectedLanguage].download_excel }}</span></a><br>
            
            <label v-if="planboardtype === 1" for="file-upload" class=" btn"> <i class="material-icons icon">file_upload</i><span class="text">{{ translations[selectedLanguage].upload_excel }}</span>
                    <input name="file-upload" class="file-upload" @change="uploadExcel($event)" type="file">  
                </label>
                  
      
            <h5>Other</h5>
             <a v-if="planboardtype !== 1" class="btn delete-button red tooltipped" data-position="top" :data-tooltip="translations[selectedLanguage].tool_empty" v-on:click="emptyPlanboard()"><i class="material-icons icon">file_upload</i><span class="text">{{ translations[selectedLanguage].empty_planboard }}</span></a><br>
            </div>
            <div class="cols s6">
                <h5>{{ translations[selectedLanguage].sub }}</h5>
                A Period<br>
B Transport<br>
C Label<br>
D Street<br>
E Zipcode<br>
F City<br>
G Country<br>
H Productnaam item<br>
I Code item<br>
J Commission item<br>
{{ translations[selectedLanguage].period_transport }}<br>
{{ translations[selectedLanguage].fields_empty }}<br>
{{ translations[selectedLanguage].k_higher }}<br>

            </div>
        </div>
        <div class="modal-footer">
               
            <button @click="closeModal()" class="btn btn-flat modal-close">{{ translations[selectedLanguage].close }}</button>
            <!-- <button @click="closeModal()" class="btn btn-flat disabled">add</button> -->
        </div>
    </div>
</template>
<script>
export default {
    name: "ImportExportModal",
    props: {
      planboardtype:String,
    },
    data: function () {
        return {
      
            modalInstance:'',
            periods:[],
            transports:[],
            addressList:[],
            address:{street:"",zipcode:"",city:"",country:""},
            planboardId:"",
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
            selectedLanguage:"en",
            translations: {
                "en": {
                    "title":"Import/ export",
                    "sub":"Import from Excel",
                    "close":"Close",
                    "download_json":"Download JSON",
                    "upload_json":"Upload JSON",
                    "download_excel":"Download Excel",
                    "download_pdf":"Download PDF",
                    "upload_excel":"Upload excel",
                    "template_excel": "Download Template",
                    "empty_planboard":"Maak planboard leeg",
                    "period_transport":"Period and Transport can not be empty.",
                    "fields_empty":"The rest of the cells can be empty.",
                    "k_higher":"K or higher will be neglected.",
                    "tool_upload":"Upload een jsonfile naar uw planboard.",
                    "tool_download":"Download een jsonfile van uw planboard",
                    "tool_empty":"Leeg uw planboard, transports periodes locaties en items worden niet opgeslagen."
                    


        
                },
                "nl": {
                    "title":"Import/ export",
                    "sub":"Import vanuit Excel",
                    "close":"Sluit",
                    "period_transport":"Periode EN transport moeten ingevuld zijn.",
                    "fields_empty":"De rest van de velden mogen leeg zijn.",
                    "k_higher":"Alles wat ingevuld wordt in k of hoger wordt niet meegenomen",
                    "settings":"Planboard instellingen",
                    "transport_settings":"Transport instellingen",
                    "map":"Toon kaart",
                    "time":"Toon tijden",
                    "circular":"Circulaire route",
                    "name":"Naam",
                    "name_empty":"Naam kan niet leeg zijn",
                    "description":"Omschrijving",
                    "start_address" : "Startlocatie",
                    "select_start":"Selecteer een startlocatie",
                    "no_start":"Geen startlocatie",
                    "scratch":"Start met een leeg planboard, u kunt uw eigen tijdsperiodes en transporten toevoegen.",
                    "template":"Start met een planboard gebasseerd op een template, U kunt een zelfgemaakte template kiezen of een van de voorbeeldtemplates.",
                    "start_explain":"Een startaddress wordt gebruikt als het eerste address van elke tegel in uw planboard.",
                    "transport_settings":"Transport instellingen",
                    "start_location": "Planboard startlocatie",
                    "download_json":"Download JSON",
                    "upload_json":"Upload JSON",
                    "download_excel":"Download Excel",
                    "download_pdf":"Download PDF",
                    "upload_excel":"Upload excel",
                    "empty_planboard":"Maak planboard leeg",
                    "is_removed": "is verwijderd",
                    "show_map":"toont nu voor alle periodes een kaart",
                    "show_time":"toont nu voor alle periodes de tijden",
                    "show_circular": "is nu voor alle periodes een circulaire route",
                    "no_show_map":"toont nu voor alle periodes geen kaart meer",
                    "no_show_time":"toont nu voor alle periodes geen tijden meer",
                    "no_show_circular": "is nu voor alle periodes geen circulaire route meer",
                    "no_startlocation": "Geen startlocatie",
                    "save":"Opslaan",
                    "tool_start":"De startlocatie wordt gezet voor alle tegels.",
                    "tool_map":"Toon kaarten voor alle periodes met dit transport.",
                    "tool_time":"Toon tijden voor alle transports met deze periode.",
                    "tool_circ":"A circular route ends at the same location as where it started",
                    "tool_upload":"Upload een jsonfile naar uw planboard.",
                    "tool_download":"Download een jsonfile van uw planboard",
                    "tool_empty":"Leeg uw planboard, transports periodes locaties en items worden niet opgeslagen."
                }
            },
            message :"",
            cells:[],
            loadingdownloadpdf:false,

            
          
            
        }
    },

    mounted() {
        
        M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['planboard-modal'], {

        });

        M.updateTextFields();
        
       
        
    },
    updated(){
        M.updateTextFields();
    },
    watch: {
    
    },

    methods: {
        
        openModal(periods,transports,addressList,selectedLanguage,startLocation,planboardId,planboardtype,planboardlabel,planboarddescription,token,cells) {
            this.modalInstance.open();
            this.address = startLocation
            this.name = planboardlabel
            this.description = planboarddescription
            this.addressList = addressList
            this.periods = periods
            this.transports = transports
            this.selectedLanguage = selectedLanguage
            this.planboardId = planboardId
            console.log(periods,transports)
            this.message = ""
            this.planboardtype = planboardtype
            this.token = token
            this.cells = cells
            M.updateTextFields();
            this.isFormValid()
            let overlay = document.querySelector('.modal-overlay')
       
            overlay.addEventListener('click', this.closeModal);
            //overlay.addEventListener('@click',this.closeModal())
        },
        closeModal() {
            this.modalInstance.close();
        },
        showMap(transport,action){
            this.$emit('showMaps',transport,action)
            if (action){
                this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].show_map
                return
            }
            this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].no_show_map
        },
        showTime(transport,action){
            this.$emit('showTimes',transport,action)
            if (action){
                this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].show_time
                return
            }
            this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].no_show_time
            
        },
        circRoute(transport,action){
            this.$emit('circRoutes',transport,action)
            if(action){
                this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].show_circular
                return
            }
            this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].no_show_circular
        },
        setAddress(address){
            this.address = address
            this.$emit('setStartlocation',address)
        },
        checkObject(object,keys,output = 'string'){

            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            if(object[keys[x]] === "no_startlocation"){
                                return this.translations[this.selectedLanguage].no_startlocation
                            }
                            return object[keys[x]]+", "
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        downloadJSON(){
            console.log(this.planboardId)
            this.$emit('downloadJSON',this.planboardId)
        },
        openUploadModal(){
            this.closeModal();
            this.$emit('openUploadModal')
        },
        emptyPlanboard(){
            this.$emit('emptyPlanboard')
        },
        isFormValid() {
            return this.formValid = this.nameValid && this.descriptionValid;
        },
        downloadExcel(){
            //console.log("download excel",this.planboardId)
            window.location.href = this.planboardId+'/excel' 
        },
        uploadExcel(event) {
            //console.log(event)

            const file = event.target.files[0];
          
            this.uploadError = false;
            this.uploadMessage = ''
            this.uploaded = false;

            const supportedMimeTypes = ['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel']

            //Check if the file type is a xls file
            if(!supportedMimeTypes.includes(file.type)) {
                this.uploadError = true;
                this.uploadMessage = this.translations[this.selectedLanguage].only_xls_files;
                return;
            }

            const data = new FormData();
            data.append('file', file);
          
            const config = {
                headers: {
                    'Content-type' : ' multipart/form-data',
                    'Accept': ' multipart/form-data',
                    'Authorization' : 'Bearer ' + this.token
                },
                responseType: 'json'
            }

            const vm = this;

            axios.post('/api/import-excel', data, config).then((response) => {
                //console.log(response.data.data);
                let data = []
                for (const key in response.data.data) {
                    data.push(response.data.data[key])
            //console.log(`${key}: ${excelData.data[key]}`);
                }
                //console.log(data)
                this.$emit('uploadExcel',{data:data,headers:response.data.headers})

            }).catch((error) => {
                console.log(error.response.data);
            })

        },
        downloadPDF(){
            
            window.open(this.planboardId+'/pdf', '_blank').focus();
           
    
        },
        downloadExampleExcel(){
            window.location.href = '/excelTemplate'
        }
    },
    
}
</script>
<style scoped>

    .activate{
        color:white;
        width: 25px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    .activate:active{
        box-shadow: none;
        background-color: rgb(1, 94, 1);
    }
    .deactivate{
        background-color: red;  
        color: white;
        width: 25px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
    }
    .dropdown-content{
        height: 300px;

    }
  
    .filler{
        width: 100%;
        height: 60px;
    }
    .modal{
        overflow: visible;
    }
    .modal-header{
        width: 100.1%;
        padding: 50px 0 25px 0;
    }
    .modal-content{
        overflow-y: scroll;
        height: 400px;
    }
    h2{
        margin: 0;
    }
    .btn{
        position: relative;
        min-width: 200px;
        margin: 5px;
    }
    .icon{
        position: absolute;
        top:0;
        left:5px;
    }
    .text{
        position: absolute;
        top:0;
        left:30px;
        text-align: left;
    }
    .file-upload{
        position: absolute;
        top:0;
        width: 200px;
        left:0;
        opacity: 0;
        padding:15px;

    }
    .upload-button{
        position: relative;
        width: 200px;
        font-size: 1.5rem;
        text-align: center;
        color:white;
        padding:15px;
       
    }
    .empty-button{
        /* width: 100%; */
    }
    .delete-button{
        width: 300px !important;
    }
    .loading-icon{
        position: absolute;
        top:10%;
        right:5px;
        height: 80%;
    }

</style>