<template>
    <div class="modal" id="inviteModal" ref="inviteModal">
        <div class="modal-content">
            <h4>{{ translations[selectedLanguage].invite_new_user }}</h4>
            <div class="row">
                <div class="col s12 input-field">
                    <input type="text" :placeholder="translations[selectedLanguage].firstname" v-bind:class="{'invalid' : firstNameInvalid}" id="firstName" v-model="firstName" required>
                    <label for="firstName">{{ translations[selectedLanguage].firstname }}</label>
                    <span v-bind:class="{'red-text' : firstNameInvalid}" class="helper-text">{{ firstNameMessage }}</span>
                </div>
                <div class="col s12 input-field">
                    <input type="text" :placeholder="translations[selectedLanguage].lastname" v-bind:class="{'invalid' : lastNameInvalid}" id="lastName" v-model="lastName" required>
                    <label for="lastName">{{ translations[selectedLanguage].lastname }}</label>
                    <span v-bind:class="{'red-text' : lastNameInvalid}" class="helper-text">{{ lastNameMessage }}</span>
                </div>
                <div class="col s12 input-field">
                    <input type="email" placeholder="Email" v-bind:class="{'invalid' : emailInvalid}" id="email" v-model="email" required>
                    <label for="email">Email</label>
                    <span v-bind:class="{'red-text' : emailInvalid}" class="helper-text">{{ emailMessage }}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{ translations[selectedLanguage].cancel }}</a>
            <a @click="sendEmail" v-bind:class="{'disabled' : !formValid}" href="#!" class="waves-effect waves-green btn-flat">{{ translations[selectedLanguage].send_email }}</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "InviteUserModal",
    data: function () {
        return {
            firstName: '',
            lastName: '',
            email: '',
            emailInvalid: false,
            firstNameInvalid: false,
            lastNameInvalid: false,
            formValid:false,
            firstNameValid: false,
            lastNameValid: false,
            emailValid: false,
            emailMessage: '',
            firstNameMessage : '',
            lastNameMessage: '',
            translations: {
                "en" : {
                    "invite_new_user": "Invite a new user",
                    "firstname": "First name",
                    "lastname": "Last name",
                    "send_email": "Send email",
                    "cancel": "Cancel",

                    "firstname_empty": "First name can not be empty",
                    "lastname_empty": "Last name can not be empty",
                    "email_empty": "Email can not be empty",
                    "email_invalid": "Email is not valid",
                    "invite_sent": "Sent invitation succesfully",
                    "invite_error": "An error has occurred while sending invitation"
                },
                "nl" : {
                    "invite_new_user": "Nodig een nieuwe gebruiker uit",
                    "firstname": "Voornaam",
                    "lastname": "Achternaam",
                    "send_email": "Stuur email",
                    "cancel": "Annuleren",

                    "firstname_empty": "Voornaam kan niet leeg zijn",
                    "lastname_empty": "Achternaam kan niet leeg zijn",
                    "email_empty": "Email kan niet leeg zijn",
                    "email_invalid": "Email is niet geldig",
                    "invite_sent": "De invite is succesvol gestuurd",
                    "invite_error": "Er is een fout opgetreden tijdens het sturen van de uitnodiging"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang
        }
    },

    watch: {
        firstName(newVal) {
            if(newVal.trim() === '') {
                this.firstNameInvalid = true;
                this.firstNameValid = false;
                this.firstNameMessage = this.translations[this.selectedLanguage].firstname_empty;
            } else {
                this.firstNameInvalid = false;
                this.firstNameValid = true;
                this.firstNameMessage = '';
            }
            this.isFormValid();
        },
        lastName(newVal) {
            if(newVal.trim() === '') {
                this.lastNameInvalid = true;
                this.lastNameValid = false;
                this.lastNameMessage = this.translations[this.selectedLanguage].lastname_empty;
            } else {
                this.lastNameInvalid = false;
                this.lastNameValid = true;
                this.firstNameMessage = '';
            }
            this.isFormValid();
        },
        email(newVal) {
            if(newVal.trim() === '') {
                this.emailValid = false;
                this.emailMessage = this.translations[this.selectedLanguage].email_empty;
                this.emailInvalid = true;

            } else if(!this.isValidEmail(newVal)) {
                this.emailValid = false;
                this.emailMessage = this.translations[this.selectedLanguage].email_invalid;
                this.emailInvalid = true;

            } else {
                this.emailValid = true;
                this.emailMessage = '';
                this.emailInvalid = false;
            }
            this.isFormValid();
        }
    },

    methods : {
        isFormValid() {
            this.formValid = this.firstNameValid && this.emailValid && this.lastNameValid;
        },

        isValidEmail: function (email) {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)
        },

        sendEmail() {
            if(this.email.trim() === '' || this.firstName.trim() === '' || this.lastName.trim() === '') {
                return;
            }

            const data = new FormData();

            data.append('firstName', this.firstName);
            data.append('lastName', this.lastName);
            data.append('email', this.email);

            const config = {
                responseType: 'json'
            }

            const vm = this;

            axios.post('/user/invitations/invite-user-by-email', data, config).then((response) => {
                vm.cleanModal();
                M.toast({html: this.translations[this.selectedLanguage].invite_sent, classes: "green"});
                vm.$emit('closeModal', this.$refs['inviteModal'])
            }).catch((err) => {
                console.error(err);
                M.toast({html: this.translations[this.selectedLanguage].invite_error, classes: "red"});
            })
        },

        cleanModal() {
            console.log('clean the modal')
        }
    }
}
</script>

<style scoped>

</style>
