<template>
    <div :ref="'planboard-modal'" id="planboard-modal" class="modal">
    <div class="modal-header center teal white-text">
    <h3>{{translations[selectedLanguage].settings}}</h3>
    </div>
    
    
    
    <div class="modal-content row">
        <div class="col s6">
            <h5>{{translations[selectedLanguage].info}}</h5>  
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : nameError}" type="text" name="name" id="name" v-model="name" required>
            <label class="active" for="name">Name</label>
            <span v-bind:class="{'red-text' : nameError}" class="helper-text">{{ nameMessage }}</span>
        </div>
        <div class="col s12 input-field">
            <input v-bind:class="{'invalid' : descriptionError}" type="text" name="description" id="description" v-model="description" required>
            <label class="active" for="description">Description</label>
            <span v-bind:class="{'red-text': descriptionError}" class="helper-text">{{ descriptionMessage }}</span>
        </div>
         <button @click="updatePlanboard" v-bind:class="{'disabled' : !formValid}" type="submit" class="btn btn-waves">{{translations[selectedLanguage].save}}</button>
        </div>
        <h5>{{translations[selectedLanguage].start_location}}</h5>
        <div class="col s6">
        
            <a class="dropdown-trigger btn tooltipped" data-position="top" data-tooltip="A startlocation will be set for all tiles in the planboard, choose this option if all your transport start from the same location" href='#' data-target='dropdown1'>{{checkObject(address,["label"])}} {{checkObject(address,["street"])}}{{checkObject(address,["zipcode"])}}{{checkObject(address,["city"])}}{{checkObject(address,["country"])}}</a>
            <ul id='dropdown1' class='dropdown-content center'>
                <li v-for="address in addressList">
                    <a @click="setAddress(address)">{{checkObject(address,["label"])}} {{checkObject(address,["street"])}}{{checkObject(address,["zipcode"])}}{{checkObject(address,["city"])}}{{checkObject(address,["country"])}}</a>
                </li>
   
                <li class="divider" tabindex="-1"></li>
                <li>
                    <a @click="setAddress({label:'no_startlocation'})">{{ translations[selectedLanguage].no_start }}</a>
                </li>
   
            </ul>
            <div class="row">
                <h5>Defaults</h5>
           
           <div class="col s6">
            
           <h6>Item time</h6>
               <input @change="setDefaults(item_time,overhead_time)" type="number" v-model="item_time" name="item_time">minutes
           </div>
           <div class="col s6">
           <h6>Overhead time</h6>
               <input @change="setDefaults(item_time,overhead_time)" type="number" v-model="overhead_time" name="overhead_time">minutes
          
       </div>
       </div>
        </div>
        
            <div class="center teal-text">{{message}}</div>
        </div>
            
        <div class="modal-footer">
             <!-- <div class="slider" id="slider">                 
                <input type="range" min="1" max="9" value="5" v-model="cols" class="slider-input" @mousedown="slide()">
            </div>   -->
            <button @click="closeModal()" class="btn btn-flat modal-close">close</button>
            <!-- <button @click="closeModal()" class="btn btn-flat disabled">add</button> -->
        </div>
    </div>
</template>
<script>
export default {
    name: "SettingsModal",
    props: {
      
    },
    data: function () {
        return {
      
            modalInstance:'',
            periods:[],
            transports:[],
            addressList:[],
            address:{street:"",zipcode:"",city:"",country:""},
            planboardId:"",
            name: '',
            description: '',
            nameError: false,
            nameValid: false,
            nameMessage: '',
            descriptionError: false,
            descriptionMessage: '',
            descriptionValid: false,
            formValid: false,
            selectedLanguage:"en",
            translations: {
                "en": {
                    "settings":"Planboard settings",
                    "transport_settings":"Transport settings",
                    "map":"Show map",
                    "time":"Show time",
                    "circular":"Circular route",
                    "name":"Name",
                    "name_empty":"Name can not be empty",
                    "description":"Description",
                    "start_address" : "Start location",
                    "select_start":"Select a starting address",
                    "no_start":"No starting location",
                    "scratch":"Start your planboard from scratch, choose your own time periods and transporters.",
                    "template":"Start from a template planboard, You can choose a selfmade template or one of the example templates.",
                    "start_explain":"A starting address will be used as the first address on every tile in your planboard.",
                    "transport_settings":"Transport settings",
                    "start_location": "Planboard start location",
                    "download_json":"Download JSON",
                    "upload_json":"Upload JSON",
                    "download_excel":"Download excel",
                    "upload_excel":"Upload excel",
                    "download_pdf":"Download PDF",
                    "empty_planboard":"Empty planboard",
                    "is_removed": "is removed",
                    "show_map":"shows a map for every period",
                    "show_time":"shows durations for every period",
                    "show_circular": "only has circular routes now",
                    "no_show_map":"does not show a map for every period anymore",
                    "no_show_time":"does not show durations for every period anymore",
                    "no_show_circular": "does not have any circular routes anymore",
                    "no_startlocation": "No start location",
                    "save":"Save",
                    "tool_start":"A startlocation will be set for all tiles in the planboard, choose this option if all your transport start from the same location",
                    "tool_map":"Show maps for all periods with this transport.",
                    "tool_times":"Show durations for all periods with this transport.",
                    "tool_circ":"A circular route ends at the same location as where it started",
                    "tool_upload":"Upload your downloaded json file to this planboard, the json will be added to your planboard so you might want to empty it first.",
                    "tool_download":"Download a jsonfile from your planboard. This jsonfile can be uploaded in another planboard",
                    "tool_empty":"Empty your planboard, transports periods locations and orders will not be saved.",
                    "info":"Planboard information"


        
                },
                "nl": {
                    "settings":"Planboard instellingen",
                    "transport_settings":"Transport instellingen",
                    "map":"Toon kaart",
                    "time":"Toon tijden",
                    "circular":"Circulaire route",
                    "name":"Naam",
                    "name_empty":"Naam kan niet leeg zijn",
                    "description":"Omschrijving",
                    "start_address" : "Startlocatie",
                    "select_start":"Selecteer een startlocatie",
                    "no_start":"Geen startlocatie",
                    "scratch":"Start met een leeg planboard, u kunt uw eigen tijdsperiodes en transporten toevoegen.",
                    "template":"Start met een planboard gebasseerd op een template, U kunt een zelfgemaakte template kiezen of een van de voorbeeldtemplates.",
                    "start_explain":"Een startaddress wordt gebruikt als het eerste address van elke tegel in uw planboard.",
                    "transport_settings":"Transport instellingen",
                    "start_location": "Planboard startlocatie",
                    "is_removed": "is verwijderd",
                    "show_map":"toont nu voor alle periodes een kaart",
                    "show_time":"toont nu voor alle periodes de tijden",
                    "show_circular": "is nu voor alle periodes een circulaire route",
                    "no_show_map":"toont nu voor alle periodes geen kaart meer",
                    "no_show_time":"toont nu voor alle periodes geen tijden meer",
                    "no_show_circular": "is nu voor alle periodes geen circulaire route meer",
                    "no_startlocation": "Geen startlocatie",
                    "save":"Opslaan",
                    "tool_start":"De startlocatie wordt gezet voor alle tegels.",
                    "tool_map":"Toon kaarten voor alle periodes met dit transport.",
                    "tool_time":"Toon tijden voor alle transports met deze periode.",
                    "tool_circ":"A circular route ends at the same location as where it started",
                    
                }
            },
            message :"",
            planboardtype:"",
            cells:[],
            cols:0,
            item_time:2,
            overhead_time:10,
            organisation_itemtime:null,
            organisation_overheadtime:null,
            
          
            
        }
    },

    mounted() {
        
        M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['planboard-modal'], {

        });

        M.updateTextFields();
    
        
       
        
    },
    updated(){
        M.updateTextFields();
    },
    watch: {
        name: function (newVal) {
            if(newVal.trim() === '') {
                this.nameMessage = 'Name cannot be empty';
                this.nameValid = false;
                this.nameError = true;
            }
            else {
                this.nameMessage = ''
                this.nameValid = true;
                this.nameError = false;
            }
            this.isFormValid()
        },

        description: function (newVal) {
            if(newVal.trim() === '') {
                this.descriptionMessage = 'Description cannot be empty';
                this.descriptionValid = false;
                this.descriptionError = true;
            } else {
                this.descriptionValid = true;
                this.descriptionError = false;
                this.descriptionMessage = '';
            }
            this.isFormValid();
        }
    },

    methods: {
        
        openModal(periods,transports,addressList,selectedLanguage,startLocation,planboardId,planboardtype,planboardlabel,planboarddescription,token,cells,organisation_overheadtime,organisation_itemtime,defaults) {
            this.organisation_itemtime = organisation_itemtime
            this.organisation_overheadtime = organisation_overheadtime
            
            this.modalInstance.open();
            this.address = startLocation
            this.name = planboardlabel
            this.description = planboarddescription
            this.addressList = addressList
            this.periods = periods
            this.transports = transports
            this.selectedLanguage = selectedLanguage
            this.planboardId = planboardId
            console.log(periods,transports)
            this.message = ""
            this.planboardtype = planboardtype
            this.token = token
            this.cells = cells
            console.log(this.cells);
            M.updateTextFields();
            this.isFormValid()
            let overlay = document.querySelector('.modal-overlay')
           console.log(organisation_overheadtime)
            if(defaults.itemTime == 1 && defaults.overheadTime == 10){
                this.item_time = organisation_itemtime
            this.overhead_time = organisation_overheadtime
            }else{
                this.item_time = defaults.itemTime
                this.overhead_time = defaults.overheadTime
            }
            
            overlay.addEventListener('click', this.closeModal);
            //overlay.addEventListener('@click',this.closeModal())
        },
        closeModal() {
            this.modalInstance.close();
        },
        setAddress(address){
            this.address = address
            this.$emit('setStartlocation',address)
        },
        checkObject(object,keys,output = 'string'){

            for(let x = 0;x <= keys.length;x++){
                if(object !== ""){
                    if(typeof object !== "undefined" && object !== null && typeof object[keys[x]] !== "undefined" && object[keys[x]] !== ""  && object[keys[x]] !== null)
                    {
                        if(output === 'string'){
                            if(object[keys[x]] === "no_startlocation"){
                                return this.translations[this.selectedLanguage].no_startlocation
                            }
                            return object[keys[x]]+", "
                        }
                        return true
                    }
                    
                }
            
            }
            if(output === 'string'){
                return ""
            }
            return false
        },
        downloadJSON(){
            this.$emit('downloadJSON',this.planboardId)
        },
        openUploadModal(){
            this.closeModal();
            this.$emit('openUploadModal')
        },
        emptyPlanboard(){
            if(1){

            }
            this.$emit('emptyPlanboard')
        },
        deleteTransport(transport,key){
            //this.transports.splice(key,1)
            this.$emit('deleteTransport',transport,key)
            this.message = "transport "+transport.label+" "+this.translations[this.selectedLanguage].is_removed
        },
        isFormValid() {
            return this.formValid = this.nameValid && this.descriptionValid;
        },
        updatePlanboard(){
            const vm = this;
            const data = {name: this.name, description: this.description};
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.$attrs.apitoken
                },
                responseType: 'json'
            }
            axios.post(this.planboardId+'/update', data, config).then((response) => {
                console.log(response.data);
               
                window.location.href = "";
                //window.location.href = '../'+response.data.id+"/empty";

            }).catch((error) => {
                console.error(error);
            })
        },
        downloadExcel(){
            console.log("download excel")
        window.location.href = this.planboardId+'/excel' 
        },
        uploadExcel(event) {
            //console.log(event)

            const file = event.target.files[0];
          
            this.uploadError = false;
            this.uploadMessage = ''
            this.uploaded = false;

            const supportedMimeTypes = ['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel']

            //Check if the file type is a xls file
            if(!supportedMimeTypes.includes(file.type)) {
                this.uploadError = true;
                this.uploadMessage = this.translations[this.selectedLanguage].only_xls_files;
                return;
            }

            const data = new FormData();
            data.append('file', file);
          
            const config = {
                headers: {
                    'Content-type' : ' multipart/form-data',
                    'Accept': ' multipart/form-data',
                    'Authorization' : 'Bearer ' + this.token
                },
                responseType: 'json'
            }

            const vm = this;

            //Upload the excel file
            //console.log(data)
            axios.post('/api/import-excel', data, config).then((response) => {
                console.log(response.data);

                // vm.excelData = response.data;
                // vm.addressHeaders = response.data.headers
                // vm.placeHeaders = response.data.headers;
                // vm.transportGroupHeaders =  response.data.headers
                // vm.periodGroupHeaders = response.data.headers;
                // vm.overTimeHeader = response.data.headers;
                // vm.itemTimeHeader = response.data.headers;
                // vm.itemHeader = response.data.headers;
                // vm.selectedAddressHeader = 0
                // vm.selectedPlaceHeader = 0;
                // vm.selectedTransportGroupHeader = 0;
                // vm.selectedPeriodGroupHeader = 0;
                // vm.selectedItemTimeHeader = 0;
                // vm.selectedOverTimeHeader = 0;
                // vm.selectedItemHeader = 0;

                //Set activated to ExcelData
               //console.log(vm.excelData.excelData)

                // let excelKeys = [];

                // if(typeof vm.excelData.excelData !== "undefined") {
                //     excelKeys = Object.keys(vm.excelData.excelData);
                // }

                // excelKeys.forEach((excelKey) => {
                //     vm.excelData.excelData[excelKey].push(true);
                // });

                // vm.uploaded = true

            }).catch((error) => {
                console.log(error.response.data);
            })

        },
        downloadPDF(){
            console.log(this.planboardId)
            //window.location.href = this.planboardId+'/pdf'
    
        },
        slide(){
            console.log("test")
            let modal = document.querySelector(".modal");
            console.log(modal.style)
            modal.style.opacity = "0.5"
            console.log(modal)
        },
        setDefaults(itemTime,overheadTime){
            this.$emit('setDefaults',itemTime,overheadTime);
        }
    },
    
}
</script>
<style scoped>

    .activate{
        color:white;
        width: 25px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    .activate:active{
        box-shadow: none;
        background-color: rgb(1, 94, 1);
    }
    .deactivate{
        background-color: red;  
        color: white;
        width: 25px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
    }
    .dropdown-content{
        height: 300px;

    }
  
    .filler{
        width: 100%;
        height: 60px;
    }
    .modal{
        overflow: visible;
    }
    .modal-header{
        width: 100.1%;
        padding: 50px 0 25px 0;
    }
    .modal-content{
        overflow-y: scroll;
        height: 400px;
    }
    h2{
        margin: 0;
    }
    .btn{
        position: relative;
        min-width: 200px;
        margin: 5px;
    }
    .icon{
        position: absolute;
        top:0;
        left:5px;
    }
    .text{
        position: absolute;
        top:0;
        left:30px;
        text-align: left;
    }
    .file-upload{
        position: absolute;
        top:0;
        width: 200px;
        left:0;
        opacity: 0;
        padding:15px;

    }
    .upload-button{
        position: relative;
        width: 200px;
        font-size: 1.5rem;
        text-align: center;
        color:white;
        padding:15px;
       
    }




    /* The switch - the box around the slider */
.button {
  position: relative;
  display: inline-block;
  max-width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.button input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;

  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    


    

</style>