<template>
    <div :ref="'save-template-modal'" id="save-template-modal" class="modal">
        <div class="modal-header teal white-text">
            <h2 class="center">Save Template</h2>
        </div>
        
        <div class="modal-content hide-scroll center">
            
            <p>You can save your planboard as a template. The template will appear in the templates tab.
                A template is a unfilled version of your planboard.
            </p>
            <div class="input-field col s11">
                        <i class="material-icons prefix">label</i>
                        <input  type="text" id="label" v-model="label" ref="label" name="label">
                        <label for="address">Label</label>
            </div>
            <div class="input-field col s11">
                        <i class="material-icons prefix">description</i>
                        <input type="text" id="description" v-model="description"  name="label">
                        <label for="address">Description</label>
            </div>
            
               
      
    
        <div class="modal-footer">
            <button @click="closeModal" class="btn btn-flat modal-close">cancel</button>
            <button @click="saveTemplate" class="btn btn-flat">add</button>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SaveTemplateModal",
    props: {
      
    },
    data: function () {
        return {
           
            modalInstance:'',
            label:'',
            description:'',
            cells:[],
            apitoken:"",
            organisationId:""
           
           
        }
    },

    mounted() {
        
        //M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['save-template-modal'], {

        });
        //this.getTemplates();
       
        
    },

    methods: {
        
        openModal(cells,token,organisationId) {
            let vm = this
            this.modalInstance.open();
             M.updateTextFields()
             vm.cells = cells
             this.apitoken = token
             this.organisationId = organisationId
             let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
            this.$refs.label.focus()
        },

        closeModal() {
            this.modalInstance.close();
        },
        saveTemplate() {
            //console.log(this.json)
            let json = JSON.parse(JSON.stringify(this.cells))
            
            json.forEach((row)=>{
                row.forEach((cell)=>{
                    cell.locations = [];
                    cell.transport.selected = false;
                    cell.transport.total_time = 0;
                    cell.transport.total_item_time = 0
                })
            })
            
            json = this.makeJSON(json)
            
           
            
            const data = {
                'templatedata': json,
                'organisationId' : this.organisationId,
                'label':this.label,
                'description':this.description
            }

            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + this.apitoken
                },
                responseType: 'json'
            }

            axios.post('/api/store-template', data, config).then((response) => {
                console.log('saved');
                this.closeModal()
            }).catch((err) => {
                console.error(err)
            })
            //this.getPlanningData()
        },
        makeJSON(template){
            let cell = [];

            template.forEach((transport)=>{
                transport.forEach((period)=>{
                    cell.push(period);
                })
            })
            return {"meta":{"type":"planitems","version":"1.0.0"},cells:cell,addresses:this.addresses};
            
        },
       
    }
}
</script>

<style scoped>
    .modal{
        overflow: visible;
    }
    .modal-header{
        width: 100.1%;
        padding: 50px 0 25px 0;
    }
    .modal-content{
        overflow-y: scroll;
        height: 400px;
    }
    .modal-footer{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .hide-scroll {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

    }
    .hide-scroll::-webkit-scrollbar {
        display: none;
    }

</style>
