<template>
    <div :ref="'settings-modal'" id="settings-modal" class="modal">
        <div class="modal-content center">
            <h2 class="center">{{transport.label}}</h2>
            <h6 class="center">{{period.label}}</h6>
                <div class="row">
                <div class="col s6 settings">
                    <div class="switch card">
                            show map
                            <!-- <i class="material-icons">map</i><br> -->
                            <label>
                                Off
                            <input type="checkbox" @change="showMap(rowKey,colKey)" v-model="transport.map">
                            <span class="lever"></span>
                                On
                            </label>
                    </div>
                    <div class="switch card">
                            show durations
                            <!-- <i class="material-icons">access_time</i><br> -->
                            <label>
                                Off
                            <input type="checkbox" @change="showTime(rowKey,colKey)" v-model="transport.showTime">
                            <span class="lever"></span>
                                On
                            </label>
                    </div> 
                  
                </div>
                
                <div class="col s6">
                    <div v-for="location in cell.locations">
                       <div class="card">{{location.address.street}}<br>{{location.address.zipcode}}<br>{{location.address.city}}</div> 
                </div>
                </div>
                             
                </div>

        
        </div>
        <div class="modal-footer">
               
            <button class="btn btn-flat modal-close">close</button>
            <button class="btn btn-flat disabled">add</button>
        </div>
    </div>
</template>

<script>
export default {
    name: "SettingsModal",
    props: {
        cells:Array,
        size:Number
    },
    data: function () {
        return {
            templates:[],
            modalInstance:'',
            label: '',
            selectedPeriod: [],
            labelError: false,
            selectedPeriodError: false,
            labelMessage: '',
            selectedPeriodMessage: '',
            map:true,
            calc:true,
            circ:true,
            colSize:0,
            cell:{},
            transport:{},
            period:{},
            rowKey:'',
            colKey:''
          
            
        }
    },

    mounted() {
        
        M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['settings-modal'], {

        });
        console.log(this.cells)
        //this.getTemplates();
       
        
    },

    methods: {
        
        openModal(rowKey,colKey) {
            console.log("test")
            this.modalInstance.open();
            //this.$set(this.cell, "cell", this.cells[rowKey][colKey]);
            this.rowKey = rowKey
            this.colKey = colKey
            this.cell = this.cells[rowKey][colKey]
            this.transport = this.cells[rowKey][colKey].transport
            this.period = this.cells[rowKey][colKey].period
        },

        closeModal() {
            this.modalInstance.close();
        },
        showMap(rowKey,colKey){
            this.$emit('showMap',rowKey,colKey,this.transport.map)
        },
        showTime(rowKey,colKey){
            this.$emit('showTime',rowKey,colKey,this.transport.showTime)
        }
        



        
    }
}
</script>

<style scoped>
/* .modal {
    min-width: 100%;
    min-height: 90%;
    margin: 0;
}

.modal .modal-content {
    min-height: 90vh;
} */
.settings{
    text-align: left;
}
.switch{
    padding: 20px 0;
}
 
</style>
