<template>
    <div :ref="'synchronize-modal'" id="synchronize-modal" class="modal">
        <div class="modal-content center">
            <h2 class="center">{{translations[selectedLanguage].synchronize}}</h2>
            <h6 class="center">{{message}}</h6>
        </div>
        <div class="modal-footer">
               
            <button @click="closeModal" class="btn btn-flat modal-close">{{translations[selectedLanguage].close}}</button>
  
        </div>
    </div>
</template>

<script>
export default {
    name: "SynchronizeModal",
    props: {
        
    },
    data: function () {
        return {
            modalInstance:'',
            selectedLanguage:'en',
            message:'synchronizing...',
            cells:[],
            translations: {
                "en": {
                    "synchronize":"Synchronize with OVS",
                    "close":"Close",
                    "success":"Planboard is successfully synchronized with OVS",
                    "fail":"Failed to synchronize the planboard, please try again later"
                },
                "nl": {
                    "synchronize":"Synchroniseer met OVS",
                    "close":"sluiten",
                    "success":"Planboard is gesynchroniseerd met het OVS",
                    "fail":"Synchoniseren van het planboard is niet gelukt, probeer het later nog eens"
                }
            },         
            
        }
    },
    mounted() {
        
       
        this.modalInstance = M.Modal.init(this.$refs['synchronize-modal'], {

        });
        //console.log(this.cells)
        //this.getTemplates();
       
        
    },
    methods:{
        openModal(cells,planningId,organisationId,token,selectedLanguage) {
         
            this.cells = cells
            this.selectedLanguage = selectedLanguage
            //console.log("synchronize",this.translations[this.selectedLanguage].synchronize)
            this.modalInstance.open();
            this.synchronize(cells,planningId,organisationId,token)
             M.AutoInit()
             let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
        },

        closeModal() {
            this.modalInstance.close();
        },

        synchronize(cells,planningId,organisationId,token){
            //this.$emit('synchronize')
            const vm = this;

            const data = {  'planningId':planningId,
                            'organisationId':organisationId,
                         };
            const config = {
                headers: {
                    'Content-Type' : 'application/json',
                    'Accept': ' application/json',
                    'Authorization' : 'Bearer ' + token
                },
                responseType: 'json'
            }
        
            axios.post('/api/synchronize-ovs', data, config).then((response) => {
               
                if (response.data.status === "success"){
                    this.message = this.translations[this.selectedLanguage].success
                }else{
                    this.message = this.translations[this.selectedLanguage].fail
                }
                
                //window.location.href = response.data.id;

            }).catch((error) => {
                console.error(error);
            })
        }
    }
}

</script>


<style scoped>

</style>