<template>
    <div :ref="'upload-modal'" id="upload-modal" class="modal">
        <div class="modal-content center">
            <h2 class="center">Upload a JSON file</h2>
       
            <form>
                <label for="file-upload" class="upload-button teal"> Upload a JSONfile
                    <input name="file-upload" class="file-upload" @change="uploadFile($event)" type="file">  
                </label>
                       
            </form>    
        <div class="message red-text">{{message}}</div>
        <div class="modal-footer">
            <button @click="closeModal()" class="btn btn-flat">{{ translations[selectedLanguage].cancel }}</button>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UploadModalComponent",
    props: {
        periods: Array,
        periodLabels:Array,
        cells:Array
    },
    data: function () {
        return {
            templates:[],
            modalInstance:'',
            label: '',
            selectedPeriod: [],
            labelError: false,
            selectedPeriodError: false,
            labelMessage: '',
            selectedPeriodMessage: '',
            map:true,
            calc:true,
            circ:true,
            translations: {
                "en" : {
                    "select_periodgroup": "Select period group",
                    "transportgroup_label": "Transport group label",
                    "cancel": "Cancel",
                    "add": "Add",

                    "transport_label_empty": "Transport label can not be empty",
                    "select_at_least_one": "Select at least one period",
                    "error":"Unable to make a planboard from this JSON"
                },
                "nl" : {
                    "select_periodgroup": "Selecteer periodegroep",
                    "transportgroup_label": "Transportgroep label",
                    "cancel": "Annuleren",
                    "add": "Toevoegen",

                    "transport_label_empty": "Transport label kan niet leeg zijn",
                    "select_at_least_one": "Selecteer tenminste één periode",
                    "error":"Unable to make a planboard from this JSON"
                }
            },
            languages: ['nl', 'en'],
            selectedLanguage: document.documentElement.lang,
            message:"select a JSONfile to upload"
        }
    },

    mounted() {
        
        //M.AutoInit()
        this.modalInstance = M.Modal.init(this.$refs['upload-modal'], {

        });
        //this.getTemplates();
       
        
    },

    methods: {
        
        openModal() {
            this.modalInstance.open();
             M.updateTextFields()
             let overlay = document.querySelector('.modal-overlay')
            overlay.addEventListener('click', this.closeModal);
        },

        closeModal() {
            this.modalInstance.close();
        },
        uploadFile(event) {
            //console.log(event)

            const file = event.target.files[0];
          
            const fr = new FileReader();

            fr.onload = e => {
                try {
                    const result = JSON.parse(e.target.result);
                    this.$emit('setCells',result)
                    this.closeModal()
                } catch (error) {
                        //console.error(error);
                    //alert(this.translations[this.selectedLanguage].error)
                    this.message = this.translations[this.selectedLanguage].error
                    return 
                }
            
            //console.log(result)
            
            }
            fr.readAsText(file);
            
            
        },
        async fileToJSON(file) {
            return new Promise((resolve, reject) => {
            const fileReader = new FileReader()
            fileReader.onload = event => resolve(JSON.parse(event.target.result))
            fileReader.onerror = error => reject(error)
            fileReader.readAsText(file)

        })
}


        
    }
}
</script>

<style scoped>
    .selectField{
        height: 100px;
    }
    .footnote{
        color: rgb(207, 207, 207);
        margin-top: -6px;
    }
    .periods{
        height: 100px;
        overflow-y: scroll;
    }
    .modal-content{
        padding-bottom:0;

    }
    .menu-item:hover{
        cursor: pointer;
        background-color: #009688;
        color: white;
    }
    .file-upload{
        position: absolute;
        top:0;
        width: 200px;
        left:0;
        opacity: 0;
        padding:15px;

    }
    .upload-button{
        position: relative;
        width: 200px;
        font-size: 1.5rem;
        text-align: center;
        color:white;
        padding:15px;
       
    }
    .message{
        margin: 50px;
    }
</style>
